footer.footer
	.footer__top
		.wrapper-smart.footer__top-line
			form(action="#").wrapper-flex.form.subscribe-footer__form
						.subscribe-footer__slogan
							.subscribe-footer__title ПОДПИСЫВАЙСЯ
							.subscribe-footer__text Узнавай о скидках первым
						
						.subscribe-footer__formblock
							input(autocomplete="off" type="text" name="" class="form__input" placeholder="E-mail")
							p.subscribe-footer__caption Нажимая кнопку "Подписаться" я соглашаюсь с политикой конфиденциальности #[a(href="#") политикой конфиденциальности]
						
						.subscribe-footer__submit
							button.btn(type="submit" data-da="subscribe-footer__formblock,576,1") ПОДПИСАТЬСЯ
	.footer__bottom
		.wrapper-smart
			.wrapper-flex
				.footer__col
					ul.accordion.footer__accordion.accordion-footer(data-breakpoint="480")
						li.accordion__item.accordion-footer__item
							.accordion__link.accordion-footer__link Покупателям
								.accordion-footer__arrow ^
							.accordion__content.hidden
								- var footerList1 = ['Подарочные карты','Сотрудничество', 'Магазины', 'Доставка', 'Оплата', 'Сервис', 'Возврат и гарантия'];
								ul.footer__menu.menu-footer
									each li in footerList1
										li.menu-footer__item
											a(href="#").menu-footer__link= li
				.footer__col
					ul.accordion.footer__accordion.accordion-footer(data-breakpoint="480")
						li.accordion__item.accordion-footer__item
							.accordion__link.accordion-footer__link О компании
								.accordion-footer__arrow ^
							.accordion__content.hidden
								- var footerList2 = ['О нас','Новости','Вакансии','Сертификаты','Наши партнеры','Арендодателям','Контакты'];
								ul.footer__menu.menu-footer
									each li in footerList2
										li.menu-footer__item
											a(href="#").menu-footer__link= li
				.footer__col.footer-rules
					ul.accordion.footer__accordion.accordion-footer(data-breakpoint="480")
						li.accordion__item.accordion-footer__item
							.accordion__link.accordion-footer__link Правовая информация
								.accordion-footer__arrow ^
							.accordion__content.hidden
								- var footerList3 = ['Публичная оферта','Политика конфиденциальности'];
								ul.footer__menu.menu-footer
									each li in footerList3
										li.menu-footer__item
											a(href="#").menu-footer__link= li
				.footer__col.footer-contacts
					.footer-contacts__block
						.footer-contacts__row
							a(href="tel:88002502123").footer-contacts__phone 8 800 250-21-23
						.footer-contacts__caption Бесплатно по РФ

					.footer-contacts__block
						.footer-contacts__row
							a(href="tel:88612128214").footer-contacts__phone 8 861 212-82-14
						.footer-contacts__caption Пн-Пт 7:00-21:00
						.footer-contacts__caption Сб-Вс 9:00-18:00
						
						- var socs = ['soc-vk', 'soc-pint', 'soc-ok', 'soc-tg', 'soc-youtb'];
						ul.socials
							each soc in socs
								li.socials__item
									a(href="#" class="socials__link socials__link--" + soc)
										+icon(soc)

					.footer__ya
						img(src="img/market-logo_v.svg" alt="alt")

					.footer__pays
						- for (var i=0; i < 5; i++)
							.footer__pay
								img(src="img/payments-logos/"+(i+1)+".svg" alt="alt")

				.footer__col.footer-policy
					.footer-policy__wrap
						| Вы соглашаетесь с #[a(href="#") политикой конфиденциальности], оставляя свои персональные данные на сайте kubaninstrument.ru.

				.footer__col.footer-copyright ©2008-2022. Кубань инструмент

