header(class=pageIndex=='013'||pageIndex == '014'||pageIndex == '015'?"header search-results-opened" : "header")
	.header__top
		.wrapper
			.header__top-inner
				a(href="#").header__logo
					picture
						source(srcset='img/ki_logo.svg' media='(max-width: 959.98px)')
						img(src='img/logo.svg' alt='alt')

				.header__contacts
					.header__loc.loc-header#header-location
						button.loc-header__selected
							| Краснодар
							+icon('chev-down')
							+icon('loc')
						.loc-header__panel
							.loc-header__city Ваш город
								a(href="#").loc-header__city-value Краснодар
							.loc-header__city-buttons
								button#city-list-opener.loc-header__no Нет
								button.loc-header__yes Да
					
					a(href="tel:88002502123").header__phone.phone-header
						+icon('phone')
						span.phone-header__val 8 800 250-21-23

				
				.header__menu.menu-header
					button.toggle-mnu.on
						span
					nav.menu-header__body
						ul.menu-header__list
							li.menu-header__item
								a(href="#").menu-header__link Подарочные карты
							li.menu-header__item
								a(href="#").menu-header__link Юр. лицам
							li.menu-header__item
								a(href="#").menu-header__link Магазины
							li.menu-header__item.menu-header__item--for-buyer(data-single-dropdown)
								a(href="#").menu-header__link Покупателям
								button.menu-header__arrow(type='button')
										+icon('chev-down')
								ul.single-dropdown
									- var list1 = ['Подарочные карты','Сотрудничество', 'Магазины', 'Доставка', 'Оплата', 'Сервис', 'Возврат и гарантия'];
									each li in list1
										li.single-dropdown__item
											a.single-dropdown__link(href='#')= li
							li.menu-header__item(data-single-dropdown)
								a(href="#").menu-header__link О компании
								button.menu-header__arrow(type='button')
									+icon('chev-down')
								ul.single-dropdown
									- var list2 = ['О нас','Новости','Вакансии','Сертификаты','Наши партнеры','Арендодателям','Контакты'];
									each li in list2
										li.single-dropdown__item
											a.single-dropdown__link(href='#')= li

	.header__bottom
		.wrapper
			.header__bottom-wrapper
				a(href="#").header__logo-fixed
					img(src="img/logo-fixed.svg" alt="alt")
				button.header__catalog-toggle.catalog-toggle-header#catalog-switcher
					.catalog-toggle__burger
						+icon('ctlg-burger')
						+icon('ctlg-close')
					.catalog-toggle__name Каталог

				header__search.search-header
					form(action="#" class="form").search-header__form
						input(autocomplete="off" type="text" name="search" class="form__input search-header__input form__input--bg" placeholder="Поиск")
						button.search-header__send(type="submit")
							+icon('magnifier')
					a(href="#").header__account
						+icon('user')

				.header__actions
					a(href="#").header__action.header__compare.active
						+icon('compare')
						.header__action-count 2
					a(href="#").header__action.header__favourites.active
						+icon('favourites')
						.header__action-count 10
					a(href="#").header__action.header__basket
						+icon('basket')
						.header__action-count 10

		include ../_blocks/catalog
	
	include ../_blocks/header-search-results
	
	.header__city-list.location-search
		.wrapper.location-search__wrapper
			.location-search__close#location-search-closer
				+icon('ctlg-close')
			.location-search__header
				.location-search__key Ваш город
				.header__search.search-header
					form(action="#" class="form").search-header__form
						input(autocomplete="off" type="text" name="search" class="form__input search-header__input form__input--bg" placeholder="Поиск")
						button.search-header__send(type="submit")
							+icon('magnifier')

			ul.location-search__list
				- var cities = ['Краснодар', 'Москва', 'Самара', 'Нижний Новгород', 'Казань', 'Ставрополь', 'Ростов-на-Дону', 'Волгоград', 'Саратов', 'Воронеж', 'Санкт-Петербург', 'Екатеринбург'];
				each item, i in cities
					li(class=i == 0 ? "location-search__item active" : "location-search__item")
						a(href="#").location-search__link= item