header.header
	.header__top
		.wrapper
			a(href="#").header__logo
				picture
					source(srcset='img/ki_logo.svg' media='(max-width: 940px)')
					img(src='img/logo.svg' alt='alt')

			.header__loc.loc-header
			a(href="tel:88002502123").header__phone.phone-header 8 800 250-21-23

			
			.header__menu.menu-header
				button.toggle-mnu
					span
				nav.menu-header__body
					ul.menu-header__list
						li.menu-header__item
							a(href="#").menu-header__link Подарочные карты
						li.menu-header__item
							a(href="#").menu-header__link Юр. лицам
						li.menu-header__item
							a(href="#").menu-header__link Магазины
						li.menu-header__item(data-single-dropdown)
							a(href="#").menu-header__link Покупателям
							button.menu__arrow(type='button') >
							ul.single-dropdown
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №1
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №2
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №3
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №4
						li.menu-header__item(data-single-dropdown)
							a(href="#").menu-header__link Покупателям
							button.menu__arrow(type='button') >
							ul.single-dropdown
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №1
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №2
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №3
								li.single-dropdown__item
									a.single-dropdown__link(href='#') Product №4