header(class=pageIndex=='013'|| pageIndex == '014'|| pageIndex == '015'?"header search-results-opened covered" : pageIndex == 'landing'? "header header-ld": "header")
	.header__top
		.wrapper.p-12
			.header__top-inner
				a(href="index.html").header__logo
					picture
						source(srcset='img/ki_logo.svg' media='(max-width: 959.98px)')
						img(src='img/logo.svg' alt='alt')

				.header__contacts
					.header__loc.loc-header#header-location
						button.loc-header__selected
							| Краснодар
							+icon('chev-down')
							+icon('loc')
						//- .loc-header__panel
						//- 	.loc-header__city Ваш город
						//- 		a(href="#").loc-header__city-value Краснодар
						//- 			+icon('chev-down')
						//- 	.loc-header__city-buttons
						//- 		button#city-list-opener.loc-header__no Нет
						//- 		button.loc-header__yes Да
					
					a(href="tel:88002502123").header__phone.phone-header
						+icon('phone')
						span.phone-header__val 8 800 250-21-23

				
				.header__menu.menu-header
					nav.menu-header__body
						ul.menu-header__list
							li.menu-header__item
								a(href="#").menu-header__link Подарочные карты
							li.menu-header__item
								a(href="#").menu-header__link Юр. лицам
							li.menu-header__item
								a(href="#").menu-header__link Магазины
							li.menu-header__item.menu-header__item--for-buyer(data-single-dropdown)
								a(href="#").menu-header__link Покупателям
								button.menu-header__arrow(type='button')
										+icon('chev-down')
								ul.single-dropdown
									- var list1 = ['Подарочные карты','Сотрудничество', 'Магазины', 'Доставка', 'Оплата', 'Сервис', 'Возврат и гарантия'];
									each li in list1
										li.single-dropdown__item
											a.single-dropdown__link(href='#')= li
							li.menu-header__item(data-single-dropdown)
								a(href="#").menu-header__link О компании
								button.menu-header__arrow(type='button')
									+icon('chev-down')
								ul.single-dropdown
									- var list2 = ['О нас','Новости','Вакансии','Сертификаты','Наши партнеры','Арендодателям','Контакты'];
									each li in list2
										li.single-dropdown__item
											a.single-dropdown__link(href='#')= li
				if pageIndex == 'landing'
					button.ld-burger#ld-nav-toggler
						+icon('ld-burger')
		include ../_blocks/catalog

	
	.header__bottom
		.wrapper.p-12
			.header__bottom-wrapper
				a(href="#").header__logo-fixed
					img(src="img/logo-fixed.svg" alt="alt")
				button.header__catalog-toggle.catalog-toggle-header#catalog-switcher
					.catalog-toggle__burger
						+icon('ctlg-burger')
						+icon('ctlg-close')
					//- .catalog-toggle__name Каталог
					.catalog-toggle__type
						svg(width='74' height='14' viewBox='0 0 74 14' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M2.552 13.0001H0.423996V1.0001H2.552V6.47211L7.416 1.0001H8.952V2.15211L4.744 6.80811L9.352 11.7841V13.0001H7.672L2.552 7.48011V13.0001Z')
							path(d='M9.91187 13.0001V11.8801L14.2319 1.0001H16.1519L20.4559 11.7201V13.0001H18.7439L17.6079 10.0721H12.6799L11.5439 13.0001H9.91187ZM15.1439 3.57611L13.3199 8.32811H16.9679L15.1439 3.57611Z')
							path(d='M23.6402 2.79211H19.9602V1.0001H29.4482V2.79211H25.7682V13.0001H23.6402V2.79211Z')
							path(d='M28.8962 13.0001V11.8801L33.2162 1.0001H35.1362L39.4402 11.7201V13.0001H37.7282L36.5922 10.0721H31.6642L30.5282 13.0001H28.8962ZM34.1282 3.57611L32.3042 8.32811H35.9522L34.1282 3.57611Z')
							path(d='M40.0067 11.0321H40.4227C40.9561 11.0321 41.3561 10.6908 41.6227 10.0081C41.8894 9.32544 42.0441 8.20544 42.0867 6.64811L42.2307 1.0001H49.8947V13.0001H47.7507V2.79211H44.1187L44.0387 6.64811C44.0067 7.67211 43.9321 8.58411 43.8147 9.38411C43.6974 10.1734 43.5107 10.8348 43.2547 11.3681C42.9987 11.9014 42.6627 12.3068 42.2467 12.5841C41.8307 12.8614 41.3134 13.0001 40.6947 13.0001H40.0067V11.0321Z')
							path(d='M57.9845 13.1921C57.0885 13.1921 56.2725 13.0374 55.5365 12.7281C54.8112 12.4188 54.1872 11.9868 53.6645 11.4321C53.1525 10.8774 52.7525 10.2214 52.4645 9.46411C52.1765 8.69611 52.0325 7.85877 52.0325 6.95211C52.0325 6.05611 52.1765 5.23477 52.4645 4.48811C52.7525 3.73077 53.1525 3.08011 53.6645 2.53611C54.1872 1.99211 54.8112 1.57077 55.5365 1.27211C56.2725 0.962772 57.0885 0.808105 57.9845 0.808105C58.8805 0.808105 59.6912 0.962772 60.4165 1.27211C61.1525 1.57077 61.7765 1.99211 62.2885 2.53611C62.8112 3.08011 63.2165 3.73077 63.5045 4.48811C63.7925 5.23477 63.9365 6.05611 63.9365 6.95211C63.9365 7.85877 63.7925 8.69611 63.5045 9.46411C63.2165 10.2214 62.8112 10.8774 62.2885 11.4321C61.7765 11.9868 61.1525 12.4188 60.4165 12.7281C59.6912 13.0374 58.8805 13.1921 57.9845 13.1921ZM57.9845 11.4161C58.5712 11.4161 59.0992 11.3094 59.5685 11.0961C60.0378 10.8721 60.4378 10.5628 60.7685 10.1681C61.0992 9.77344 61.3552 9.30411 61.5365 8.76011C61.7178 8.20544 61.8085 7.60277 61.8085 6.95211C61.8085 6.31211 61.7178 5.72544 61.5365 5.19211C61.3552 4.65877 61.0992 4.20011 60.7685 3.81611C60.4378 3.42144 60.0378 3.11744 59.5685 2.90411C59.0992 2.69077 58.5712 2.58411 57.9845 2.58411C57.4085 2.58411 56.8858 2.69077 56.4165 2.90411C55.9472 3.11744 55.5472 3.42144 55.2165 3.81611C54.8858 4.20011 54.6298 4.65877 54.4485 5.19211C54.2672 5.72544 54.1765 6.31211 54.1765 6.95211C54.1765 7.60277 54.2672 8.20544 54.4485 8.76011C54.6298 9.30411 54.8858 9.77344 55.2165 10.1681C55.5472 10.5628 55.9472 10.8721 56.4165 11.0961C56.8858 11.3094 57.4085 11.4161 57.9845 11.4161Z')
							path(d='M66.0802 1.0001H73.1522V2.79211H68.2242V13.0001H66.0802V1.0001Z')


				header__search.search-header
					form(action="#" class="form").search-header__form
						input(autocomplete="off" type="text" name="search" class="form__input search-header__input form__input--bg" placeholder="Поиск")
						button.search-header__send(type="submit")
							+icon('magnifier')
						button.search-header__back(type="button")
							+icon('arrow-left')
					
					a(href="#").header__account
						+icon('user')

				.header__actions
					a(href="#").header__action.header__compare.active
						+icon('compare')
						.header__action-count 2
					a(href="#").header__action.header__favourites.active
						+icon('favourites')
						.header__action-count 10
					a(href="#").header__action.header__basket
						+icon('basket')
						.header__action-count 10

	
		include ../_blocks/header-search-results