.cart-content
	.cart-content__header
		.cart-content__title Ваш заказ
		.cart-content__actions
			label.light-label.cart-content__action
				input(type="checkbox" name="name" class="light-label__input")
				span.light-label__check
				span.light-label__caption выбрать
			
			.cart-content__action
				span.cart-content__action-label
					+icon('remove')