extends _misc/main

block title
	| Template
	- var pageIndex = 'landing';

block content
	.page.page-landing
		section.ld-top._fit
			img._fit-img(src="" alt="alt")

			.wrapper.ld-top__wrapper
				.ld-top__content
					h1.ld-top__title твой инструмент здесь
					a(href="#").btn.btn-sm.btn-red Кнопка

		section.ld-text-block
			.wrapper
				p.ld-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Donec quam felis, ultricies nec
		.ld-video		
			button(type="button" data-micromodal-iframe='http://www.youtube.com/watch?v=8LPVOjjSgDE' data-micromodal-open='video-modal').video-link._fit
					img._fit-img(src="img/page-menu/video-cover.jpg" alt="alt")
					span.play-icon
						img(src="img/play.svg" alt="alt")
		
		section.ld-text-block
			.wrapper
				h2.ld-title Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
				p.ld-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Donec quam felis, ultricies nec
		// include _sections/page-template/template-main-slider

		.wrapper
			.ld-marked-banner._fit
				+priceTooltip('14 729 ₽', true, 20.12, 17.5)
				+priceTooltip('14 729 ₽', true, 29.32, 76.03)
				+priceTooltip('14 729 ₽', true, 73.09, 30.92)
				+priceTooltip('14 729 ₽', true, 84.74, 62.88)
				+priceTooltip('14 729 ₽', true, 84.74, 62.88)
				+priceTooltip('14 729 ₽', true, 84.74, 62.88)
				picture
					source(srcset='img/landing/ld-marked-banner-mob.jpg' media="(max-width: 576px")
					img._fit-img(src="img/landing/ld-marked-banner.jpg" alt="alt")

		.chess
			- var chess = ['Отличный напор воды,  быстро смывает сильную грязь. Огромный плюс - это регулировка давления, можно удалять  разные степени загрязнения.', 'Иногда случаются поломки и отключение электричества. Поэтому стоит обзавестись резервным источником питания.', 'Все, что нужно для работы в гараже. Качество не подводит. Удобно работать, инструмент правильно сделан.'];
			.wrapper-smart
				each item, i in chess
					.wrapper-flex.chess__item.item-chess
						.item-chess__picture
							.item-chess__img
								img(src="img/landing/chess/" + (i+1) + ".png" alt="alt")
						
						.item-chess__content
							p.item-chess__text= item
							a(href="#").btn.btn-sm Купить


		section.ld-text-block
			.wrapper
				h2.ld-title Lorem ipsum dolor sit amet, consectetuer adipiscing elit.

		.ld-video		
			button(type="button" data-micromodal-iframe='http://www.youtube.com/watch?v=8LPVOjjSgDE' data-micromodal-open='video-modal').video-link._fit
					img._fit-img(src="img/page-menu/video-cover.jpg" alt="alt")
					span.play-icon
						img(src="img/play.svg" alt="alt")

		section.ld-text-block
			.wrapper
				p.ld-text Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus Donec quam felis, ultricies nec

		.ld-contents
			- var keys = ['Lorem ipsum dolor sit amet, consectetuer adipiscing elit.','Aenean commodo ligula eget dolor.','Aenean massa.', 'Cum sociis natoque penatibus et magnis dis parturient montes,,nascetur ridiculus mus.', 'Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.', 'Nulla consequat massa quis enim. Donec pede justo, fringilla vel ,aliquet nec, vulputate eget, arcu.','In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.'];

			- var vals = ['134', '22', '11 050', '12', '47', '13', '2'];
			.wrapper
				.ld-contents__row
					.ld-contents__key
					.ld-contents__val

	#video-modal.modal.micromodal-slide.modal-video(aria-hidden='true')
		.modal__overlay(tabindex='-1' data-micromodal-close='')
			.modal__container(role='dialog' aria-modal='true' aria-labelledby='modal-1-title')
				button.modal__close(aria-label='Close modal' data-micromodal-close='')
				main.modal__content

		
block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	script(src="js/libs/micromodal/micromodal.js")
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================