extends _misc/main

block title
	| Юр. лицам
	- var pageIndex = 'menu_008'
block content
	.page
		.wrapper
			+menu('breadcrumbs', ['главная', 'Юр. лицам'])

		+backLink('Юр. лицам', true)

		section.legal-entities
			.wrapper-smart
				.wrapper-flex.text-cols-block
					.text-cols-block__left
						h2.sect-title Юридическим лицам
					
					.text-cols-block__right
						p.std-par Если вы представляете строительную компанию, производственное предприятие, коммунальную службу, бюджетную или торгующую организацию и ищете надежного и удобного для вас поставщика широкого ассортимента инструмента и оборудования, а также расходных материалов, то мы готовы предложить вам максимально удобные и взаимовыгодные условия сотрудничества.
					
					.text-cols-block__img._fit
						img._fit-img(src="img/page-menu/legals-img.jpg" alt="alt")

					.text-cols-block__left
						h2.sect-title Преимущества

					.text-cols-block__right
						p.std-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id. Pharetra magna ac placerat vestibulum. Est lorem ipsum dolor sit. Augue mauris augue neque gravida in fermentum et sollicitudin. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Ac odio tempor orci dapibus ultrices in iaculis nunc.

			- var steps = ['Удобно', 'Выгодно', 'Быстро'];
			.wrapper-smart
				.wrapper-flex.steps
					each item,i in steps
						.step
							.step__img
								img(src="img/page-menu/legals-steps/"+(i+1)+".svg" alt="alt")
							
							.step__content
								.step__title= item
								.step__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
		section.team
			.wrapper
				.team__title Наша команда
				- var leaders = ['Руководители отделов', 'Специалисты'];
			
			.wrapper-smart
				._tabs.team__tabs.wrapper-flex
					ul.tabs__buttons.team__buttons
						each item,i in leaders
							li
								a(class=i==0 ? "tab team__tab active" : "tab team__tab" href='#')= item

					ul.tabs__container.team__container
						li.tab-content.team__content.active
							.team__subtitle Руководители отделов
							.team__grid.wrapper-flex
								- var bosses = ['Рафаэль Арутюнян', 'Роман Хома'];
									each item,i in  bosses
										.team__card.card-team.card-team--boss
											.card-team__img._fit
												img._fit-img(src="img/page-menu/team/bosses/"+(i+1)+".jpg" alt="alt")
											.card-team__info
												.card-team__name= item
												.card-team__role Руководитель контакт-центра
												.card-team__contact
													a(href="tel:+78612128214") +7(861)212-8-214
													span доб. 158
												.card-team__contact
													a(href="mailto:callcenter-3@kubaninstrument.ru") callcenter-3@kubaninstrument.ru
						
						li.tab-content.team__content.hidden
							.team__subtitle Специалисты
							- var managers = ['Мария Маслакова', 'Дмитрий Сорокопудов', 'Дмитрий Ильченко', 'Антон Губин', 'Василий Пасенко', 'Александр Марков', 'Виктор Шубарт', 'Алексей Левченко'];
							.team__grid.wrapper-flex
								each item,i in  managers
									.team__card.card-team.card-team--manager
										.card-team__img._fit
											img._fit-img(src="img/page-menu/team/managers/"+(i+1)+".jpg" alt="alt")
										.card-team__info
											.card-team__name= item
											.card-team__role Менеджер по работе с ключевыми клиентами
											.card-team__contact
												a(href="tel:+78612128214") +7(861)212-8-214
												span.card-team__added #[span.card-team__label доб.] #[span.card-team__plus +]158
											.card-team__contact
												a(href="mailto:callcenter-3@ku.ru") callcenter-3@ku.ru
			
			.wrapper-smart
				.wrapper-flex.team-order.text-cols-block
					.text-cols-block__left
						h2.sect-title Оставьте заявку
					
					.text-cols-block__right
						p.std-par Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id. Pharetra magna ac placerat vestibulum. Est lorem ipsum dolor sit. Augue mauris augue neque gravida in fermentum et sollicitudin. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Ac odio tempor orci dapibus ultrices in iaculis nunc.

						button.btn.btn-lg.btn-order.btn-red оставить заявку



					

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================