extends _misc/main

block title
	| Акция

block content
	.page.page-single-action
		.wrapper
			+menu('breadcrumbs', ['главная', 'акция workmaster'])

		+backLink('Доверь свой газон Workmaster', true)

		section.single-action
			.wrapper-smart
				.wrapper-flex.single-action__wrapper
					.single-action__img._fit
						img._fit-img(src="img/page-menu/single-action-img.jpg" alt="alt")
					.single-action__left
						h2.single-action__title Доверь свой газон Workmaster
					.single-action__right
						p.std-par Начало сезона не за горами, а это значит, что пора выбирать инструмент, которому вы доверите свой газон. Мы советуем присмотреться к надежным триммерам WorkMaster WT-1900B и WorkMaster WT-1800B, а также получить приятные подарки за покупку.

						p.std-par Подарки при покупке :
							br
							| - К Бензокосе WorkMaster WT-1900B дарим в подарок Масло минеральное WorkMaster WM-2T 0.95л
							br
							| - К Триммеру электрическому WorkMaster WT-1800B дарим в подарок Леску для триммера WorkMaster ЛТ-2415АМ и Леску для триммера WorkMaster  ЛТ-3015 WT
							br
							| Срок проведения Акции до окончания товарных запасов. Акция действует в розничных магазинах «Кубань Инструмент» и в нашем интернет-магазине.

		section.page-main-sect
			.wrapper
				h2.sect-title Акционные товары
			.wrapper-smart
				- var cards = [{billet: 'акция', price: '8 390 ₽', sale: '', sbers: '99', tilte: 'Шуруповерт Вихрь СШ-550/1 72/16/2', aval: '4 магазинах', iconActive: '0'}, {billet: 'акция', price: '5 070 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Дрель-шуруповерт Felisatti ДШ-10/260Э 210.5.1.00', aval: '6 магазинах', iconActive: false}];
				.wrapper-flex.product-cards
					+productCard(cards, 'page-menu/single-action-prods/actioned/')

		section.similar
			.wrapper
				.similar__title С этими товарами покупают
			.wrapper-smart
				- var similars = [{billet: '', price: '15 ₽', sale: '', sbers: '1', tilte: 'Леска Husqvarna 2,7мм/240м 5784379-01', aval: '6 магазинах', iconActive: false}, {billet: '', price: '950 ₽', sale: '', sbers: '10', tilte: 'Диск для кустореза GreenWorks 2905907', aval: '6 магазинах', iconActive: false}, {billet: '', price: '2 450 ₽', sale: '', sbers: '', tilte: 'Катушка для триммера Echo Maxi-Cut 215311', aval: false, analog: true, iconActive: false}, {billet: '', price: '15 ₽', sale: '', sbers: '1', tilte: 'Леска Husqvarna 2,7мм/240м 5784379-01', aval: '6 магазинах', aval: false, analog: true, iconActive: false}];
				.wrapper-flex.product-cards
					+productCard(similars, 'page-menu/single-action-prods/similar/')

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	//- script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	//- script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	//- script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================