extends _misc/main

block title
	| Сервисный центр
	
block content
	.page
		.wrapper
			+menu('breadcrumbs', ['главная', 'Сервисный центр'])

		+backLink('Сервисный центр', true)

		.service-center
			.wrapper-smart
				.wrapper-flex.text-cols-block
					.text-cols-block__img._fit
						img._fit-img(src="img/page-menu/legals-img.jpg" alt="alt")
				
				.wrapper-flex.text-cols-block
					.text-cols-block__left
						h2.sect-title Клиентский сервис — гарантия качества!
					
					.text-cols-block__right
						p.std-par В лучших традициях компании «Кубань Инструмент» — сотрудничество с известными брендами. Такое сотрудничество позволяет обеспечить гарантию качества.
					
				.wrapper-flex.text-cols-block
					.text-cols-block__left
						h2.sect-title Что такое авторизованный сервисный центр?

					.text-cols-block__right
						p.std-par Авторизованный сервисный центр имеет право выполнять гарантийный ремонт и техническое обслуживание, имеет доступ к официальной технической документации, обеспечивается оригинальными комплектующими, специалисты сервисного центра проходят обучение у производителя.

						p.std-par Сервисный центр «Кубань-Инструмент» ремонтирует различный инструмент, как бытовой, так и профессиональный. Наш СЦ авторизован для проведения гарантийного и послегарантийного ремонта инструмента таких фирм-произодителей, как BOSCH, DeWalt, Husqvarna, Makita, STIHL, Viking, Partner, Gardena, HITACHI, Champion, Fubag, Elitech, Remeza, AEG, Ryobi, Milwaukee, Stanley, Black and decker, Фиолент, JET и других.

						p.std-par Дипломированные специалисты с помощью современного технического оснащения произведут качественный ремонт вашего инструмента
			
						
				.wrapper-flex.text-cols-block.service-center__contacts.contacts-service-center
					.text-cols-block__left
						.contacts-service-center__title Контакты:

					.text-cols-block__right
						- var contacts = [{label: 'Адрес:', value: 'г. Краснодар, ул. Уральская 87'}, {label: 'Режим работы:', value: 'Понедельник-пятница 8:00 - 17:00'}, {label: 'Телефон:', value: '8 (861) 212-8-121'}, {label: 'Email:', value: 'service@kubaninstrument.ru'}];
						.wrapper-flex
							each item, i in contacts
								.contacts-service-center__col
									.contacts-service-center__lable= item.label
									if item.label == 'Телефон:'
										a(href="tel:" + item.value).contacts-service-center__value= item.value
									
									else if item.label == 'Email:'
										a(href="mailto:" + item.value).contacts-service-center__value= item.value
									else
										.contacts-service-center__value= item.value

				.wrapper-flex.text-cols-block.service-center__contacts.contacts-service-center
					.text-cols-block__left
						.contacts-service-center__title Магазин запчастей

					.text-cols-block__right
						- var contacts2 = [{label: 'Телефон:', value: '8 (861) 212–8–240'}, {label: 'Email:', value: 'zip@kubaninstrument.ru'}];
						.wrapper-flex
							each item, i in contacts2
								.contacts-service-center__col
									.contacts-service-center__lable= item.label
									if item.label == 'Телефон:'
										a(href="tel:" + item.value).contacts-service-center__value= item.value
									
									else if item.label == 'Email:'
										a(href="mailto:" + item.value).contacts-service-center__value= item.value
									else
										.contacts-service-center__value= item.value
			
			.wrapper-smart
				.wrapper-flex.team-order.text-cols-block
					.text-cols-block__left
						h2.sect-title Оставьте заявку
					
					.text-cols-block__right
						p.std-p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sem et tortor consequat id. Pharetra magna ac placerat vestibulum. Est lorem ipsum dolor sit. Augue mauris augue neque gravida in fermentum et sollicitudin. Tempor commodo ullamcorper a lacus vestibulum sed arcu. Ac odio tempor orci dapibus ultrices in iaculis nunc.

						button.btn.btn-lg.btn-order.btn-red оставить заявку

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	script(src="js/libs/micromodal/micromodal.js")

	//- swiper--------------------------
	script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	script(src="js/libs/viewerjs/viewer.js")

	//- noUiSlider--------------------------
	//- script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================