extends _misc/main

block title
	| Профиль
	- var pageIndex = 'profile_020';
	- var navIndex = '4';

block content
	.page.page-profile
		.wrapper
			+menu('breadcrumbs', ['главная', 'Профиль', 'Под заказ'])

		include _sections/page-profile/profile-top
		
		.wrapper-smart
			.wrapper-flex.page-profile__main
				include _includes/page-profile-nav
				
				.page-profile__content
					.page-profile__for-order.catalog-chapter
						
						- var cards1 = [{billet: 'Новинка', price: '14 729 ₽', sale: '18 411 ₽', sbers: '29', tilte: 'Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861', aval: '12 магазинах', iconActive: '1'}];
						- var cards2 = [{billet: '', price: '5 070 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Аккумуляторный гайковерт Bosch GDR 120-Li (без АКБ и ЗУ) 06019F0000', aval: '4 магазинах', iconActive: false}];
						- var cards3 = [ {billet: '', price: '12 599 ₽', sale: '', sbers: '', tilte: 'Перфоратор DeWalt D25133K', aval: false, analog: true, iconActive: false}];
						- var cards4 = [{billet: 'скидка', price: '8 390 ₽', sale: '', sbers: '99', tilte: 'Шуруповерт Вихрь СШ-550/1 72/16/2', aval: '4 магазинах', iconActive: '0'}, {billet: 'скидка', price: '5 070 ₽', sale: '6 411 ₽', sbers: '51', tilte: 'Дрель-шуруповерт Felisatti ДШ-10/260Э 210.5.1.00', aval: '6 магазинах', iconActive: false}];

						- var cards5 = [{billet: 'скидка', price: '8 390 ₽', sale: '', sbers: '99', tilte: 'Шуруповерт Вихрь СШ-550/1 72/16/2', aval: '4 магазинах', iconActive: '0'}];

						- var cards6 = [ {billet: '', price: '7 850 ₽', sale: '', sbers: '79', tilte: 'Гайковерт Messer IW-500 05-40-500', aval: '2 магазинах', iconActive: '0'}];
						._tabs
							.profile-history__tabs-wrapper
								ul.tabs__buttons.tags.profile-history__tabs
									- var buttons = [{name: 'Все', count: '11'}, {name: 'Принят', count: '1'}, {name: 'Формируется', count: '1'}, {name: 'Ожидается', count: '1'}, ]
										each item, i in buttons
											li.profile-history__tabs-item
												a(href='#' class=i==0 ? "tab tag active" : "tab tag")= item.name
													if item.count
														.tag-count= item.count
							.catalog-sort
								.catalog-sort__select
									select(name="catalog-sort" data-searchdisable="true" class="fstdropdown-select")
										- var opts = ['Принят','Формируется','Ожидается','Доставляется','Готов к выдаче','Отменен', 'Выполнен'];
											each opt, i in opts
												option(value=i+1 selected=opt=="Популярные")= opt
								.catalog-sort__actions
									button(type="button")#cars-row-switcher.catalog-sort__action.active
										+icon('cards-row')
									button(type="button")#cars-tiles-switcher.catalog-sort__action
										+icon('cards-tiles')
							
							ul.tabs__container.profile-history__tabs-contaner
								li.tab-content.active
									.wrapper-flex.product-cards.product-cards--catalog.product-cards--horisontal
										
										.page-profile__order-status Принят, ожидается оплата
										+productCard(cards1, 'hits-section/')
										
										.page-profile__order-status Формируется к отправке
										+productCard(cards2, 'page-brands/gaik/', 2)
										
										.page-profile__order-status Ожидается поступление товара
										+productCard(cards3, 'page-brands/perf/', 2)

										.page-profile__order-status Передан в службу доставки
										+productCard(cards4, 'page-brands/shur/')

										.page-profile__order-status Передан в службу доставки
										+productCard(cards1, 'hits-section/')

										.page-profile__order-status Готов к выдаче
										+productCard(cards2, 'page-brands/gaik/', 2)
										+productCard(cards3, 'page-brands/perf/', 2)

										.page-profile__order-status Заказ отменен
										+productCard(cards5, 'page-brands/shur/')

										.page-profile__order-status Выполнен
										+productCard(cards6, 'page-brands/gaik/', 3)

										.page-profile__order-status Ожидается поступление товара
										+productCard(cards1, 'hits-section/')

								li.tab-content
									.wrapper-flex.product-cards.product-cards--catalog.product-cards--horisontal
										
										.page-profile__order-status Принят, ожидается оплата
										+productCard(cards1, 'hits-section/')

								li.tab-content
									.wrapper-flex.product-cards.product-cards--catalog.product-cards--horisontal
									
										.page-profile__order-status Формируется к отправке
										+productCard(cards2, 'page-brands/gaik/', 2)

								li.tab-content
									.wrapper-flex.product-cards.product-cards--catalog.product-cards--horisontal

										.page-profile__order-status Ожидается поступление товара
										+productCard(cards1, 'hits-section/')

					.similar
						.similar__title Похожие товары
						- var cards7 = [{billet: 'Новинка', price: '8 390 ₽', sale: '', sbers: '99', tilte: 'Вентилятор аккумуляторный Makita DCF 102 Z', aval: '6 магазинах', iconActive: '0'}, {billet: '', price: '22 990 ₽', sale: '', sbers: '230', tilte: 'Мойка высокого давления Karcher K 4 Compact *EU 1.637-500.0', aval: '', iconActive: false, order: true}, {billet: 'уценка', price: '6 568 ₽', sale: '7 888 ₽', sbers: '79', tilte: 'Набор инструмента Арсенал (C) 82 пр. 8144600', aval: '1 магазине', iconActive: false}];
						
						.wrapper-flex.product-cards.product-cards--catalog
							+productCard(cards7, 'recomended/')

block page-scripts
	//- SERVIVE FUNCTIONS==================

	//- remove-class--------------------------
	//- script(src="js/libs/service-functions/remove-class.js")

	//- siblings--------------------------
	//- script(src="js/libs/service-functions/siblings.js")

	//- webp-detection--------------------------
	//- script(src="js/libs/service-functions/webp-detection.js")

	//- dropdown-toggle on touch devices--------------------------
	//- script(src="js/libs/service-functions/dropdown-toggle.js")

	//- isMobile--------------------------
	//- script(src="js/libs/service-functions/mobileDetect.js")

	//- All in one file--------------------------
	//- script(src="js/libs/service-functions/all-functions.js")


	//- WITH JQUERY===================================
	//- jquery--------------------------
	//- script(src="js/libs/jquery/jquery-3.1.1.min.js")

	//- jquery-UI--------------------------
	//- script(src="js/libs/jquery-ui/jquery-ui.min.js")
		
	//- magnific-popup--------------------------
	//- script(src="js/libs/magnific-popup/dist/jquery.magnific-popup.min.js")
		
	//- slick--------------------------
	//- script(src="js/libs/slick/slick.min.js")
		
	//- slick-master (без лишних контейнеров)--------------------------
	//- script(src="js/libs/slick-master/slick.js")

	//- script(src='https://api-maps.yandex.ru/2.1/?apikey=1be0e242-a0f9-4c70-8d5c-f2f3df5c3e40&load=&lang=ru_RU' type='text/javascript')

	//- superfish--------------------------
	//- script(src="js/libs/superfish/dist/js/hoverIntent.js")
	//- script(src="js/libs/superfish/dist/js/superfish.min.js")

	//- end WITH JQUERY===================================


	//- VANILLA JS===================================
	//- dynamic-adaptive--------------------------
	//- script(src="js/libs/dynamic-adaptive/da.min.js")
		
	//- slideout--------------------------
	//- script(src="js/libs/slideout/slideout.js")

	//- multilevel-panel--------------------------
	//- script(src="js/libs/multilevel-panel/multilevel-panel.js")

	//- multilevel-dropdown-menu--------------------------
	//- script(src="js/libs/multilevel-dropdown/multidropdown.js")
			
	//- lazysizes--------------------------
	//- script(src="js/libs/lazysizes/lazysizes.min.js")	
		
	//- accordion--------------------------
	//- script(src="js/libs/accordion/vanilla-accordion.js")
		
	//- tabs--------------------------
	script(src="js/libs/tabs/tabs-pure.js")
		
	//- micromodal--------------------------
	//- script(src="js/libs/micromodal/micromodal.js")	
		
	//- swiper--------------------------
	script(src="js/libs/swiper/swiper-bundle.min.js")

	//- tiny-slider--------------------------
	//- script(src="js/libs/tiny-slider/dist/min/tiny-slider.js")

	//-viewerjs --------------------------
	//- script(src="js/libs/viewerjs/viewer.js")

	//- wNumb--------------------------
	script(src="js/libs/wnumb/wNumb.js")

	//- noUiSlider--------------------------
	script(src="js/libs/noUiSlider/nouislider.min.js")

	//- iMask--------------------------
	//- script(src="js/libs/imask/imask.js")

	//- FormHandler--------------------------
	//- script(src="js/libs/formhandler.js-1.1.2/dist/js/FormHandler.min.js")

	//- ratings--------------------------
	script(src="js/libs/rating/ratings.js")

	//- scroll-to-sects--------------------------
	//- script(src="js/libs/scroll-to-sects/scrolltosect.js")

	//- sticky-sidebar--------------------------
	//- https://abouolia.github.io/sticky-sidebar/#usage
	//- script(src="js/libs/sticky-sidebar/dist/resizeSensor.js")
	//- script(src="js/libs/sticky-sidebar/dist/sticky-sidebar.min.js")

	//- simplebar--------------------------
	//- USE:	new SimpleBar(document.querySelector('mySelector'), { autoHide: false });
	//- script(src="js/libs/simplebar/simplebar.min.js")
		
	//- fstdropdown (кастомный селект), исп-е.: <select data-searchdisable="true" class="fstdropdown-select">
	//- script(src="js/libs/fstdropdown/fstdropdown.min.js")

	//- baguetteBox-------------------------- use: https://github.com/feimosi/baguetteBox.js#usage
	//- script(src="js/libs/baguetteBox/dist/baguetteBox.min.js")

	//- svg4everybody--------------------------
	//- script(type="text/javascript" src="js/libs/svg4everybody/svg4everybody.min.js" async onload="svg4everybody();")

	//- counter--------------------------
	//- script(src="js/libs/counter/counter.js")

//- end VANILLA JS===================================