section.banner
	.wrapper
		.wrapper-flex.banner__wrap
			a(href="#").banner-visual._fit
				picture
					source(srcset='img/main-page-banner/banner-xs.jpg' media='(max-width: 959.98px)')
					img._fit-img(src="img/main-page-banner/banner.jpg" alt="alt")

			a(href="#").banner-card
				.banner-card__img
					img(src="img/main-page-banner/electro.png" alt="alt")
				.banner-card__text
					.banner-card__name Аккумуляторная дрель-шуруповерт Elitech ДА 12СЛ2 ...
					button(type="btn").cart-round-icon
						+icon('cart')

		.show-all-link
			a(href="#").link Смотреть все