section.banner
	.wrapper
		.wrapper-flex.banner__wrap
			a(href="#").banner-visual._fit
				picture
					source(srcset='img/main-page-banner/banner-xs.jpg' media='(max-width: 959.98px)')
					img._fit-img(src="img/main-page-banner/banner.jpg" alt="alt")

			.banner-card
				a(href="#").banner-card__inner
					.banner-card__img
						img(src="img/main-page-banner/electro.png" alt="alt")
					.banner-card__text
					.banner-card__name Аккумуляторная дрель-шуруповерт Elitech ДА 12СЛ2 ...
				button(type="button" class="btn btn-sm btn-red") Купить

		.show-all-link
			a(href="#").link Смотреть все