section.page-main-sect
	.wrapper
		h2.sect-title Хиты продаж
	.wrapper-smart
		.template-hits
			+priceTooltip('14 729 ₽', true, 12.2, 4.07)
			+priceTooltip('14 729 ₽', true, 29.95, 37.70)
			+priceTooltip('14 729 ₽', true, 53.38, 14.75)
			+priceTooltip('14 729 ₽', true, 85.7, 44.26)

			
			picture
				source(srcset='img/page-template/hits/hits-xs.jpg' media='(max-width: 576px)')
				img(src="img/page-template/hits/hits.jpg" alt="alt")
