/*--------------------page-catalog----------------------*/
.page-catalog{
	.back-block{
		margin-bottom: 10px;
	}
	.page-main__tagswrap{
		margin-bottom: 15px;

		@include max-screen($md){
			margin-bottom: 10px;
		}
	}
	.catalog-sort{
		margin-bottom: 7px;
	}
	.catalog-sort__select{
		max-width: 230px;
	    position: relative;
    	top: 5px;

    	.fstdropdown > .fstlist {
    		top: calc(100% + 2px);
    	}
	}
	.catalog-sort__actions{
		 position: relative;
    	top: 3px;
	}
	.brands-tiles{
		padding-top: 15px;
	}
	.brands-tiles__top{
		display: none;
	}
	.main-slider{
		& > .wrapper{
			@include max-screen($sm){
				padding-bottom: 23px;
			}

		}
		.swiper-pagination{
			@include max-screen($sm){
				display: block;
				margin-top: 2px;
			}
		}
	}		
}
.page-catalog__filter{
	@include col();
	flex: 0 0 224px;
	max-width: 224px;
	transition: all .4s;

	&:after{
		@include max-screen($md){
		    content: "";
		    display: block;
		    position: fixed;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 79px;
		    background-image: url(../img/header-catalog/mob-catalog/mob-catalog-bottom-cover.svg);
		    background-position: botom 0;
		    background-repeat: no-repeat;
		    background-size: 100%;
		    z-index: 9;
			
		}
	}

	@include max-screen($md){
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		// overflow-y: auto;
		max-width: none;
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		z-index: 13;
		transform: translateX(-105%);
	}

	.page-catalog-filter-opened &{
		@include max-screen($md){
			transform: translateX(0);
			
		}
	}

	.ctlg-filter__content,
	.ctlg-filter__link{
		@include max-screen($md){
			padding-left: 24px;
			padding-right: 24px;
		}
	}
}
.page-catalog__products{
	@include col();
	flex: 1 1 calc(100% - 224px - 32px);

	@include max-screen($md){
		flex: 0 0 100%;
	}
	@include min-screen($md){
		padding-left: 16px;
	}
}
.pupular-page-catalog__title{
	margin-bottom: 15px;
	font-weight: 700;
	font-size: 22px;
	line-height: 20px;
	opacity: 0.8;

	@include max-screen($xs){
		font-size: 14px;
	}
}
.catalog-filtered-tags {
	padding: 9px 23px 10px 26px;
	background: rgba($gray-l, .3);
	border-radius: 4px;

	@include max-screen($md){
		display: none;
	}
}
.catalog-filtered-tags__header {
	margin-bottom: 8px;

	@include min-screen($xsss){
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
			
	}
}
.catalog-filtered-tags__title {
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}
.link {}
.catalog-filtered-tags__clear {
	text-transform: uppercase;
	text-decoration: underline;
	color: 	#A9A9A9;
}
.catalog-filtered-tags__content {
	display: flex;	
	flex-wrap: wrap;
}
.catalog-filtered-tag {
	@include but-null;
	height: 24px;
	padding: 5px 13px;
	margin-bottom: 10px;	
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	white-space: nowrap;
	font-size: 10px;
	line-height: 9px;
	text-transform: uppercase;
	background: $gray-l;
	border: 1px solid #F1F1F1;
	border-radius: 23px;
	cursor: pointer;

	&:not(:last-child){
		margin-right: 6px;
	}

	.icon{
		margin-left: 7px;
		font-size: 8px;
	}
}
.page-catalog__fitlter-toggler{
	position: fixed;
	bottom: 67px;
	left: 50%;
	transform: translateX(-50%);
	top: auto;
	padding: 5px 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width:auto;
	height: 36px;
	background: $blue;
	border: 2px solid #FFFFFF;
	border-radius: 23px;
	font-size: 10px;
	line-height: 10px;
	text-transform: uppercase;
	font-family: $navbl;
	color: #FFFFFF;
	z-index: 5;
	white-space: nowrap;

	@include min-screen($md){
		display: none;
	}

	.page-catalog-filter-opened &{
		display: none;
	}

	&--reset{
		display: none;
		background-color: $accent;
		z-index: 14;

		.page-catalog-filter-opened &{
			display: block;

			@include min-screen($md){
				display: none;
			}
		}
	}
}
.result-page-catalog{
	margin-top: 16px;
	margin-bottom: 60px;
}
.result-page-catalog__title{
	max-width: 300px;
	margin-bottom: 16px;
	font-size: 28px;
	line-height: 30px;
	font-family: $navm;
}
.result-page-catalog__text{
	margin-bottom: 22px;
	max-height: 410px;
	font-size: 14px;
	line-height: 17px;
}
.result-page-catalog__footer{
	display: flex;
	align-items: center;

	.btn{
		&:not(:last-child){
			margin-right: 10px;
		}
	}
}
/*--------------------END page-catalog----------------------*/ 