/*--------------------adjustment----------------------*/
*{
	box-sizing: border-box;
}
html, body{
	margin: 0;
	padding: 0;
}
html{
	scroll-behavior: smooth;
}
body{
	font-family: $inter;
	font-weight: normal;
	font-size: 14px;
	min-width: 320px;
	position: relative;
	line-height: calc(17/14);
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	color: $text;

	@include min-screen($scale){
		font-size: 16px;
	}

	.lock & {
		overflow: hidden;
		touch-action: none;
		overflow-behavior: none;
	}
}

// компенсация ширины скроллбара при появлении ванильных поапов
// все содержимое страницы оборачивается в #wrapper-for-scroll-fix
// использовать совместно с libs-vanilla/service-functions/scrollWidth.js 

// #wrapper-for-scroll-fix{
// 	overflow: hidden;
// }
// #wrapper-for-scroll-fix.modal-open {
//     padding-right: var(--scroll-width);
// }
// .header { // в случае position: fixed у хедера
//    .modal-open &{
//     	padding-right: var(--scroll-width);
//    }
// }
// .modal__container{//компенсация сдвига модалки при анимации исчезновения
// 	margin-left: var(--scroll-width);
//   .modal-open & {
//   	margin-left: 0;
//   }

// }
// END компенсация ширины скроллбара при появлении ванильных поапов


// Прижать футер к низу

html, body{
	height: 100%;
}
.main{
	display: flex;
	flex-direction: column;
	height: 100%;
	.header{
		flex: 0 0 auto;
	}
	.main-content{
		flex: 1 1 auto;
	}
	.footer{
		flex: 0 0 auto;
		// margin-top: auto;
	}
}

// END Прижать футер к низу

ul, li{
	margin: 0;
	padding: 0;
}
input
input[type="text"],
input[type="email"],
input[type="tel"],
textarea{
	appearance: none;
}
.input,
input{
	outline: none;
	display: block;
	width: 100%;

	@include min-screen($scale){
		font-size: 16px;
		line-height: calc(17/14);
	}
}
textarea.input{
	resize: none;
	padding: 0 0;
}
//END input
.wrapper{
	margin: 0 auto;
	padding-left: $containerPaddings / 2 + px;
	padding-right: $containerPaddings / 2 + px;
	max-width: $maxContainerWidth + px;
	// @include row-flex();
	// @include wrapper();
	// outline: 1px solid;
	&.p-12{
		@include max-screen($md){
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}
// classes for smartgrid(c) structure
.wrapper-smart{
	@include wrapper();
	// outline: 1px solid;
}
.wrapper-flex{
	@include row-flex();
}
.column{
	@include col();
	@include size(3);	
}

.hidden{
	display: none;
}

.ibg{
background-position: center; 
background-size: cover; 
background-repeat: no-repeat; 
position: relative;
padding-bottom: 52.25%;
}

.ibg img{
	width: 100%; 
	height: 100%; 
	position: absolute; 
	top: 0; 
	left: 0; 
	opacity: 0; 
	// visibility: hidden;
}
._prod-img {
	position: relative;
	padding-bottom: 80%;
	img{
		@include absolute-center;
	}
}
._fit{
	padding-bottom: 80%;
	position: relative;
	overflow: hidden;
}
._fit ._fit-img{//_fit - class for object-fit
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	right: 0;
	object-fit: cover; 
	object-position: center center;
}

.bd-filter-fallback{// определение поддержки блюра без джаваскрипт
	@supports (backdrop-filter: blur(10px)) or (--webkit-backdrop-filter: blur(10px)){// определение поддержки блюра без джаваскрипт
			background-color: rgba(255, 255, 255, .72);
			backdrop-filter: blur(31px);
		}
}
// tabs-pure base styles
// .tabs__buttons{
// 	display: flex;
// }
// .tabs__container{
// }
// .tab-content,
// .tabs__buttons li{
// 	list-style-type: none;
// }
// .tab{
// 	text-decoration: none;
// 	display: block;
// 	&.active{
// 		background-color: pink;
// 	}
// }

// показ спойлеров на определенном разрешении. Включать только при установленном аттрибуте data-breakpoint="" у .accordion
// .accordion:not(.combine){
// 	.accordion__content.hidden{
// 		@include min-screen($md){
// 			display: block;
// 		}
// 	}
// }


.toggle-mnu{
	position: fixed;
	right: 30px;
	top: 15px;
  display: block;
  width: 28px;
  height: 28px;
  margin-top: 14px;
  padding: 0;
  background-color: transparent;
  border: none;

  span:after, span:before{

    content: "";
    position: absolute;
    left: 0;
    top: 9px;
  } 

  span:after{

    top: 18px;
  }

  span{

    position: relative;
    display: block;
  } 

  span, span:after, span:before{

    width: 100%;
    height: 2px;
    background-color: #000;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }


  &.on span{

    background-color: transparent;
  } 

  &.on span:before{

    transform: rotate(45deg) translate(-1px, 0px);
  } 

  &.on span:after{

    transform: rotate(-45deg) translate(6px, -7px);
  } 
} 
// исправление бага отсутствия прозрачности при fade--переходах с/у слайдами
// .swiper-container-fade{
// 	.swiper-slide{
// 		transition: opacity .5s !important;
// 	}
// }

// service ui elements styles
// @import "_misc/_tabs-accordion";
@import "_misc/_form";
@import "_misc/font-rating";//подключить, если для звез рейтинга исп-я. icomoon
@import "_misc/_rating";
@import "_misc/_single-dropdown";
@import "_customizations/_noUiSlider-base";
@import "_misc/_counter";
// @import "_misc/multilevel-dropdown.scss";

.body-cover{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(#000, .5);
	z-index: 9;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;

	@include max-screen($md){
		z-index: 11;
		
	}

	.covered &,
	.side-modal-visible &{
		visibility: visible;
		opacity: 1;
	}
	.side-modal-visible &{
		z-index: 11;	
	}
	.popup-action-visible &,
	.popup-product-added-visible &,
	.popup-product-favourite-visible &,
	.popup-review-visible &{
		@include max-screen($md){
			visibility: visible;
			opacity: 1;
		}
	}
}
.icon{
	.gray &{
		color: $text-l;

	}	
}
.show-all-link{
	padding-top: 10px;
	text-align: right;

	@include max-screen($xs){
		display: none;
	}
}
/*--------------------END adjustment----------------------*/ 
.wrapper.rating{
	font-family: $navbl;
	// rating на странице написания отзва от товаре
	.simple-rating{
		@include simple-rating(rgba($text, .2), $yellow, 35px, 25px, '\e901');
	}
	// rating на в карточке товара
	.crystal-rating{
		@include crystal-rating($gray-l, $yellow, 12, 4, '\e901');
	}
}
.my-slide{
	padding-bottom: 5%;
	img{
		max-width: 100%;
	}
}
.thumbnails{
	display: flex;
}
.my-thumb{
	flex:  0 0 50px;
	img{
		max-width: 100%;
	}
}
.ics{
	.icon{
		font-size: 60px;
		color: $text;
	}
}
.catalog-test{
	@include 	col();
	flex: 0 0 224px;
	max-width: 224px;
}
.ui-elems{

	@include 	col();
	flex: 1 1 calc(100% - 224px - 32px);
		.side-modal{
			position: relative;
			height: auto;
		}
		.billet{
			margin-bottom: 10px;
		}

		.pagination{
			margin-bottom: 10px;
		}

		.product-card--horisontal{
			max-width: 704px;
		}
}
.icons-row{
	display: flex;
	margin: 20px 0;
	width: calc((49px * 5) + 16px * 5);
}


.ui-colors__item{
	width: 49px;
	height: 49px;
	border-radius: 50%;
	margin-right: 16px;

	&.bg_gray-l{
		margin-left: auto;
	background-color: $gray-l;
	}
	&.bg_yellow-l{
	background-color: $yellow-l;
	}
	&.bg_red-l{
	background-color: $red-l;
	}
	&.bg_blue-l{
	background-color: $blue-l;
	}
	&.bg_accent-l{
	background-color: $accent-l;
	}
	&.bg_text-l{
	background-color: $text-l;
	}
	&.bg_yellow{
	background-color: $yellow;
	}
	&.bg_red{
	background-color: $red;
	}
	&.bg_blue{
	background-color: $blue;
	}
	&.bg_accent{
	background-color: $accent;
	}
	&.bg_text{
	background-color: $text;
	}

}
.cart-round-icon,
.chat-round-icon{
	@include but-null;
	width: 40px;
height: 40px;
	border-radius: 50%;
	background-color: $red;
	position: relative;

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}

	.icon{
		@include absolute-center-old;
		font-size: 20px;
		color: #fff;
	}
}
.chat-round-icon{
	position: fixed;
	z-index: 12;
	right: 12px;
	bottom: 64px;
	background-color: $yellow;
	.icon{
		color: $text;
	}
}