/*--------------------form----------------------*/
.form{
	&__row{
	}
	&__row-title{
		flex: 0 0 auto;
		margin-bottom: 8px;
		font-weight: 700;
		font-size: 14px;
		line-height: 20px;
		color: rgba(0, 0, 0, 0.8);
	}
	&__label{
		display: block;
		position: relative;
		
		&--phone{
			max-width: 304px;
		}
		
		&:not(:last-child){
			margin-bottom: 8px;
		}
		&--error{
			.form__input {
				color: $red;
				border-color: $red;
			}
		}
	}
}
.form__input {
	height: 40px;
	padding: 12px;
	border: 1px solid #000;
	@include placecolor(rgba($text, .3));
	color: $text;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 4px;
	font-family: $inter;

	&--bg{
		background-color: $inpbg;
		border-color: transparent;
		border-radius: 0;
	}

}
.form__custom-policy {
	display: flex;
	align-items: flex-start;

}
.form__custom {
	position: relative;
	flex-shrink: 0;
	display: flex;
	align-items: center;
}
.form__check {
	@include checkbox;
	&:checked{
		& + .form__custom-chek {
			border-color: $accent;
			&:before{
				display: block;
			}
		}
		& ~ .form__policy {
			color: $text;
		}
	} 
}
.form__custom-chek {
	margin-right: 13px;
	display: block;
	position: relative;
	width: 20px;
	height: 20px;
	border: 3px solid $text;
	border-radius: 50%;

	@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
				cursor: pointer;
			}
		}
	&:before{
		@include absolute-center;
		display: none;
		width: 11px;
		height: 11px;
		border-radius: 50%;
		background-color: $accent;
		content: '';
	}
}
.form__area{
	width: 100%;
	height: 72px;
	padding: 12px 9px;
    // resize: none;
	border: none;
	background: #F1F1F1;
	padding-left: 20px;
	color: #222222;
	font-family: $inter;
	@include placecolor(rgba($text, .3));

	&::-webkit-resizer{
	  	width: 28px;
		height: 28px;
		border-style: solid;
		border-width: 4px 0 4px 8px;
		border-color: transparent transparent transparent #C4C4C4;
	}
	&:hover, &:active, &:focus{
		outline: none;
	}
	

}
.form__policy {
	color: rgba(#000, .4);
}
/*--------------------END form----------------------*/ 