.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-left {
	font-size:(14/10)*1rem;
	width:(16/14)*1em;
}
.icon-attention {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-basket {
	font-size:(23/10)*1rem;
	width:(23/23)*1em;
}
.icon-big-check {
	font-size:(15/10)*1rem;
	width:(20/15)*1em;
}
.icon-bonus {
	font-size:(9/10)*1rem;
	width:(9/9)*1em;
}
.icon-cards-row {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-cards-tiles {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-cart {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-catalog {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-catalog-mob {
	font-size:(25/10)*1rem;
	width:(25/25)*1em;
}
.icon-chat {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-chats {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-check {
	font-size:(20/10)*1rem;
	width:(20/20)*1em;
}
.icon-chev-down {
	font-size:(4/10)*1rem;
	width:(6/4)*1em;
}
.icon-chev-left {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-chev-right {
	font-size:(14/10)*1rem;
	width:(9/14)*1em;
}
.icon-compare {
	font-size:(22/10)*1rem;
	width:(23/22)*1em;
}
.icon-context {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-ctlg-burger {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-ctlg-close {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-ctlg-close-gray {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-download {
	font-size:(20/10)*1rem;
	width:(16/20)*1em;
}
.icon-edit {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-favourites {
	font-size:(22/10)*1rem;
	width:(23/22)*1em;
}
.icon-flame {
	font-size:(19/10)*1rem;
	width:(14/19)*1em;
}
.icon-home {
	font-size:(20/10)*1rem;
	width:(19/20)*1em;
}
.icon-like {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-loc {
	font-size:(22/10)*1rem;
	width:(18/22)*1em;
}
.icon-m-menu {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-magnifier {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-minus {
	font-size:(2/10)*1rem;
	width:(13/2)*1em;
}
.icon-percents {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-phone {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-phone2 {
	font-size:(22/10)*1rem;
	width:(22/22)*1em;
}
.icon-plus {
	font-size:(11/10)*1rem;
	width:(11/11)*1em;
}
.icon-raskhodka {
	font-size:(21/10)*1rem;
	width:(21/21)*1em;
}
.icon-remove {
	font-size:(20/10)*1rem;
	width:(18/20)*1em;
}
.icon-score {
	font-size:(20/10)*1rem;
	width:(16/20)*1em;
}
.icon-soc-ok {
	font-size:(20/10)*1rem;
	width:(13/20)*1em;
}
.icon-soc-pint {
	font-size:(20/10)*1rem;
	width:(17/20)*1em;
}
.icon-soc-tg {
	font-size:(15/10)*1rem;
	width:(17/15)*1em;
}
.icon-soc-twi {
	font-size:(14/10)*1rem;
	width:(18/14)*1em;
}
.icon-soc-vk {
	font-size:(12/10)*1rem;
	width:(20/12)*1em;
}
.icon-soc-youtb {
	font-size:(14/10)*1rem;
	width:(20/14)*1em;
}
.icon-unlike {
	font-size:(14/10)*1rem;
	width:(14/14)*1em;
}
.icon-user {
	font-size:(22/10)*1rem;
	width:(20/22)*1em;
}
.icon-viber {
	font-size:(12/10)*1rem;
	width:(13/12)*1em;
}
.icon-whts {
	font-size:(13/10)*1rem;
	width:(14/13)*1em;
}
