/*--------------------ui----------------------*/
// заголовки
h1, h2, h3, h4, h5, h6{
  margin: 0;
  font-weight: normal;
  font-family: $navm;
}
// секции Главной стр-цы.
.page-main-sect{
  padding-top: 37px;

  &.hits:not(.recomendations){
    @include max-screen($xs){
     padding-top: 17px;
      
    }
  }
  @include max-screen($xs){
    padding-top: 32px;
  }

}

// некоторые повторяющиеся эл-ты.
.sect-title{
  margin-bottom: 20px;
  font-size: 22px;
  line-height: calc(20/22);
  
  @include max-screen($sm){
    margin-bottom: 7px;
    font-size: 16px;
  }
  @include min-screen($scale){
    font-size: 24px;
  }


  .catalog-block &{
    font-size: 18px;
    line-height: calc(20/18);

    @include max-screen($sm){
      font-size: 14px;
    }
     @include min-screen($scale){
      font-size: 20px;
    }

  }
}
.catalog-block{
    margin-top: 42px;
    @include max-screen($xs){
      margin-top: 28px;
    }
}
.photo-remove{
  @include but-null;
  width: 24px;
  height: 24px;
  position: relative;

  .icon{
    @include absolute-center-old;
    color: rgba(#fff, .8);
    font-size: rem(20);
  }
}
.link{
  font-size: 12px;
  line-height: calc(15/12);
  color: $text-l;
  text-decoration: none;

  @include min-screen($scale){
    font-size: 14px;
  }

  &:hover, &:active, &:focus{
    text-decoration: underline;
  }
  
}
.std-link{
  font-size: rem(12);
  line-height: rem(15);
  color: #767676;
  transition: opacity .3s;
  font-weight: 400;

  &:hover, &:active{
    opacity: 0.5;
  }
  
}
.page-top-block{
  display: flex;
  align-items: flex-end;
}
.page-top-block__content{
  padding-right: 11px;
}

.page-top-block__text{
  font-size: 12px;
  line-height: calc(15/12);
  text-transform: uppercase;
  color: rgba($text, 0.8);
  opacity: 0.4;

  @include min-screen($scale){
    font-size: 14px;
  }
}

.big-rating {
  margin-top: 18px;
  margin-bottom: 19px;
  .simple-rating{
    @include simple-rating($gray-l, $yellow, 30px, 23px, '\e901');
    // @include simple-rating(red, gold, 35px, 25px, false);
  }
}

.light-label{
  position: relative;
  display: flex;
  align-items: center;

  @media (any-hover: hover) { //только для устройств с ховером
      cursor: pointer;
    }
}
.light-label__input{
  @include checkbox;

  &:checked + .light-label__check{
    border-width: 0;
    .icon{
      display: block;
    }
  }
  &[disabled] + .light-label__check{
    border-color: #E5E5E5;
  }
}
.light-label__check{
  width: rem(20);
  height: rem(20);
  margin-right: 7px;
  position: relative;
  border: 2px solid #A9A9A9;
  border-radius: 2px;
  flex-shrink: 0;

  // @include min-screen($scale){
  //   width: 25px;
  //   height: 25px;
  // }

  .icon{
    display: none;
    font-size: rem(20);
    color: #A9A9A9;
    @include absolute-center-old;
  }
}
.light-label__caption{
  font-size: rem(12);
  line-height: rem(15);
  // text-transform: uppercase;
  color: #A9A9A9;

  a{
    color: #A9A9A9;

  }
}
.std-par{
  margin-top: 0;
  margin-bottom: 20px;
  font-size: rem(16);
  line-height: 140%;
  opacity: 0.6;

  &:last-child{
    margin-bottom: 0;
  }

  @include max-screen($xs){
    font-size: 14px;
  }
}
.std-date{
  opacity: 0.6;

  @include max-screen($xs){
    font-size: 10px;
    line-height: 12px;
  } 
}
// красная метка на картинках
.price-tooltip{
 display: block;
     position: absolute;
  padding: 7px 6.5px 12px 6.5px;
  // background-color: $red;
  color: #fff;
  font-weight: 700;
  font-size: rem(12);
  line-height: rem(15);
  white-space: nowrap;

  background-image: url($img + 'page-template/hits/bg_price-tooltip.svg');
  background-position: -5px bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media (any-hover: hover) { //только для устройств с ховером
      cursor: pointer;
      &:hover{
        .product-tooltip{
          @include min-screen($md){
            visibility: visible;
            opacity: 1;
            
          }
        }

      }
  }

  @include max-screen($sm){
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 6px;
    line-height: 7px;
  }

  &:before{
    content: '';
    display: block;
    width: 100%;
    height: calc(100% - 12px);
    position: absolute;
    top: 0;
    left: 0;
    background-color: $red;
    // z-index: -1;  
  }

  &__inner{
    position: relative;
      display: inline-flex;
      align-items: center;
      padding-bottom: 7px;
  }
  &--crossedout{

    text-decoration-line: line-through;
  }

  .icon{
    margin-left: 10px;
    flex-shrink: 0;
    color: #fff;
    font-size: 10px;

    @include max-screen($sm){
      font-size: 7px;
      margin-left: 4px;
    }
  }

}
// END красная метка на картинках

// карточка при ховере метки на баннере
.product-tooltip{
  position: absolute;
  visibility: hidden;
  padding: 23px;
  opacity: 0;
  transition: all .2s;
  // width: 100%;
  white-space: normal;

  &__inner{
    padding: 9px 15px 9px 9px;
    display: flex;
    align-items: flex-start;
    width: 270px;
    border-radius: 4px;
    background: #FFFFFF;

  }


  .product-card__border{
    width: 88px;
    height: 88px;
    padding: 0;
    margin-right: 11px;
  }
  .product-card__img{
    width: 88px;
    height: 88px;
  }
  .product-card__price-block{
    text-decoration: none;
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
  }
  .product-price{
    font-size: rem(16);
    line-height: normal;
  }
  .product-price-sale{
    line-height: normal;
    flex-shrink: 0;
    margin-left: 16px;
  }
  .product-card__name{
    font-weight: 400;
    height: 45px;
  }
}
//END карточка при ховере метки на баннере
@import "../_customizations/viewerjs-custom.scss";
@import "../_customizations/_fstdropdown.scss";
.btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fff;
  text-decoration: none;
  background-color: $accent;
  padding: 0 15px;
  font-family: $navbl;
  font-size: 12px;
  // line-height: 17px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 20px;
  text-align: center;
  position: relative;
  outline: none;
  overflow: hidden;
  white-space: nowrap;
  transition: background-color .1s ease;

  @include min-screen($scale){
    font-size: 14px;
  }
	
  &:hover{
     background-color: #fff;
     border-color: $accent;
     color: $accent;
  }
		
  &:active{
    background-color: #fff;
    border-color: $accent;
    color: $accent;
  }

  
  
  // &-empty{
  // 	border-color: $accent;
  // 	color: $accent;
  // 	background-color: #fff;

  // 	&:hover, &:active{
  // 		background-color: $accent;
  // 		border-color: transparent;
  // 		color: #fff;
  // 	}
  // }
  &-gray{
  	color: #fff;
  	background-color: $gray;

  	&:hover, &:active{
  		border-color: $gray;
  		background-color: #fff;
  		border-color:  $gray;
  		color:  $gray;
  	}
  }
  &-red{
  	color: #fff;
  	background-color: $red;

  	&:hover, &:active{
  		border-color: $red;
  		background-color: #fff;
  		color: $red;
  	}
  }
  &-yellow{
  	color: #fff;
  	background-color: $yellow;

  	&:hover, &:active{
  		border-color: $yellow;
  		background-color: #fff;
  		color: $yellow;
  	}
  }
  &-blue{
    color: #fff;
    background-color: $blue;

    &:hover, &:active{
      border-color: $blue;
      background-color: #fff;
      color: $blue;
    }
  }
  &-lg{
    // padding-top: 8px;
    // min-height: 40px;
    height: 40px;
    line-height: 40px;

    @include min-screen($scale){
       height: 45px;
      line-height: 45px;
    }

  }
  &-sm{
    // padding-bottom: 2px;
    max-width: rem(125);
   height: 25px;
   line-height: 25px;
   // pizdyk
   // .chrome &,
   // .gecko &{
   //  padding-top: 4px;
   // }


    @include min-screen($scale){
       height: 30px;
      line-height: 30px;
    }


  }
  &-fw{
   width: 100%;
  }

  &-order{
    max-width: rem(270);
  }
  &-order-check{
    max-width: rem(225);
  }
  &-bonus{
     max-width: rem(540);
  }
  &-select{
    max-width: rem(144);
  }
  &-loc{
    font-size: 10px;
    // line-height: 25px;
    @include min-screen($scale){
      font-size: 12px;
    }
  }
  &-buy{
    &.clicked{
      // padding-top: 3px;
      background-color: #fff;
      border-color: $accent;
      color: $accent;

      &.btn-yellow{
        background-color: #fff;
        border-color: $yellow;
        color: $yellow;

        .counter__button{
          @include but-null;
          width: 20px;
          height: 20px;
          text-align: center;
          flex: 0 0 20px;
          color:  $yellow;

          .icon{
            color:  $yellow;
          }
        }
        .counter__count,
        .counter__measures{
            color:  $yellow;
        }
      }

      .btn__val{
        display: none;
      }
      .counter{
        display: flex;
      
      }
    }
    .counter{
      // top: 2px;
      display: none;
      width: 100%;
      height: auto;
      border: none;
      align-items: center;
      justify-content: space-between;
      color: $accent;
    }
    .counter__button{
      @include but-null;
      width: 20px;
      height: 20px;
      text-align: center;
      flex: 0 0 20px;
      color: $accent;
    }
    .counter__button, .counter__count{
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      .icon{
        color: $accent;

        &-plus{
          font-size: 10.47px;
        }
        &-minus{
          font-size: 2px;
        }
      }
    }
    .counter__count{
      margin-right: 3px;
       font-family: $navm;
        font-size: 12px;
        line-height: 23px;
         color: $accent;
      }
      .counter__block{
        // position: relative;
        // top: 1px;
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        overflow: hidden;
        font-size: 12px;
      }
      .counter__measures{
        // margin-top: 1px;
        font-weight: 700;
        font-size: 12px;
        line-height: 22px;
         font-family: $navm;
         text-transform: none;
      }
    }

  
  span{
    height: 12px;
    white-space: nowrap;
  }
  @media (any-hover: hover) { //только для устройств с ховером
  	&:hover{
  		cursor: pointer;
  	}
  }
   
}
// шильдиk на товар
.billet{
	height: 24px;
  min-width: 68px;
	display: inline-block;
	padding: 5px 9px 5px 6px;
	border-radius: 0 20px 20px 0;
	font-size: 10px;
	line-height: calc(14/10);
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;

  @include min-screen($scale){
    font-size: 12px;
  }

  &__value{
    @include max-screen($xs){
      display: none;
    }
  }


	&--new{
		background-color: #13B3EB;

    .icon{
      color: $blue;
    }
	}
	&--markdown{
		background-color: $yellow;
    .icon{
      color: $yellow;
    }
	}
	&--action{
		background-color: $red;
    .icon{
      color: $red
    }
	}

  &--mini{
    width: 14px;
    min-width: 0;
    padding: 0;
    height: 24px;
    background-color: transparent;
  }

  .icon{
    display: none;
    font-size: 19px;
  }
}
.socials{
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &--colored{
    .socials__link{
      &--soc-vk{
        background-color: #4D7DF7;
      }
      &--soc-youtb{
        background-color: #FC0000;
        .icon{
          font-size: 12.73px;
        }  
      }
      &--soc-ok{
        background-color: #FC8800;
        .icon{
          font-size: 19.02px;
        }  
      }
      &--soc-tg{
        background-color: #00C0FC;
        .icon{
          font-size: 14.42px;
        }  
      }
      &--soc-pint{
        background-color: #E72A00;
        .icon{
          font-size: 18.51px;
        }  
      }

    }
  }
}
.socials__item{
  list-style-type: none;
    margin-bottom: 10px;


  &:not(:last-child){
    margin-right: 13px;
  }
}
.socials__link{
  position: relative;
  display: block;
  width: 33.94px;
  height: 33.94px;
  color: #fff;
  background-color: $yellow;
  border-radius: 4px;
  transition: background-color .3s;

  @include min-screen($scale){
    width: 40px;
    height: 40px;
  }
  
  .icon{
    @include absolute-center;
    font-size: 11.88px;

     @include min-screen($scale){
      font-size: 14px;
    }
  
  }

  &--soc-vk{
    @media (any-hover: hover) { //только для устройств с ховером
        &:hover{
          background-color: #4D7DF7;
        }
      }
  }

  &--soc-twi{
    .icon{
      font-size: 13.24px;

      @include min-screen($scale){
        font-size: 16px;
      }
    }  
  }
  &--soc-youtb{
    @media (any-hover: hover) { //только для устройств с ховером
      &:hover{
        background-color: #FC0000;
      }
    }
    .icon{
      font-size: 12.73px;

       @include min-screen($scale){
        font-size: 15px;
      }
    }  
  }
  &--soc-ok{
    @media (any-hover: hover) { //только для устройств с ховером
      justify-content: center;
      &:hover{
        background-color: #FC8800;
      }
    }
    .icon{
      font-size: 19.02px;

       @include min-screen($scale){
        font-size: 21px;
      }
    }  
  }
  &--soc-tg{
    @media (any-hover: hover) { //только для устройств с ховером
      &:hover{
       background-color: #00C0FC;
     }
   }
    .icon{
      font-size: 14.42px;

       @include min-screen($scale){
        font-size: 16px;
      }
    }  
  }
  &--soc-pint{
    @media (any-hover: hover) { //только для устройств с ховером
      &:hover{
       background-color: #E72A00;
     }
   } 
    .icon{
      font-size: 18.51px;

      @include min-screen($scale){
        font-size: 21px;
      }
    }  
  }
}
.pagination-wrapper{
  display: flex;
  justify-content: center;
  padding-bottom: 31px;
}
.pagination{
  @include pagination;

  &__arrow{
    .icon{
      font-size: 14px;
      color: #A9A9A9;
      vertical-align: middle;

      @include min-screen($scale){
        font-size: 16px;
      }
    }
    &--prev{
      margin-right: 12px;
    }
    &--next{
      margin-left: 12px;
    }
    @media (any-hover: hover) { //только для устройств с ховером
        cursor: pointer;
      }
  }
  .pagination__item{
    width: 0 0 auto;
  }
  .pagination__link{
     width: auto;
    margin: 0 4px;

    @include min-screen($scale){
      height: 34px;
      font-size: 16px;
    }
    &.active{
      width: 32px;
      max-width: 32px;
    }
    &:not(.active){
      @media (any-hover: hover) { //только для устройств с ховером
          &:hover{
            color: $text-l;
          }
        }

    }
  }
}
.button-close,
.button-back {
  width: 24px;
  height: 24px;
  position: relative;
  @include but-null;

  @media (any-hover: hover) { //только для устройств с ховером
    cursor: pointer;
  }
  .icon{
    font-size: 12px;
    color: $text;
    @include absolute-center-old;
  }
}
// Tags
.tags{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.tag{
  // padding-top: 7px; 
  // padding-bottom: 3px;
  flex: 0 0 auto;
  padding-left: 13px;
  padding-right: 13px; 
  min-height: 25px;
  display: flex;  
  align-items: center;
  justify-content: center; 
  min-height: 25px;
  margin-bottom: 5px; 
  text-transform: uppercase;
  border: 1px solid #A9A9A9;
  border-radius: 20px ;
  font-family:  $navm;
  font-size: 10px;
  line-height: calc(10/10);
  text-decoration: none;
  outline: none;
  color: $text-l;
  overflow: hidden;

  @include min-screen($scale){
    font-size: 12px;
    min-height: 30px;
  }

  &:not(:last-child){
    margin-right: 5px; 
  }

  &.active{
    color:  $blue;
    border-color: $blue;
  }

  .chrome &,
   .gecko &{
    padding-top: 2px;
   }
   .android &{
    padding-top: 3px;
   }
}
// END Tags
// swiper bullet custom
.swiper-pagination-bullet{
    width: 8px;
    height: 8px;
    // background-color: $gray-l;

    &-active{
      background-color: $accent;
    }
  }
// END swiper bullet custom

/*---------------------breadcrumbs---------------------*/
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
  padding-bottom: 19px;
  transition: all .4s;

  @include max-screen($md){
    position: absolute;
    padding-bottom: 0;
    // height: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-105%);
  }
}
.breadcrumbs__item {
  list-style-type: none;


  &:last-child{
    .breadcrumbs__link {
      color: $accent;
    }
    
  }

  &:not(:last-child){
    &:after{
      content: '/';
      display: inline-block;
      margin: 0 5px;
      font-size: 10px;
      line-height: 14px;
      color: $border;
    }
    
  }

}
.breadcrumbs__link {
    color: $border;
    text-decoration: none;
    font-size: 10px;
    line-height: calc(12/10);
    color: $border;

    @include min-screen($scale){
      font-size: 12px;
    }
}

.breadcrumbs-mobile-visible{
  .breadcrumbs{
    @include max-screen($md){
      // position: absolute;
      width: 100%;
      top: 135px;
      left: 0;
      padding-left: 28px;
      z-index: 13;
      flex-direction: column-reverse;
      background-color: #fff;
      border-top: 1px solid $border;

      padding-bottom: 19px;
      // height:auto;
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }

  .breadcrumbs__item {
    @include max-screen($md){
      position: relative;
      padding-left: 28px;
      height: 39px;
      display: flex; 
      align-items: flex-end;
      max-width: 100%;  
      
    }

    &:before{
      @include max-screen($md){
        content: '';
        display: block; 
        position: absolute;
        left: 6px;
        bottom: 4px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $border;
        
      }
    }

    &:after{
      @include max-screen($md){
        content: '';
        position: absolute; 
        display: block;
        width: 1px;  
        height:  100%;
        top: 0;
        left: 4px;
        background-color: $border;
        
      }
    } 
    
    &:first-child,
    &:last-child{
      @include max-screen($md){
        display: none;         
      }
    }

    &:nth-child(2){
        &:before{
          @include max-screen($md){
            width: 20px;
            height: 20px; 
            left: 0; 
            bottom: 0;  
            
          }
        }

      .breadcrumbs__link {
        @include max-screen($md){
          margin-bottom: 1px; 
          
        }
      }
    }

    // &:not(:last-child){
    //   &:after{
    //     display: none;
    //   }

    // }
  }

  .breadcrumbs__link {
    @include max-screen($md){
      display: inline-block;  
      max-width: 100%;  
      padding-right: 28px;  
     @include dots-family;
      color: $text;
      text-transform: capitalize;
      font-size: 14px;  
      line-height: normal; 
    }
  }
}

/*--------------------END breadcrumbs----------------------*/
.back-block-inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    @include max-screen($md){
      margin-bottom: 16px;
    }

    @include min-screen($md){
      padding-bottom: 9px;
     border-bottom: 1px solid $border;
      
    }

    .back-block{
      flex: 1 1 auto;
      margin-bottom: 0;
      max-width: 100%;
      @include min-screen($md){
        border-bottom: none;
      }
    }
}
.back-block-right{
  padding-left: 16px;
  flex-shrink: 0;

  @include max-screen($md){
    display: none;
  }
}
.back-block{
  margin-bottom: 26px;  
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  @include max-screen($md){
    padding-bottom: 8px;
    border-bottom: 1px solid $border;
  }

  &--hidden{
    @include min-screen($md){
      margin-bottom: 0;
    }
    .back-value{
      @include min-screen($md){
        visibility: hidden;
      }
    }
  }
}
.breadcrumbs-mobile-visible{
  .back-block-wrapper{
    @include max-screen($md){
      position: relative;
      z-index: 12;
      background-color: #fff;
    }
  }
  .back-block{
    @include max-screen($md){
      border-bottom: none;
      
    }
  }
}
.back-title{
  padding-left: 33px;
  position: relative;
  font-size: 28px;
  line-height: calc(30/28);
  font-family: $navm;
  text-decoration: none;
  color: $text;
  transition: color .2s;
  @include  dots-family;
 

  @include max-screen($md){
    line-height: 16px;
    font-size: 16px;
  }

  @include min-screen($scale){
    font-size: 30px;
  }


  .back-link{
    position: absolute;
    left: 5px;
    top: 3px;
    // height: 14px;
    display: block;

    @include max-screen($md){
      top: 0;
    }

    .icon{
      position: absolute;
      top: 0;
      font-size: 14px;
      color:#A9A9A9;

      @include max-screen($md){
        font-size: 13px;

      }
      @include min-screen($scale){
        font-size: 16px;
      }
    }
  }

}
.simple-banner{
  padding-bottom: prc(224, 944);
  margin-bottom: 11px;
  border-radius: 4px;

  @include max-screen($md){
    margin-left: -24px;
    margin-right: -24px;

  }
  @include max-screen($xs){
    padding-bottom: prc(156, 320);
  }
}

.ld-burger{
  @include but-null;
  position: absolute;
  top: 50%;
  margin-top: -12px; 
  right: 0;
  width: 24px;
  height: 24px;

  @media (any-hover: hover) { //только для устройств с ховером
    cursor: pointer;
  }
  @include min-screen($md){
    display: none;
  }

  .icon{
    font-size: 12px;
    color: $accent;
  }
}

/*--------------------ui-page----------------------*/
.form__example{
  max-width: 624px;
}
.ui-buttons{
 & > div{
    margin-bottom: 15px;  
  }
  .btn{
    margin-right: 15px; 
  }
}
/*--------------------END ui-page----------------------*/ 

/*--------------------END ui----------------------*/ 