$maxWidth: 1920;//ширина макета в граф. редакторе
$maxWidthContainer: 1392;//ширина ограничивающего контейнера без паддингов
$containerPaddings: 24;//сумма левого и правого паддингов ограничивающего контейнера
$maxContainerWidth: $maxWidthContainer + $containerPaddings;// итоговая ширина ограничивающего контейнера

// colors
$accent: #003D9E;
$accent-l: rgba(#003D9E, .6);
$text: rgba(#000, .8);
$text-l: #A9A9A9;
// $text-l: rgba(#000, .6);
$gray:#B7B7B7;
$gray-l:#F1F1F1;
$red:#E63600;
$red-l:rgba(#E63600, .6);
$yellow: #FCC200;
$yellow-l:rgba(#FCC200, .6);
$blue:rgba(#13B3EB, .8);
$blue-l: #42C2EF;
$inpbg:#F1F1F1;
$border:#C4C4C4;

// paths
	// use: background-image: url($icos + 'arrow-right.svg');
$img: '../img/';
$icos: '../img/icons/';
$svg: '../img/icons-svg/';


// media
$max: 1392px;
$lg: 1199px;
// $md: 991px;
$md: 959.98px;
$sm: 767.98px;
$xs: 576px;
$xss: 479.98px;
$xsss: 375px;
$min: 360px;
$mins: 320px;

// point for multilevel-pnel | размер, на котором multilevel-dropdown превращается в multilevel-panel и наоборот
$multilevelPoint: 1100px;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1170px);

$gutter: $grid-gutter-width;

$inter: 'Inter', sans-serif;
$navm: 'NavigoMedium', sans-serif;
$navbl: 'NavigoBlack', sans-serif;


