$columns: 12;
$atom: (100% / $columns);

$break_max: 1392px;
$break_lg: 1199px;
$break_md: 991px;
$break_mob: 963.98px;
$break_sm: 767.98px;
$break_xs: 576px;
$break_xss: 479.98px;
$break_xsss: 375px;
$break_min: 360px;
$break_mins: 320px;

$offset: 16px;
$offset_max: $offset;
$offset_lg: $offset;
$offset_md: $offset;
$offset_mob: $offset;
$offset_sm: $offset;
$offset_xs: $offset;
$offset_xss: $offset;
$offset_xsss: $offset;
$offset_min: $offset;
$offset_mins: $offset;

$offset_one_side: ($offset / 2);
$offset_max_one_side: ($offset_max / 2);
$offset_lg_one_side: ($offset_lg / 2);
$offset_md_one_side: ($offset_md / 2);
$offset_mob_one_side: ($offset_mob / 2);
$offset_sm_one_side: ($offset_sm / 2);
$offset_xs_one_side: ($offset_xs / 2);
$offset_xss_one_side: ($offset_xss / 2);
$offset_xsss_one_side: ($offset_xsss / 2);
$offset_min_one_side: ($offset_min / 2);
$offset_mins_one_side: ($offset_mins / 2);

$fields: 12px;

@mixin wrapper-full(){
    padding-left: $fields;
    padding-right: $fields;
}

@mixin row-offsets(){
    margin-left: ($offset_one_side * -1);
    margin-right: ($offset_one_side * -1);
}

@mixin col-offsets($type){
    #{$type}-left: $offset_one_side;
    #{$type}-right: $offset_one_side;
}

@mixin wrapper(){
    max-width: 1416px;
    margin: 0 auto;
    @include wrapper-full();
}

@mixin row-flex(){
    display: flex;
    flex-wrap: wrap;
    @include row-offsets();
}

@mixin row-float(){
    @include row-offsets();
    @include clearfix();
}

@mixin row-ib(){
    @include row-offsets();
}

@mixin col(){
    box-sizing: border-box;
    word-wrap: break-word;
    @include col-offsets(margin);
}

@mixin col-float(){
    float: left;
}

@mixin col-ib(){
    display: inline-block;
    vertical-align: top;
}

@mixin col-padding(){
    word-wrap: break-word;
    @include col-offsets(padding);
}

@mixin size($n){
    $val: 100% / $columns * $n;
    width: #{calc(#{$val} - #{$offset})};
}

@mixin size-max($n){
    $val: 100% / $columns * $n;
    @include max(width, #{calc(#{$val} - #{$offset_max})});
}

@mixin size-lg($n){
    $val: 100% / $columns * $n;
    @include lg(width, #{calc(#{$val} - #{$offset_lg})});
}

@mixin size-md($n){
    $val: 100% / $columns * $n;
    @include md(width, #{calc(#{$val} - #{$offset_md})});
}

@mixin size-mob($n){
    $val: 100% / $columns * $n;
    @include mob(width, #{calc(#{$val} - #{$offset_mob})});
}

@mixin size-sm($n){
    $val: 100% / $columns * $n;
    @include sm(width, #{calc(#{$val} - #{$offset_sm})});
}

@mixin size-xs($n){
    $val: 100% / $columns * $n;
    @include xs(width, #{calc(#{$val} - #{$offset_xs})});
}

@mixin size-xss($n){
    $val: 100% / $columns * $n;
    @include xss(width, #{calc(#{$val} - #{$offset_xss})});
}

@mixin size-xsss($n){
    $val: 100% / $columns * $n;
    @include xsss(width, #{calc(#{$val} - #{$offset_xsss})});
}

@mixin size-min($n){
    $val: 100% / $columns * $n;
    @include min(width, #{calc(#{$val} - #{$offset_min})});
}

@mixin size-mins($n){
    $val: 100% / $columns * $n;
    @include mins(width, #{calc(#{$val} - #{$offset_mins})});
}

@mixin shift($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-left($n){
    $val: 100% / $columns * $n;
    margin-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-right($n){
    $val: 100% / $columns * $n;
    margin-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-left($n){
    $val: 100% / $columns * $n;
    padding-left: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-padding-right($n){
    $val: 100% / $columns * $n;
    padding-right: #{calc(#{$val} + #{$offset_one_side})};
}

@mixin shift-max($n){
    $val: 100% / $columns * $n;
    @include max(margin-left, #{calc(#{$val} + #{$offset_max_one_side})});
    @include max(margin-right, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-max-left($n){
    $val: 100% / $columns * $n;
    @include max(margin-left, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-max-right($n){
    $val: 100% / $columns * $n;
    @include max(margin-right, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-max-padding($n){
    $val: 100% / $columns * $n;
    @include max(padding-left, #{calc(#{$val} + #{$offset_max_one_side})});
    @include max(padding-right, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-max-padding-left($n){
    $val: 100% / $columns * $n;
    @include max(padding-left, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-max-padding-right($n){
    $val: 100% / $columns * $n;
    @include max(padding-right, #{calc(#{$val} + #{$offset_max_one_side})});
}

@mixin shift-lg($n){
    $val: 100% / $columns * $n;
    @include lg(margin-left, #{calc(#{$val} + #{$offset_lg_one_side})});
    @include lg(margin-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-left($n){
    $val: 100% / $columns * $n;
    @include lg(margin-left, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-right($n){
    $val: 100% / $columns * $n;
    @include lg(margin-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding($n){
    $val: 100% / $columns * $n;
    @include lg(padding-left, #{calc(#{$val} + #{$offset_lg_one_side})});
    @include lg(padding-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding-left($n){
    $val: 100% / $columns * $n;
    @include lg(padding-left, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-lg-padding-right($n){
    $val: 100% / $columns * $n;
    @include lg(padding-right, #{calc(#{$val} + #{$offset_lg_one_side})});
}

@mixin shift-md($n){
    $val: 100% / $columns * $n;
    @include md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})});
    @include md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-left($n){
    $val: 100% / $columns * $n;
    @include md(margin-left, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-right($n){
    $val: 100% / $columns * $n;
    @include md(margin-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding($n){
    $val: 100% / $columns * $n;
    @include md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})});
    @include md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding-left($n){
    $val: 100% / $columns * $n;
    @include md(padding-left, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-md-padding-right($n){
    $val: 100% / $columns * $n;
    @include md(padding-right, #{calc(#{$val} + #{$offset_md_one_side})});
}

@mixin shift-mob($n){
    $val: 100% / $columns * $n;
    @include mob(margin-left, #{calc(#{$val} + #{$offset_mob_one_side})});
    @include mob(margin-right, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-mob-left($n){
    $val: 100% / $columns * $n;
    @include mob(margin-left, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-mob-right($n){
    $val: 100% / $columns * $n;
    @include mob(margin-right, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-mob-padding($n){
    $val: 100% / $columns * $n;
    @include mob(padding-left, #{calc(#{$val} + #{$offset_mob_one_side})});
    @include mob(padding-right, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-mob-padding-left($n){
    $val: 100% / $columns * $n;
    @include mob(padding-left, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-mob-padding-right($n){
    $val: 100% / $columns * $n;
    @include mob(padding-right, #{calc(#{$val} + #{$offset_mob_one_side})});
}

@mixin shift-sm($n){
    $val: 100% / $columns * $n;
    @include sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})});
    @include sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-left($n){
    $val: 100% / $columns * $n;
    @include sm(margin-left, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-right($n){
    $val: 100% / $columns * $n;
    @include sm(margin-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding($n){
    $val: 100% / $columns * $n;
    @include sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})});
    @include sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding-left($n){
    $val: 100% / $columns * $n;
    @include sm(padding-left, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-sm-padding-right($n){
    $val: 100% / $columns * $n;
    @include sm(padding-right, #{calc(#{$val} + #{$offset_sm_one_side})});
}

@mixin shift-xs($n){
    $val: 100% / $columns * $n;
    @include xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})});
    @include xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-left($n){
    $val: 100% / $columns * $n;
    @include xs(margin-left, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-right($n){
    $val: 100% / $columns * $n;
    @include xs(margin-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding($n){
    $val: 100% / $columns * $n;
    @include xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})});
    @include xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding-left($n){
    $val: 100% / $columns * $n;
    @include xs(padding-left, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xs-padding-right($n){
    $val: 100% / $columns * $n;
    @include xs(padding-right, #{calc(#{$val} + #{$offset_xs_one_side})});
}

@mixin shift-xss($n){
    $val: 100% / $columns * $n;
    @include xss(margin-left, #{calc(#{$val} + #{$offset_xss_one_side})});
    @include xss(margin-right, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xss-left($n){
    $val: 100% / $columns * $n;
    @include xss(margin-left, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xss-right($n){
    $val: 100% / $columns * $n;
    @include xss(margin-right, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xss-padding($n){
    $val: 100% / $columns * $n;
    @include xss(padding-left, #{calc(#{$val} + #{$offset_xss_one_side})});
    @include xss(padding-right, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xss-padding-left($n){
    $val: 100% / $columns * $n;
    @include xss(padding-left, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xss-padding-right($n){
    $val: 100% / $columns * $n;
    @include xss(padding-right, #{calc(#{$val} + #{$offset_xss_one_side})});
}

@mixin shift-xsss($n){
    $val: 100% / $columns * $n;
    @include xsss(margin-left, #{calc(#{$val} + #{$offset_xsss_one_side})});
    @include xsss(margin-right, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-xsss-left($n){
    $val: 100% / $columns * $n;
    @include xsss(margin-left, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-xsss-right($n){
    $val: 100% / $columns * $n;
    @include xsss(margin-right, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-xsss-padding($n){
    $val: 100% / $columns * $n;
    @include xsss(padding-left, #{calc(#{$val} + #{$offset_xsss_one_side})});
    @include xsss(padding-right, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-xsss-padding-left($n){
    $val: 100% / $columns * $n;
    @include xsss(padding-left, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-xsss-padding-right($n){
    $val: 100% / $columns * $n;
    @include xsss(padding-right, #{calc(#{$val} + #{$offset_xsss_one_side})});
}

@mixin shift-min($n){
    $val: 100% / $columns * $n;
    @include min(margin-left, #{calc(#{$val} + #{$offset_min_one_side})});
    @include min(margin-right, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-min-left($n){
    $val: 100% / $columns * $n;
    @include min(margin-left, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-min-right($n){
    $val: 100% / $columns * $n;
    @include min(margin-right, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-min-padding($n){
    $val: 100% / $columns * $n;
    @include min(padding-left, #{calc(#{$val} + #{$offset_min_one_side})});
    @include min(padding-right, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-min-padding-left($n){
    $val: 100% / $columns * $n;
    @include min(padding-left, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-min-padding-right($n){
    $val: 100% / $columns * $n;
    @include min(padding-right, #{calc(#{$val} + #{$offset_min_one_side})});
}

@mixin shift-mins($n){
    $val: 100% / $columns * $n;
    @include mins(margin-left, #{calc(#{$val} + #{$offset_mins_one_side})});
    @include mins(margin-right, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin shift-mins-left($n){
    $val: 100% / $columns * $n;
    @include mins(margin-left, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin shift-mins-right($n){
    $val: 100% / $columns * $n;
    @include mins(margin-right, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin shift-mins-padding($n){
    $val: 100% / $columns * $n;
    @include mins(padding-left, #{calc(#{$val} + #{$offset_mins_one_side})});
    @include mins(padding-right, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin shift-mins-padding-left($n){
    $val: 100% / $columns * $n;
    @include mins(padding-left, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin shift-mins-padding-right($n){
    $val: 100% / $columns * $n;
    @include mins(padding-right, #{calc(#{$val} + #{$offset_mins_one_side})});
}

@mixin max($name, $value){
    @media screen and (max-width: $break_max){
        #{$name}: $value;
    }
}

@mixin max-block(){
    @media screen and (max-width: $break_max){
        @content;
    }
}

@mixin lg($name, $value){
    @media screen and (max-width: $break_lg){
        #{$name}: $value;
    }
}

@mixin lg-block(){
    @media screen and (max-width: $break_lg){
        @content;
    }
}

@mixin md($name, $value){
    @media screen and (max-width: $break_md){
        #{$name}: $value;
    }
}

@mixin md-block(){
    @media screen and (max-width: $break_md){
        @content;
    }
}

@mixin mob($name, $value){
    @media screen and (max-width: $break_mob){
        #{$name}: $value;
    }
}

@mixin mob-block(){
    @media screen and (max-width: $break_mob){
        @content;
    }
}

@mixin sm($name, $value){
    @media screen and (max-width: $break_sm){
        #{$name}: $value;
    }
}

@mixin sm-block(){
    @media screen and (max-width: $break_sm){
        @content;
    }
}

@mixin xs($name, $value){
    @media screen and (max-width: $break_xs){
        #{$name}: $value;
    }
}

@mixin xs-block(){
    @media screen and (max-width: $break_xs){
        @content;
    }
}

@mixin xss($name, $value){
    @media screen and (max-width: $break_xss){
        #{$name}: $value;
    }
}

@mixin xss-block(){
    @media screen and (max-width: $break_xss){
        @content;
    }
}

@mixin xsss($name, $value){
    @media screen and (max-width: $break_xsss){
        #{$name}: $value;
    }
}

@mixin xsss-block(){
    @media screen and (max-width: $break_xsss){
        @content;
    }
}

@mixin min($name, $value){
    @media screen and (max-width: $break_min){
        #{$name}: $value;
    }
}

@mixin min-block(){
    @media screen and (max-width: $break_min){
        @content;
    }
}

@mixin mins($name, $value){
    @media screen and (max-width: $break_mins){
        #{$name}: $value;
    }
}

@mixin mins-block(){
    @media screen and (max-width: $break_mins){
        @content;
    }
}

@mixin from($min_width){
    @media screen and (min-width: $min_width){
        @content;
    }
}

@mixin to($max_width){
    @media screen and (max-width: $max_width){
        @content;
    }
}

@mixin from-to($min_width, $max_width){
    @media screen and (min-width: $min_width) and (max-width: $max_width){
        @content;
    }
}

@mixin u-row-flex($offset){
    display: flex;
    flex-wrap: wrap;
    margin-left: ($offset / -2);
    margin-right: ($offset / -2);
}

@mixin u-col($offset){
    box-sizing: border-box;
    word-wrap: break-word;
    margin-left: ($offset / 2);
    margin-right: ($offset / 2);
}

@mixin u-size($n, $columns, $offset){
    width: #{calc(100% / #{$columns} * #{$n} - #{$offset})};
}

@mixin reset(){
    body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,input,textarea,p,blockquote,th,td{
        margin: 0;
        padding: 0;
    }
    table{
        border-collapse: collapse;
        border-spacing: 0;
    }
    fieldset,img,abbr{
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var{
        font-style: normal;
        font-weight: normal;
    }
    ul li{
        list-style: none;
    }
    caption,th{
        text-align: left;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 100%;
        font-weight: normal;
    }
    sup{
        vertical-align: text-top;
    }
    sub{
        vertical-align: text-bottom;
    }
    input,textarea,select{
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
    legend{
        color: #000;
    }
    article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main{
        display: block;
    }
    img{
        max-width: 100%;
        height: auto;
    }
}

@mixin debug($background, $outline){
    height: 100vh;
    position: fixed;
    width: 100%;
    
    > div{
        height: inherit;
        @include wrapper();
        
        > div{
            height: inherit;
            @include row-flex();
            
            > div{
                @include col();
                @include size(1);
                height: inherit;
                outline: $outline;
                background: $background;
            }
        }
    }
}

@mixin clearfix(){
    &::after{
        display: block;
        content: "";
        clear: both;
    }
}