/*--------------------banner----------------------*/
.banner {
	padding-top: 32px;
}
.banner__wrap{
	margin-left: 0;
	margin-right: 0;
	flex-wrap: nowrap;

	@include max-screen($md){
		margin-left: -24px;
		margin-right: -24px;
	}
}


.banner-visual,
.banner-card {

}
.banner-visual{
	flex: 1 1 calc(100% - 225px - 30px);
	padding-bottom: 23.937%;
	margin-right: 30px;
	border-radius: 4px;

	@include max-screen($md){
		flex: 0 0 100%;
		margin-right: 0;
		padding-bottom: prc(150, 320);
	}
}
.banner-card {
	position: relative;
	flex: 0 0 prc(225,940);
	background-color: $gray-l;
	border-radius: 4px;

	@include max-screen($md){
		display: none;
	}

	&__inner{
		padding: 4px 24px 54px 24px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: $text;
		text-decoration: none;
	}

	.btn{
		position: absolute;
		bottom: 20px;
		left: 24px;
	}
}
.banner-card__img {
	width:100%;
	height: prc(123, 224);
	position: relative;
	margin-bottom: 15px;

	img{
		@include absolute-center;
		height: 100%;
	}
}
.banner-card__text {
	display: flex;
	align-items: center;
	
	.cart-round-icon {
		flex-shrink: 0;
	}
}
.banner-card__name {
	max-height: 32px;
	@include dots-family-multi(2);
	-webkit-box-orient: vertical;
	font-size: 14px;
	line-height: 16px;
	color: $text;
}
/*--------------------END banner----------------------*/ 