/*--------------------categories-tiles----------------------*/
.categories-tiles {

	@include max-screen($sm){
		padding-top: 17px;
	}
	
	.swiper-container{
		@include max-screen($md){
			width: 	calc(100% + 24px);
		}

		.swiper-button-prev,
		.swiper-button-next{
			display: none;	
		}

	}
	.swiper-wrapper{
		@include min-screen($md){
			flex-wrap: wrap;
			margin-left: -8px;
			margin-right: -8px;	
			width: auto;
				
		}
	}
	.show-all-link{
		margin-top: -20px;
	}
}
.wrapper {}
.sect-title {}
.wrapper-smart {}
.wrapper-flex {}
.categories-tiles__column {
	// @include col();
	// @include size(3);

	// @include min-screen($sm){
	// 	width: calc((100% / 3) - 16px) !important;
	// 	margin-left: 8px;
	// 	margin-right: 8px;	
	// }
		// height:  prc(356,988);
	@include min-screen($md){
		// padding-bottom:  prc(356,988);
		width: calc(25% - 16px) !important;
		margin-left: 8px;
		margin-right: 8px;
	}


	display: flex;
	flex-direction: column;
	word-wrap: normal;
	&:nth-child(even){
		flex-direction: column-reverse;
	}
}
.categories-tile {
	position: relative;
	margin-bottom: 20px;
	padding: 12px;
	background-color: $gray-l;
}
.categories-tile--lg {
	height: 0;
	padding-bottom: 98.7%;

	@include max-screen($md){
		flex: 1 1 220px;
		height: auto;
    	padding-bottom: 50px;
	}

	.categories-tile__title {
		margin-top: 3px;
		margin-bottom: 16px;

	}
	.tags {
		position: relative;
		z-index: 2;
	}
	.categories-tile__img {
		width: 100px;
		height: 100px;

		@include min-screen($md){
			height: prc(100, 220);
			width: prc(118, 224);
		}

		img{
			@include absolute-center-old;
			top: auto;
			bottom: 0;

			@include min-screen($md){
				height: 100%;
			}
		}
	}
}
.categories-tile__title {
	max-width: 103px;
	font-family: $navm;
	font-size: 14px;
line-height: 14px;
}
.categories-tile__tag {
	letter-spacing: -0.025em;
	padding-left: 11px;
	padding-right: 11px;
	margin-bottom: 6px;
	color: 	$accent;
	border-color: $accent;
	transition: all .3s;

	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{

			background-color: $accent;
			color: #fff;
		}
	}

	&:not(:last-child){
		margin-right: 4px;
		
	}
}
.tag {}
.categories-tile__img {
	position: absolute;
	bottom: 0;
	right: 0;
	img{
		max-width: 100%;
		max-height: 100%;
		display: block;
		margin: 0 auto;
	}
}
.categories-tile--sm {
	// flex: 0 0 prc(120, 354);
	height: 0;
	padding-bottom: 48%;
	// position: absolute;
	overflow: hidden;
	color: $text;
		position: relative;
	text-decoration: none;
	transition: all .4s;

	@include max-screen($md){
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		flex: 0 0 120px;
		height: auto;
		padding-bottom: 12px;
	}

	.categories-tile__title {
		@include min-screen($md){
			position: absolute;
			left: 12px;
			bottom: 12px;
		}
	}
	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				background-color: $blue-l;
				transform: translateX(5px);
				
				.categories-tile__img {
					transform: translateX(110%);
				}
				.categories-tile__title {
					color: #fff;
				}
			}
		}
	
	.categories-tile__img {
		width: 90px;
		height: 90px;
		transition: all .4s;

		@include min-screen($md){
			height: prc(90, 120);
			width: prc(90, 224);
			bottom: 12px;
		}

		img{
			@include absolute-center;

			@include min-screen($md){
				height: 80%;
			}
		}
	}
}
/*--------------------END categories-tiles----------------------*/ 