/*--------------------catalog-filter----------------------*/
.ctlg-filter {}
.accordion {}
.ctlg-filter__list {}
.ctlg-filter__item {
	list-style-type: none;	
	padding-bottom: 12px;	

	&:not(:last-child){
		border-bottom: 	1px solid $border;
		
	}


	&.active{
		.icon {
			transform: rotate(180deg);
		}

	}
}
.ctlg-filter__link {
	padding-top: 13px;
	padding-bottom: 8px;		
	display: flex;	
	justify-content: space-between;	
	padding-right: 6.75px;	
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	.icon {
		transition: all .3s;
		margin-top: 8px;	
		color: 	$text-l;
		font-size: 6.25px;	
		margin-left: 10px;
	}

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;	
	}	
}
.ctlg-filter__content {}
.ctlg-filter__labels {
	max-height: 387px;	
	overflow-y: auto;	
}
.ctlg-filter__label {
	display: flex;	
	align-items: center;
	position: relative;	
		margin-bottom: 6px;	

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}	

	&:last-child{
			margin-bottom: 3px;	
	}
}
.ctlg-filter__inplabel {
	position: relative;
	display: block;
	margin-bottom: 13px;

	
}

.ctlg-filter__row-label {
	position: relative;	
	margin-bottom: 8px;	
	&:not(:last-child){
		margin-right: 6px;	
	}
	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
	}	

}
.ctlg-filter__checkbox {
	@include 	checkbox();
	top: 0;	

	&:checked{
		& + .ctlg-filter__false-checkbox {
			border-color: $blue;
			&:before{
				width: 10px;
				height: 10px;
				background-color: $blue;
				
			}
			& + .ctlg-filter__value {
				color: 	$text;
			}

		
		}
		& + .ctlg-filter__tag-value {
			border-color: #13B3EB;
			color: #13B3EB;
		}

	} 

}
.ctlg-filter__false-checkbox {
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 20px;
	height: 20px;	
	margin-right: 12px;	
	border: 3px solid rgba(118, 118, 118, 0.8);
	border-radius: 50%;		

	&:before{
		content: '';
		display: block;	
		width: 0;
		height: 0;	
		transition: all .3s;
		border-radius: 50%;	
	}
		
}
.ctlg-filter__value {
	color: 	$text-l;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.01em;
}
.tags {}
.ctlg-filter__tags {}
.tag {}
.ctlg-filter__tag-value {
	padding-top: 6px;
	padding-bottom: 4px;
	margin-bottom: 0;
	color: #767676;		
}
.ctlg-filter__select {
	margin-top: 8px;	
	margin-bottom: 16px;	
}
.fstdropdown-select {}
.ctlg-filter__range {}
.range {
	margin-bottom: 16px;
}
.range-top {
	@include row-flex();
	margin-bottom: 20px;

}
.range-slider {}
.ctlg-filter__input {
	height: 32px;
	padding: 8px 32px 7px 8px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	border-radius: 4px;
	font-size: 14px;
	line-height: 17px;
	font-family: $inter;

	@include placecolor($text-l);
}
.ctlg-filter__send{
	@include but-null;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 50%;
	margin-top: -10px;
	right: 9px;
	cursor: pointer;

	.icon-magnifier {
		font-size: 20px;
		color: $border;
	}

}
.ctlg-filter__labels--brands {}
.ctlg-filter__count {}
.ctlg-filter__show-all {
	@include but-null;
	display: block;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 4px;
	color: $border;

	@media (any-hover: hover) { //только для устройств с ховером

		cursor: pointer;
	}
}
.range__col{
	display: flex;
	align-items: flex-end;
	@include col();
	@include size(6);
	height: 32px;
	padding: 0 8px 7px 8px;
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	
	.range__input {
		flex: 1 1 auto;
		width: 100%;	
		padding: 0;
		outline: none;
		border: none;
		font-size: 14px;
		color: $text;
	}
}
.range__label{
	flex-shrink: 0;
	margin-right: 4px;
	color: $text-l;
	font-size: 14px;
}
.ctlg-filter-location{
	position: relative;
	background: #FFFFFF;

}
.ctlg-filter-location__selected{
	@include but-null;
	display: block;
	width: 100%;
	padding: 7px 24px 7px 13px;
	position: relative;
	border: 1px solid #C4C4C4;
	font-family: $inter;
	text-align: left;
	// max-width: 224px;
	// max-width: calc(100% - 1px);
	user-select: none;

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
		}

	.icon{
		font-size: 6px;
		color: $text-l;
		position: absolute;
		top: 50%;
		right: 10px;
		font-size: 6.25px;
		margin-top: -1.5px;
	}
}
.ctlg-filter-location__value{
	text-align: left;
	@include dots-family;
}
.ctlg-filter-location__dropdown{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 420px;
	overflow-y: auto;
	padding: 16px 0;
	visibility: hidden;
	opacity: 0;
	transition: all .4s;
	background-color: #fff;
	z-index: 2;
	border-bottom: 1px solid $border;

	.ctlg-filter-location--opened &{
		visibility: visible;
		opacity: 1;
	}
}
/*--------------------END catalog-filter----------------------*/ 