/*--------------------catalog-sort----------------------*/
.catalog-sort {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding-bottom: 10px;	
	margin-bottom: 42px;	
	border-bottom: 1px solid $border;
}
.catalog-sort__select {
	flex: 1 1 auto;
	max-width: 223px;
}

.catalog-sort__actions {
	display: flex;
	align-items: center;
}
.catalog-sort__action {
	@include but-null;
	cursor: pointer;

	&:not(:last-child){
		margin-right: 12px;		
	}
	&.active{
		.icon{
			color: $accent-l;
		}
	}
	.icon{
		font-size: 20px;
		color:  #A9A9A9;
	}
}
.icon {}
.icon-cards-row {}
.icon-cards-tiles {}
/*--------------------END catalog-sort----------------------*/ 