/*--------------------header-search-dropdown----------------------*/
.header__search-results {
}
.search-results-header {
	position: absolute;
	padding-top: 9px;
	
	top: 100%;
	left: 0;
	bottom: 0;	
	right: 0;	
	
	height: 345px;
	width: 100%;

	background-color: #fff;
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
	overflow-y: hidden;

	@include max-screen($md){
		padding-left: 28px;
		// padding-right: 46px;
		height: 300px;
	}

	._scroll &{
		// position: fixed;
		// top: 80px;
		padding-top: 25px;
		padding-left: 80px;
		height: 557px;

		@include max-screen($md){
			padding-left: 29px;
		}
	}

	.search-results-opened &{
		visibility: visible;
		opacity: 1;
	}

	& > .wrapper-smart{
		position: relative;
		// max-height: 334px;
	}

	&--cards{
		max-height: calc(100vh - 124px);

		@include max-screen($md){
			height: 532px;
		}
		& > .wrapper-smart{
			height: 100%;
		}
		.search-column--block {
			height: calc(100vh - 124px - 50px);
		}
	}

}
.search-results-header__wrapper{
	._scroll  &{
		@include min-screen($max){
			padding-right: 40px;
			
		}
	}
}
.search-column--block {
	// position: relative;	
	height: 298px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	@include col();
	// padding-bottom: 20px;
	flex: 1 1 calc(100% - 270px - 16px);

	@include max-screen($md){
		flex-basis: 100%;
		height: 269px;
	}

	
}
.search-results-header__all{
	position: absolute;
	bottom: 18px;
	color: #A9A9A9;
	font-size: 12px;
	line-height: calc(15/12);
	left: 50%;
	transform: translateX(-50%);


	@include max-screen($md){
		display: none;
	}
	@include min-screen($scale){
		font-size: 14px;
	}
	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				color: $text;
			}
		}
}
.search-results-header__row {
	width: 100%;
}
.search-results-header__category{
	&:not(:last-child){
		margin-bottom: 25px;
		
	}
}

.result-row-chapter {
	flex: 0 0 144px;
	@include col();
	padding-left: 15px;
	font-weight: 700;

	@include max-screen($md){
		display: none;
	}
}
.result-row-values {
	flex: 1 1 calc(100% - 144px - 32px);
	padding-bottom: 25px;
	@include col();
	@include max-screen($md){
		flex-basis: 100%;
		max-width: 100%;	
	}


	.product-card--mini{
		@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				.product-card__name{
					font-weight: 700;
				}
			}
		}
		&:not(:last-child){
			margin-bottom: 9px;
		}
	}
}
.result-row-value {
	position: relative;

	&:not(:last-child){
		@include max-screen($md){
			margin-bottom: 21px;	
			
		}
	}
	&:hover, &:active, &:focus, &.active{

		@include max-screen($md){
			font-weight: 700;
			position: relative;
			&:before{
				content: '';
				display: inline-block;
				// position: absolute;
				// top: 50%;
				vertical-align: middle;	
				// margin-top: -6px;	
				// left: -24px;
				margin-right: 12px;		
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: #FCC200;

			}
		}


	}

	&.active{
		@include max-screen($md){
			position: relative;
			
		}
		a{
			font-weight: 700;
			position: relative;

		}

	}

	a{
		display: inline-block;
		vertical-align: middle;	
		font-size: 13px;
		line-height: calc(22/13);
		color: #000;
		text-decoration: none;
		@include dots-family;

		@include max-screen($md){
			max-width: calc(100% - 38px);		
		}

		@include min-screen($scale){
			font-size: 15px;
		}

		@media (any-hover: hover) { //только для устройств с ховером

				&:hover{
					font-weight: 700;
				}
			}
	}
}
.search-column--cards {
	flex: 0 0 calc(254px + 16px);
	padding-bottom: 20px;
	max-height: calc(100vh - 124px - 50px);
	overflow-y: auto;
	// overflow-x: hidden;

	@include max-screen($md){
		display: none;
	}

	._scroll &{
		height: 557px;
		// flex-basis: calc(254px + 16px + 80px);
	}

	.product-card--mini{

		&:not(:last-child){
			margin-bottom: 9px;
		}
	}
}

/*--------------------END header-search-dropdown----------------------*/ 
