/*--------------------header-catalog----------------------*/
.header__catalog {
	transition: all .3s;
	visibility: hidden;
	opacity: 0;

	.header-catalog-opened  &{
		visibility: visible;
		opacity: 1;
	}
}

.catalog-header {
	// position: fixed;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding-top: 8px;
	background-color: #fff;
}
.wrapper {}
.catalog-header__wrap {
	// max-height: calc(100vh - 124px);
	padding-bottom: 53px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	display: flex;
;
}
.catalog-header__nav {
	flex: 0 0 276px;
	// position: relative;
	z-index: 2;
	// overflow-y: auto;
	padding-bottom: 53px;
	direction: rtl;
}
.catalog-header__list {
    direction: ltr;
}
.catalog-header__item {
	list-style-type: none;
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			.catalog-header__link {
				font-weight: 700;
				background-color: $gray-l;
				border-radius: 4px;
			}
		}
		&.visible{
			.mega-catalog-header {
				display: block;
			}
			
		}
	}
	&.touch-hover{
		.mega-catalog-header {
			display: block;
		}
		.catalog-header__link {
			font-weight: 700;
			background-color: $gray-l;
			border-radius: 4px;
		}
	}
}
.catalog-header__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 7px 8px 12px;
	color: $text;
	transition: all .3s;
	text-decoration: none;

	.icon{
		flex-shrink: 0;
		font-size: 7px;
		width: 11px;
		color: #D1B7B7;
		margin-left: 16px;
		transform: rotate(-90deg);
	}

	// &.visible{
	// 	& + .mega-catalog-header {
	// 		display: block;
	// 	}
	// }
			
}
.catalog-header__mega {}
.mega-catalog-header,
.screen-catalog-header {
	display: none;
	// background-color: #fff;
	position: absolute;
	top: 0;
	// z-index: 1;
	left: 276px;
	width: calc(100% - 276px - 35px);
	height: 100%;
	padding-top: 7px;
	// overflow-y: auto;
	// overflow-x: hidden;
	@include min-screen(#{$maxWidthContainer  + 'px'}){
		width: calc(#{$maxWidthContainer  + 'px'} - 276px );
			
	}

	
	
}
.mega-catalog-header{
}
.screen-catalog-header {
	padding-bottom: 53px;
}
.mega-catalog-header__wrapper,
.screen-catalog-header__wrapper{
	padding-left: 71px;	
}
.mega-catalog-header__wrapper{
	position: relative;
	height: 100%;
	&:after{
	z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		left: 30px;
		height: 100%;
		width: calc(100% - 30px);
		background-color: #fff;
	}
}
.catalog-header__content {
		background-color: #fff;
	// display: none;
}
.content-catalog-header {
	padding-bottom: 53px;
}
.content-catalog-header__title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: rgba($accent, .8);
}
.content-catalog-header__body {
	// column-width: 230px;
	 -webkit-columns: 250px auto;
    -moz-columns: 250px auto;
    columns: 250px auto;
	// column-count: 2;
	column-gap: 52px;
}
.content-catalog-header__list {
	break-inside: avoid;
	max-width: 230px;
	&:not(:last-child){
		margin-bottom: 22px;
	}
}
.content-catalog-header__item {
	list-style-type: none;
	&:first-child{
		.content-catalog-header__link {
			font-weight: 700;
		}
	}

}
.content-catalog-header__link {
	font-size: 13px;
	line-height: 22px;
	color: $text;
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				font-weight: 700;
			}
		}
}
.catalog-header__screen {
	display: block;
}
.screen-catalog-header{

}

.screen-catalog-header__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 -8px;

	&:first-child{
		margin-top: -15px;
	}

}
.catalog-header__card {
	width: 100%;
	max-width: 244px;
	position: relative;
	margin: 15px 8px;
	min-height: 224px;
	padding: 12px 40px 20px 20px;
	background-color: $gray-l;
	overflow: hidden;
}
.card-catalog-header {

}
.card-catalog-header__title {
	margin-bottom: 20px;
	color: $text-l;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
}
.catalog-header__tags {
	display: flex;
	flex-wrap: wrap;
}
.catalog-header__tag {
	overflow: hidden;
	display: block;
	padding: 5px 13px;
	height: 25px;
	margin-bottom: 14px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	border: 1px solid $accent;
	border-radius: 23px;
	color: $accent;
	text-decoration: none;
	transition: all .3s;


	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{

			background-color: $accent;
			color: #fff;
		}
	}

	&:not(:last-child){
		margin-right: 8px;
	}
}
.card-catalog-header__img {
	position: absolute;
	bottom: 0;
	right: 0;
	max-height: 108px;
	max-width: 100px;

	text-align: right;
}
.multilevel-panel{
	display: flex;
	flex-direction: column;
	top: 55px;
	padding-top: 15px;
	background-color: #fff;
	overflow-y: visible;
	height: calc(100% - 56px - 55px);

	.multilevel-panel-opened &{
		// top: 55px;
	}
}
.multilevel-panel .multilevel-menu {
	flex: 1 1 auto;
	overflow-y: auto;
  @include max-screen($multilevelPoint){
    padding-top: 0;
  }
}
.multilevel-panel .multilevel-menu li {
	list-style-type: none;
}
.multilevel-panel .multilevel-menu li a {
	color: $text;
}
.multilevel-panel .multilevel-menu ul {

  @include max-screen($multilevelPoint){
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 50px;
    background-color: #fff;
  }
}
.multilevel-menu__item,
.multilevel-submenu__item{
	&.with-submenu{
		& > .multilevel-menu__link,
		& > .multilevel-submenu__link{
			.icon{
				display: block;
			}
		}
	}
}
.multilevel-menu__link,
.multilevel-submenu__link{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	line-height: 17px;
  	color: $text;


	.icon{
		display: none;
		font-size: 8px;
		color: #C4C4C4;
	}
}
.multilevel-panel .multilevel-menu .with-submenu > a::after{
	display: none;
}
.multilevel-panel .multilevel-menu {

  @include max-screen($multilevelPoint){
    padding-left: 24px;
    padding-right: 24px; 
  }
}
.multilevel-panel__label{
	flex: 0 0 auto;
	margin-bottom: 20px;
	padding: 0 24px;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.multilevel-panel__back{
	padding-left: 0;
	padding-right: 0;
	left: 24px;
	right: 24px;
	width: auto;
	padding-bottom: 8px;
	border-bottom: 1px solid $border;
	background-color: #fff;
}
.multilevel-panel__back button{
	@include dots-family;
	@include but-null;
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	font-family: $inter;

	&:before{
		content: '';
		display: block;
		flex-shrink: 0;
		margin-right: 12px;
		width: 16px;
		height: 13.37px;
		background-image: url(../img/icons-svg/arrow-left.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		opacity: 0.5;
	}
	.icon{
		font-size: 13.37px;
		color: #A9A9A9;
	}
}
.mob-catalog-screen{
	height: 84px;
	margin-bottom: 16px;
}
/*--------------------END header-catalog----------------------*/ 