/*--------------------header-search-dropdown----------------------*/
.header__search-results {
	position: absolute;
	padding-top: 9px;
	
	top: 100%;
	left: 0;
	bottom: 0;	
	right: 0;	
	
	height: 345px;
	width: 100%;

	background-color: #fff;
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
	overflow-y: hidden;

	@include max-screen($md){
		padding-left: 40px;
		padding-right: 46px;
		height: 300px;
	}

	._scroll &{
		// position: fixed;
		// top: 80px;
		padding-top: 25px;
		padding-left: 80px;
		height: 370px;

		@include max-screen($md){
			padding-left: 56px;
		}
	}

	.search-results-opened &{
		visibility: visible;
		opacity: 1;
	}

	& > .wrapper-smart{
		position: relative;
		max-height: 334px;
	}
}
.search-results-header {}
.search-column--block {
	// position: relative;	
	height: 345px;
	overflow-y: auto;
	overflow-x: hidden;
	display: flex;
	@include col();
	// padding-bottom: 20px;
	flex: 1 1 calc(100% - 270px - 16px);

	@include max-screen($md){
		flex-basis: 100%;
		
	}
}
.search-results-header__all{
	position: absolute;
	bottom: 18px;
	right: 390px;
	color: #A9A9A9;
	font-size: 12px;
	line-height: 15px;

	@include max-screen($max){
		right: 270px;
	}
	@include max-screen($md){
		display: none;
	}
}
.search-results-header__row {
	width: 100%;
}
.search-results-header__category{
	&:not(:last-child){
		margin-bottom: 25px;
		
	}
}

.result-row-chapter {
	flex: 0 0 144px;
	@include col();
	padding-left: 15px;
	font-weight: 700;

	@include max-screen($md){
		display: none;
	}
}
.result-row-values {
	flex: 1 1 calc(100% - 144px - 32px);
	padding-bottom: 25px;
	@include col();
	@include max-screen($md){
		flex-basis: 100%;
		
	}
}
.result-row-value {
		position: relative;
		&:not(:last-child){
			@include max-screen($md){
				margin-bottom: 21px;	
				
			}
		}
		&:hover, &:active, &:focus, &.active{

			@include max-screen($md){
				font-weight: 700;
				position: relative;
				&:before{
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					margin-top: -6px;	
					left: -24px;	
					width: 12px;
					height: 12px;
					border-radius: 50%;
					background-color: yellow;

				}
			}


		}

	a{
		display: block;
		font-size: 13px;
		line-height: 22px;
		color: #000;
		text-decoration: none;
		@include dots-family;

		@include max-screen($md){
			max-width: calc(100% - 38px);		
		}
	}
}
.search-column--cards {
	flex: 0 0 calc(254px + 16px);
	padding-bottom: 20px;

	@include max-screen($md){
		display: none;
	}
}

/*--------------------END header-search-dropdown----------------------*/ 
