/*--------------------header-catalog----------------------*/
.header__catalog {
	transition: all .3s;
	visibility: hidden;
	opacity: 0;

	.header-catalog-opened  &{
		visibility: visible;
		opacity: 1;
	}
}

.catalog-header {
	// position: fixed;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	padding-top: 8px;
	background-color: #fff;
}
.wrapper {}
.catalog-header__wrap {
	// max-height: calc(100vh - 124px);
	padding-bottom: 53px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	display: flex;
;
}
.catalog-header__nav {
	flex: 0 0 276px;
	// position: relative;
	z-index: 2;
	// overflow-y: auto;
	padding-bottom: 53px;
	direction: rtl;
}
.catalog-header__list {
    direction: ltr;
}
.catalog-header__item {
	list-style-type: none;
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			.catalog-header__link {
				font-weight: 700;
				background-color: $gray-l;
				border-radius: 4px;
			}
		}
		&.visible{
			.mega-catalog-header {
				display: block;
			}
			
		}
	}
	&.touch-hover{
		.mega-catalog-header {
			display: block;
		}
		.catalog-header__link {
			font-weight: 700;
			background-color: $gray-l;
			border-radius: 4px;
		}
	}
}
.catalog-header__link {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 7px 8px 12px;
	color: $text;
	transition: all .3s;
	text-decoration: none;

	.icon{
		flex-shrink: 0;
		font-size: 7px;
		width: 11px;
		color: #D1B7B7;
		margin-left: 16px;
		transform: rotate(-90deg);
	}

	// &.visible{
	// 	& + .mega-catalog-header {
	// 		display: block;
	// 	}
	// }
			
}
.catalog-header__mega {}
.mega-catalog-header,
.screen-catalog-header {
	display: none;
	// background-color: #fff;
	position: absolute;
	top: 0;
	// z-index: 1;
	left: 276px;
	width: calc(100% - 276px - 35px);
	height: 100%;
	padding-top: 7px;
	// overflow-y: auto;
	// overflow-x: hidden;
	@include min-screen(#{$maxWidthContainer  + 'px'}){
		width: calc(#{$maxWidthContainer  + 'px'} - 276px );
			
	}

	
	
}
.mega-catalog-header{
}
.screen-catalog-header {
	padding-bottom: 53px;
}
.mega-catalog-header__wrapper,
.screen-catalog-header__wrapper{
	padding-left: 71px;	
}
.mega-catalog-header__wrapper{
	position: relative;
	height: 100%;
	&:after{
	z-index: -1;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		left: 30px;
		height: 100%;
		width: calc(100% - 30px);
		background-color: #fff;
	}
}
.catalog-header__content {
		background-color: #fff;
	// display: none;
}
.content-catalog-header {
	padding-bottom: 53px;
}
.content-catalog-header__title {
	margin-bottom: 9px;
	font-weight: 700;
	font-size: 20px;
	line-height: 20px;
	color: rgba($accent, .8);
}
.content-catalog-header__body {
	// column-width: 230px;
	 -webkit-columns: 250px auto;
    -moz-columns: 250px auto;
    columns: 250px auto;
	// column-count: 2;
	column-gap: 52px;
}
.content-catalog-header__list {
	break-inside: avoid;
	max-width: 230px;
	&:not(:last-child){
		margin-bottom: 22px;
	}
}
.content-catalog-header__item {
	list-style-type: none;
	&:first-child{
		.content-catalog-header__link {
			font-weight: 700;
		}
	}

}
.content-catalog-header__link {
	font-size: 13px;
	line-height: 22px;
	color: $text;
	text-decoration: none;
}
.catalog-header__screen {
	display: block;
}
.screen-catalog-header{

}

.screen-catalog-header__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 -8px;

	&:first-child{
		margin-top: -15px;
	}

}
.catalog-header__card {
	width: 100%;
	max-width: 244px;
	position: relative;
	margin: 15px 8px;
	min-height: 224px;
	padding: 12px 40px 20px 20px;
	background-color: $gray-l;
	overflow: hidden;
}
.card-catalog-header {

}
.card-catalog-header__title {
	margin-bottom: 20px;
	color: $text-l;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
}
.catalog-header__tags {
	display: flex;
	flex-wrap: wrap;
}
.catalog-header__tag {
	overflow: hidden;
	display: block;
	padding: 6px 13px;
	margin-bottom: 14px;
	font-size: 10px;
	line-height: 12px;
	text-transform: uppercase;
	border: 1px solid $accent;
	border-radius: 23px;
	color: $accent;
	text-decoration: none;
	transition: all .3s;


	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{

			background-color: $accent;
			color: #fff;
		}
	}

	&:not(:last-child){
		margin-right: 8px;
	}
}
.card-catalog-header__img {
	position: absolute;
	bottom: 0;
	right: 0;
	max-height: 108px;
	max-width: 100px;

	text-align: right;
}
/*--------------------END header-catalog----------------------*/ 