/*--------------------map-fullscreen----------------------*/
.map-fullscreen{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
	transition: all .5s;
	transform: translateX(calc(-110% - 432px));

	// @include max-screen($md){
	// 	display: none;
	// }

	.map-with-modal &{
		@include min-screen($md){
			width: calc(100% - 432px);
			
		}

		@include min-screen($scale){
			width: calc(100% - 452px);
			
		}

	}

	.fullscreen-map-visible &{
		transform: translateX(0);

	}

	&__select{
		display: flex;
		margin-top: 12px;
		margin-left: 12px;
		margin-right: 12px;
		background-color: $gray-l;
		z-index: 1;
		position: relative;

		.address-side-modal__form{
			margin-bottom: 0;
			flex: 1 1 auto;
			max-width: none;
		}
		.address-side-modal__select{
			max-width: none;
			flex: 1 1 auto;
		}

		@include min-screen($md){
			display: none;
		}
	}
	&__back{
		flex: 0 0 32px;
		position: relative;
		z-index: 1;
		@include but-null;
		cursor: pointer;
		.icon{
			@include absolute-center-old;
			left: auto;
			font-size: 13.37px;
			color: #A9A9A9;
		}
	}
}
.map-fullscreen__close{
	position: absolute;
	top: 40px;
	right: 22px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	z-index: 1;

	@include max-screen($md){
		top: 24px;
	}
}
.map-marker{
	position: absolute;
	height: 24px;
	min-width: 53px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $accent;
	color: #fff;
	border-radius: 23px;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	z-index: 1;

	

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -5.5px;
		left: 0;
		right: 0;
		margin: auto;
		width: 11px;
		height: 11px;
		background-color: inherit;
		transform: rotate(-45deg);
	}

	&:first-child{
		left: prc(182,768);
		top: prc(152,660);
	}
	&:last-child{
		
	}
	&:nth-child(2){
		left: prc(353,768);
		top: prc(255,660);
	}
	&:nth-child(3){
		left: prc(327,768);
		top: prc(455,660);
	}
	&:nth-child(4){
		left: prc(532,768);
		top: prc(116,660);
	}
	&:nth-child(5){
		left: prc(639,768);
		top: prc(323,660);
	}

	&--lg{
		min-width: 54px;
		height: 54px;
		left: prc(500,768);
		top: prc(200,660);

		background-color: $blue;
		border-radius: 50%;

		&:after{
			display: none;
		}

	}

}
.map-fullscreen__map{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/*--------------------END map-fullscreen----------------------*/ 