/*--------------------popups----------------------*/
.popup {
	position: fixed;
	top: 17px;
	right: 20px;
	padding: 23px 20px 19px 20px;
	max-width: 344px;
	width: 100%;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	z-index: 12;
	display: none;

	@include max-screen($md){
		bottom: 0;
		right: 0;
		max-width: none;
		top: auto;
	}
	@include max-screen($xsss){
	}
}
.popup-action {
	.popup-action-visible & {
		display: block;
	}

}
.popup__close {
	position: absolute;
	top: 23px;
	right: 20px;
	@include but-null;
	width: 24px;
	height: 24px;

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
		}

	.icon{
		font-size: 12px;
		color: #A9A9A9;
	}
}
.icon {}
.icon-ctlg-close {}
.popup__title {
	margin-bottom: 16px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
}
.popup__body {}
.popup__text {
	margin-top: 0;
}
.popup__footer {
	display: flex;
	align-items: flex-end;
}	
.popup__button {
	// @include but-null;
	color: $text;
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	font-family: $inter;
	text-decoration: none;

	&:active, &:focus{
		color: $text;
	}
	&:visited{
		color: $text;
	}
	

	@media (any-hover: hover) { //только для устройств с ховером
		cursor: pointer;
		&:hover{
			color: $text-l;
		}
	}
	&:first-child{
		margin-right: 12px;
	}
	&:last-child{
		font-weight: 700;
		margin-left: auto;
	}
}
.popup-review{
	.popup__title {
		margin-bottom: 8px;
	}
	.product-card--mini{
		margin-bottom: 32px;
		align-items: center;
	}

	.popup-review-visible & {
		display: block;
	}
}
.popup__rating {
	margin-top: 18px;
	margin-bottom: 19px;
	.simple-rating{
	@include simple-rating($gray-l, $yellow, 30px, 23px, '\e901');
	// @include simple-rating(red, gold, 35px, 25px, false);
	}
}
.popup-product-added{
	.popup__title{
		margin-bottom: 26px;
	}
	.product-card--mini{
		margin-bottom: 20px;
	}
	.popup__footer{
		padding-top: 20px;	
		border-top: 1px solid $border;
	}
	.popup-product-added-visible & {
		display: block;
	}

}
/*--------------------END popups----------------------*/ 