/*--------------------product-card----------------------*/
.product-card {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;

	// @include col();
	// @include size(3);
	word-wrap: normal;
	transition: transform .3s;

	.ui-elems &{
		max-width: 224px;

	}
	.product-cards &{
		@include col();
		@include size(3);
		@include size-md(4);
		@include size-sm(6);

	    word-wrap: normal;

	    @include max-screen($mins){
	    	margin-left: 5.5px;
	    	margin-right: 5.5px;
	    }

	    @media (any-hover: hover) { //только для устройств с ховером
	    		&:hover{
	    			transform: translateY(-20px);
	    		}
	    	}
	}

	.billet {
		position: absolute;
		top: 12px;
		left: 0;
		z-index: 2;
	}

	// карточка горизонтальная
	&--horisontal{
		max-width: none;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;

		.ui-elems &{
			max-width: 704px;
		}
		
		.product-card__img-wrap {
			margin-bottom: 0;
			flex-shrink: 0;
			margin-right: 16px;
		}
		
		.billet {
			top: 0;
		}
		
		.product-card__border {
			width: 144px;
			height: 144px;
			padding: 15px;
		}
		.product-card__img {
			width: 114px;
			height: 114px;
			img{
				// max-width: calc(100% - 15px);
				// max-height: calc(100% - 15px);

			}
		}
		.product-card__name{
			flex: 0 1 27%;
			margin-right: 37px;
			color: $text;
		}
		.product-card__price {
			flex: 1 0 125px;
			padding-left: 8px;
			order: 4;
			display: block;
			text-align: right;
		}
		.product-bonus{
			margin-top: 6px;
			justify-content: flex-end;
		}
		.product-card__actions {
			position: static;
			width: 100%;
			margin-right: 0;
			flex-direction: row-reverse;
			justify-content: flex-start;
		}
		.product-card__action {

			&:not(:first-child){
				margin-bottom: 0;
				margin-right: 24px;
			}	
		}
		.product-card__description {
			display: block;
			flex: 1 1 auto;
			// margin-right: 8px;
		}
		.product-card__bottom {
			margin-top: 0;
			order: 4;
			width: 100%;
			padding-left: 160px;
			padding-right: 152px;
			display: flex;
			flex-wrap: wrap;
			// align-items: flex-end;
		}
		.product-card__rating-wrap{
			width: 100%;
			margin-bottom: 19px;
		}
		.product-card__buy{
			position: absolute;
			bottom: 0;
			right: 0;
			margin-bottom: 0;
			// order: 3;
			// margin-left: auto;
			// flex: 0 0 auto;
		}
		.product-card__info{
			height: auto;
			width: 100%;
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
			flex-wrap: wrap;
		}
		.info-product-card__row{

			&:not(:last-child){
				margin-right: 16px;
				margin-bottom: 0;
			}
		}
	}
	// END карточка горизонтальная

	&--mini{
		flex-direction: row;
		max-width: 270px;
		padding-bottom: 0;
		margin-bottom: 0;
		max-width: none;	

		.product-card__border{
			width: 88px;
			height: 88px;
			padding: 8px;
		}
		.product-card__img-wrap{
				margin-bottom: 0;	
		}
		.product-card__img{
			width: 72px;
			height: 72px;
		}
		.product-card__price{
			height: auto;
			padding-right: 0;	
			align-items: flex-end;
			margin-bottom: 7px;
		}
		.product-card__price-block{
			display: flex;
			align-items: flex-end;
			flex-wrap: wrap;
			text-decoration: none;

		}
		.product-price{
			margin-right: 20px;
			line-height: 19px;
			font-size: 16px;
			height: auto;	
		}
		.product-card__actions{
			position: static;
		}
		.product-card__name{
			height: 42px;
			overflow: hidden;
			margin-bottom: 10px;
			font-size: 12px;
			line-height: 15px;
			color: $text;
		}
		.product-card__rating-wrap{
			margin-bottom: 6px;
		}
		.product-card__rating{
			padding-bottom: 0;
		}
		.product-card__footer{
			display: flex;
			align-items: center;
			.counter{
				width: 85px;
				height: auto;
				border: none;
				margin-right: 16px;
				align-items: center;
			}
			.counter__button{
				@include but-null;
				width: 20px;
				height: 20px;
				text-align: center;
				flex: 0 0 20px;
			}
			.counter__button, .counter__count{
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
				.icon{
					color: #000;

					&-plus{
						font-size: 10.47px;
					}
					&-minus{
						font-size: 2px;
					}
				}
			}
			.counter__count{
				padding-right: 3px;

			}
			.counter__block{
				flex: 1 1 auto;
				display: flex;
				justify-content: center;
				align-items: flex-end;
				overflow: hidden;
			}
			.counter__measures{
				margin-top: 1px;
				font-weight: 700;
				font-size: 14px;
				line-height: 17px;
			}
		}

		.product-card__actions{
			flex-direction: row;
			align-items: flex-end;
			justify-content: flex-end;
			flex: 1 1 auto;
		}
		.product-card__action{

			&:not(:last-child){
				margin-bottom: 0;
				margin-right: 9px;
			}
		}
		.product-bonus{
			margin-top: 0;
			margin-bottom: 3px;
		}
	}


}
.product-card__img-wrap {
	position: relative;	
	// margin-bottom: 34px;
}
.product-card__border{
	padding: 22px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 224px;
	height: 224px;

	@include max-screen($xs){
		width: auto;
		height: auto;
		padding: 15px 15px 15px 0;
	}
}

.product-card__img {
	display: block;	
	width: 180px;
	height: 180px;
	// padding: 22px;
	position: relative;

	@include max-screen($xs){
		width: 100px;
		height: 100px;
		margin: 0 auto;
	}
	@include max-screen($mins){
		margin: 0;
	}

	img{
		@include absolute-center;
		// max-width: calc(100% - 44px);
		// max-height: calc(100% - 44px);
	}
}
.product-card__price {
	height: 33px;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	text-decoration: none;
	margin-bottom: 7px;
	color: $text;

	@include min-screen($xs){
		
		padding-right: 11px;
	}

}
.product-card__actions {
	position: absolute;
	top: 11px;
	right: 9px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 2;

	@include max-screen($xs){
		right: 0;
	}
}
.product-card__action {

	&:not(:last-child){
		margin-bottom: 12px;
	}
	.icon {
		color: #A9A9A9;
	}
	.icon-favourites {		
		font-size: 26px;
	}
	.icon-compare {
		font-size: 22px;
	}
	&.active {
		.icon{
			color: $red-l;
		}
	}
}
.product-price {
	color: $text;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;

	@media screen and (max-width: 576px) {
		@include dots-family;
	}
	@include max-screen($xss){
		font-size: 16px;	
	}
}
.product-price-sale {
	font-size: 10px;
	line-height: 12px;
	text-decoration: line-through;
	color: rgba(#000, .4);

}
.product-bonus {
	display: flex;
	align-items: flex-end;
	margin-top: 6px;
	text-decoration: none;

	@include max-screen($xs){
		margin-left: 6px;
	}

	.icon-bonus {
		margin-left: 3px;
		color: #A9A9A9;
		font-size: 10px;
	line-height: 11px;
	}	
}
.product-bonus__val {
	font-weight: 700;
	font-size: 12px;
	line-height: 8px;
	color: #A9A9A9;
}

.product-card__name {
	display: block;
	margin-bottom: 8px;
	height: 51px;
	// overflow: hidden;
	// font-size: 14px;
	// line-height: calc(17 / 14);
	text-decoration: none;
	color: $text;
	@include dots-family-multi(3);
}
.product-card__description {
	display: none;
	text-decoration: none;
	font-size: 12px;
	line-height: 15px;
}
.product-card__description-row {
	color: rgba(#000, .4);
}
.product-card__bottom {
	margin-top: auto;
}
.product-card__rating-wrap {
	text-decoration: none;
}
.product-card__rating {
	padding-bottom: 7px;
	.crystal-rating{
		@include crystal-rating($gray-l, $yellow, 12, 4, '\e901');
		.crystal-rating__value {
			margin-left: 3px;
			font-size: 10px;
			line-height: 12px;
			color: #A9A9A9;
		}
	}
}

.product-card__buy{
	margin-bottom: 12px;
}
.product-card__info {
	font-size: 12px;
	line-height: 15px;
	color: #A9A9A9;
}
.info-product-card {
	height: 48px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.info-product-card__row {

	&:not(:last-child){
		margin-bottom: 3px;
	}

	a{
		@media (any-hover: hover) { //только для устройств с ховером
				&:hover{
					color: $text;
				}
			}

	}
}
.info-product-card__aval {
	display: inline-block;
}
.info-product-card__avalkey,
.info-product-card__missing {
	margin-right: 3px;
	display: inline-block;

	span{
		@include max-screen($xs){
			display: none;
		}
	}
}
.info-product-card__missing {
	&::first-letter {
	  text-transform: uppercase;
	}
}
.info-product-card__avalkey{
	@include max-screen($xs){
		display: none;
	}

}
.info-product-card__avalvalue {
	display: inline-block;
	color: $accent-l;
}
.info-product-card__in{
	@include min-screen($md){
		display: none;
	}
}
.info-product-card__oneclick {
	color: #A9A9A9;
}
.cards-more{
	text-align: center;
}
.cards-more__link{
	color: $text-l;
	text-decoration: none;
	transition: color .3s;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				color: $text;
		}
	}
}
/*--------------------END product-card----------------------*/ 