/*--------------------review----------------------*/
.review {
	max-width: rem(704);
	padding: 40px 40px 33px 40px;
	background: $gray-l;
	border-radius: 4px;

	@include max-screen($xs){
		padding: 16px;
	}

	&.review-context-visible{
		.context-review__drop {
			visibility: visible;
			opacity: 1;

			@include max-screen($md){
				position: fixed;
				bottom: 0;
				left: 0;
				right: auto;
				top: auto;
				width: 100%;
				z-index: 14;
				padding-top: 20px;
				padding-bottom: 20px;
				text-align: center;
				background-image: none;
				background-color: #fff;
			}

			&:before{
				@include max-screen($md){
					display: none;
					
				}
			}

			a{
				@include max-screen($md){
					font-weight: 700;
					color: $text;
					text-transform: uppercase;
					text-decoration: none;
				}
			}
		}
	}
	&--to-answer{
		.review__answer{
			&:not(.review__answer--useful){
				display: none;
			}
			&--useful{
				display: inline;
			}
		}
	}

	&--comment{
		margin-left: 24px;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		@include max-screen($xs){
			margin-top: 21px;
		}
		.person__portrait{
			width: 20px;
			height: 20px;
		}

		.review__options{
			margin-left: auto;
		}
	}
	&--reply{
		padding-left: 0;
		padding-right: 0;

		@include max-screen($xs){
			margin-top: 21px;
		}

		.person__top{
			align-items: center;
		}
		.person__portrait{
			width: 20px;
			height: 20px;
		}
		.review-form{
			margin-top: 0;
		}
	}
}
.review__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
}
.person {}
.person__top {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.person__portrait {
	flex-shrink: 0;
	margin-right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background: #A9A9A9;

	img{
		@include absolute-center;
		max-width: 105%;
		max-height: 105%;
	}
}
.person__info {}
.person__name {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.person__date {
	font-size: 12px;
	line-height: 15px;
	color: #A9A9A9;
}
.person__rating {
	display: flex;
	align-items: center;
	&-wrap{
		margin-right: 10px;

	}
	.star-rating {
		flex-shrink: 0;
		@include star-rating(#D1D1D1, $yellow, 14px, 4px, '\e901');
	}

}

.person__rating-mark {
	font-size: 12px;
	line-height: 15px;
}
.review__context {
	position: relative;
	margin-left: 16px;
	cursor: pointer;
	.icon{
		font-size: 22px;
		color: #A9A9A9;
	}
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover, &:active, &:focus{
			.context-review__drop {
				visibility: visible;
				opacity: 1;
			}
		}

	}
	
}
.context-review__drop {
	position: absolute;
	right: 10px;
	top: 14px;
	display: block;
	padding: 24px 28px 16px 28px;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;
	z-index: 2;

	background-image: url(../img/review/context_bg.svg);
	background-position: right top;
	background-repeat: no-repeat;
	background-size: contain;

	&:before{
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 24px);
		background-color: #fff;
	}

	a{
		position: relative;
		display: block;
		font-size: rem(14);
		line-height: rem(16);
		color: #A9A9A9;

		&:not(:last-child){
			margin-bottom: 12px;
		}
	}
}
.review__body {
	margin-bottom: 25px;
	max-height: 290px;
	position: relative;	
	overflow-y: hidden;
	@include adaptive-value('padding-right', 60, 0, 1);

	&:after{
		content: '';
		display: block;
		position: absolute;
		bottom: -30px;
		left: 0;
		height: 88px;
		width: 100%;
		background-image: url($img + "page-product-card/review-body-cover.svg");
		background-position: left bottom;
		background-repeat: repeat-x;
		background-size: contain;
	}

	&--expanded{
		max-height: none;
		&:after{
			display: none;
		}

	}
}
.review__div {

	&:not(:last-child){
		margin-bottom: 18px;	
	}
}
.review__title {
	margin-bottom: 7px;	
}
.review__text {
	margin: 0;	
	color: 	$text-l;
	font-size: 12px;
	line-height: 14px;
}
.review__footer {}
.review__photos {
	display: flex;
	margin-bottom: 18px;			
}
.review__photo {
	width: 84px;	
	height: 84px;	
	padding-bottom: 0;	
	
	&:not(:last-child){
		margin-right: 12px;	
	}

}
.review__actions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 14px;
	color: #A9A9A9;	

	@include max-screen($xss){
		display: block;
	}
	a{
		color: #A9A9A9;	
		@include max-screen($xsss){
			font-size: 12px;
			line-height: 20px;
		}		
	}
}
.review__option{
	display: flex;
	align-items: flex-end;
	text-decoration: none;

	@include max-screen($xss){
		margin-top: 10px;
	}

	&.active{
		color: $accent-l;
	}
	.icon{
		margin-right: 6px;
		font-size: rem(13.33);
	}
}
.review__collapse,
.review__hide-comments {
	@include but-null;
	text-decoration-line: underline;
	color: #A9A9A9;	
	cursor: pointer;	
	line-height: rem(18);
	font-size: rem(14);
	font-family: $inter;

	@include max-screen($xsss){
		font-size: 12px;
		line-height: 20px;
	}
}
.review__hide-comments {
	font-size: rem(12);
	line-height: rem(20);
}
.review__options {
	display: flex;
	align-items: flex-end;	
}
.review__answer {
	margin-right: 18px;

	@include max-screen($xss){
		margin-right: auto;
	}

	&--useful{
		display: none;
	}
}
.review__comments {
	margin-right: 20px;
}
.icon-chat {}
.review__like-count,
.review__comments-count,
.review__dislike-count {
	font-size: rem(12);
	line-height: rem(12);
}
.review__like {
	margin-right: 13px;
}
.icon-like {}
.review__dislike {
	align-items: center;
}
.review-form{
	margin-top: 40px;
}
/*--------------------END review----------------------*/ 