/*--------------------review----------------------*/
.review {
	max-width: 704px;
	padding: 40px 40px 33px 40px;
	background: #F9F9F9;
	border-radius: 4px;
}
.review__header {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 20px;
}
.person {}
.person__top {
	display: flex;
	align-items: flex-start;
	margin-bottom: 20px;
}
.person__portrait {
	flex-shrink: 0;
	margin-right: 8px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	background: #A9A9A9;

	img{
		@include absolute-center;
		max-width: 105%;
		max-height: 105%;
	}
}
.person__info {}
.person__name {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
}
.person__date {
	font-size: 12px;
	line-height: 15px;
	color: #A9A9A9;
}
.person__rating {
	display: flex;
	align-items: center;
	&-wrap{
		margin-right: 10px;

	}
	.star-rating {
		flex-shrink: 0;
		@include star-rating(#D1D1D1, $yellow, 14px, 4px, '\e901');
	}

}

.person__rating-mark {
	font-size: 12px;
	line-height: 15px;
}
.review__context {
	position: relative;
	margin-left: 16px;
	cursor: pointer;
	.icon{
		font-size: 22px;
		color: #A9A9A9;
	}

	&:hover, &:active, &:focus{
		.context-review__drop {
			visibility: visible;
			opacity: 1;
		}
	}
	
}
.context-review__drop {
	position: absolute;
	right: 10px;
	top: 14px;
	display: block;
	padding: 24px 28px 16px 28px;
	font-size: 14px;
	line-height: 16px;
	color: #A9A9A9;
	visibility: hidden;
	opacity: 0;
	transition: all .3s;

	// background-color: #fff;
	background-image: url(../img/review/context_bg.svg);
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: contain;
}
.review__body {
	margin-bottom: 25px;	
	@include adaptive-value('padding-right', 60, 0, 1);
}
.review__div {

	&:not(:last-child){
		margin-bottom: 18px;	
	}
}
.review__title {
	margin-bottom: 7px;	
}
.review__text {
	margin: 0;	
	color: 	$text-l;
	font-size: 12px;
	line-height: 14px;
}
.review__footer {}
.review__photos {
	display: flex;
	margin-bottom: 18px;			
.review__photo {
	width: 100%;	
	width: 84px;	
	height: 84px;	
	padding-bottom: 0;	
	
	&:not(:last-child){
		margin-right: 12px;	
	}

}
}
.review__actions {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	font-size: 14px;
		color: #A9A9A9;	
		a{
			color: #A9A9A9;	

		}
}
.review__option{
	display: flex;
	align-items: flex-end;
	text-decoration: none;

	&.active{
		color: $accent-l;
	}
	.icon{
		margin-right: 6px;
		font-size: 13.33px;
	}
}
.review__collapse {
	@include 	but-null;
	text-decoration-line: underline;
	color: #A9A9A9;	
	cursor: pointer;	
	line-height: 18px;
}
.review__options {
	display: flex;
	align-items: flex-end;	
}
.review__answer {
	margin-right: 18px;
	line-height: 14px;
}
.review__comments {
	margin-right: 20px;
}
.icon-chat {}
.review__like-count,
.review__comments-count,
.review__dislike-count {
	font-size: 12px;
	line-height: 12px;
}
.review__like {
	margin-right: 13px;
}
.icon-like {}
.review__dislike {
	align-items: center;
}
.icon-unlike {}
/*--------------------END review----------------------*/ 