/*--------------------side-modals----------------------*/
.side-modal {
	width: 100%;
	// padding-top: 30px;
	padding-top: 23px;
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, .1);
	background-color: #fff;
	z-index: 13;
	transition: all .4s;
	transform: translateX(105%);

	@include min-screen($xss){
		padding-bottom: 25px;
		padding-top: 76px;	
		max-width: 432px;
	}
	@include min-screen($scale){
		max-width: 452px;
	}

	&.sale-modal{
		.side-modal__title{
			@include max-screen($md){
				padding-right: 40px;
			}

		}
		.sale-modal-visible &{
			transform: translateX(0);
		}
	}
	&.availability-modal{
		// @include max-screen($md){
		// 	z-index: 14;
		// }
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 79px;
			bottom: 0;
			left: 0;
			background-image: url(../img/address-list-gradient.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
		}
		.side-modal__title{
			@include max-screen($md){
				padding-right: 60px;
			}

		}
		.availability-modal-visible &{
			transform: translateX(0);
		}
	}

	&.availability-catalog-modal{
		.product-card--mini{
			margin-bottom: 28px;
		}

		.catalog-availability-modal-visible &{
			transform: translateX(0);
		}
	}
	&.registration-side-modal{
		.registration-modal-visible &{
			transform: translateX(0);
		}
		.form__note{
			position: absolute;
			width: 100%;
			bottom: 20px;
			max-width: 272px;
			left: calc((100% - 272px) / 2);

		}
		.side-modal__inner{
			position: relative;
			overflow-y: auto;
		}
	}

	&.courier-side-modal{
		.courier-modal-visible &{
			transform: translateX(0);
		}
		@include max-screen($md){
			z-index: 14;
		}
		.courier-side-modal__price{
			position: absolute;
			top: 19px;
			right: 12px;
			font-size: rem(14);
			line-height: rem(18);
			text-align: right;
			opacity: 0.4
		}
		.address-side-modal__form{
			margin-bottom: 6px;

		}
		
		.form__row--flex{
			overflow: hidden;

			.form__label{
				margin-left: 4px;
				margin-right: 4px;
				width: calc(100% / 3 - 8px);
				
				&:first-child{
					width: calc(100% - 8px);
				}

			}
		}
		.courier-side-modal__container{
			display: flex;
			flex-wrap: wrap;
			margin-left: -8px;
			margin-right: -8px;
		}
		.form__row-content{
			padding: 0;
			background-color: transparent;
		}
		.form .form__custom-chek{
			border-radius: 50%;
		}
		.form__check:checked + .form__custom-chek{
			border-color: $accent;
		}
		.form .form__check:checked + .form__custom-chek{
			border-width: 2px;
		}
		.form .form__custom-chek::before{
			display: block;
		}
		.form .form__custom-policy{
			position: relative;
			padding: 18px 12px 14px 14px;
			margin-top: 0;
			margin-bottom: 8px;
			background-color: $gray-l;
		}
		.form .form__policy{
			flex: 0 0 100%;
			margin-top: 6px;
			margin-bottom: 12px;
			font-size: inherit;
			color: #000;
		}
		.form__hidden-text{
			padding-left: 0;
		}
	}

	&.delivery-modal{
		.delivery-modal-visible &{
			transform: translateX(0);
		}
		.address-list__img{
			background-color: #E4E4E4;
			cursor: auto;
			user-select: none;
		}
		.address-list__loc{
			margin-bottom: 12px;
			font-size: rem(14);
			line-height: rem(18);
			color: $text;
		}
		.address-list__shedule{
			font-size: rem(12);
			line-height: rem(15);
		}
		.light-label{
			position: absolute;
			top: 6px;
			left: 6px;
			z-index: 2;
		}
		.light-label__input:checked + .light-label__check .icon{
			color: $text;
		}
	}
	&.delivery-point-modal{
		.delivery-point-modal-visible &{
			transform: translateX(0);
		}
		@include max-screen($md){
			z-index: 15;
		}
		@include max-screen($xss){
			height: 215px;
			top: auto;
			bottom: 0;
		}
		.side-modal__close{
			@include max-screen($xss){
				display: none;
			}
		}
		.side-modal__title{
			@include max-screen($xss){
				margin-bottom: 12px;
				border-bottom: none;
				padding-bottom: 0;
			}
		}
		.address-list__img{
			@include max-screen($xss){
				height: 88px;
				width: 88px;
			}
		}
	}
	&.dime-modal{
		.dime-modal-visible &{
			transform: translateX(0);
		}
	}
	&.order-abort-modal{
		.order-abort-modal-visible &{
			transform: translateX(0);
		}
	}
	&.order-return-modal{
		.order-return-modal-visible &{
			transform: translateX(0);
		}
	}
	&.legals-modal{
		.legals-modal-visible &{
			transform: translateX(0);
		}

		.form .btn-order {
		    margin-bottom: 10px;
		}
	}
	&.service-modal{
		.service-modal-visible &{
			transform: translateX(0);
		}
	}
	&.shop-modal{
		top: auto;
		bottom: 0;
		left: 0;
		right: auto;
		height: auto;
		max-width: none;

		@media screen and (max-width: 576px) {
			.shop-modal-visible &{
				transform: translateX(0);
			}
			
		}
		@include min-screen($xss){
			padding-top: 23px;
			padding-left: 24px;
			padding-right: 24px;	
		}	
		.side-modal__inner{
			max-width: none;
		}
		.side-modal__close,
		.side-modal__back{
			display: none;
		}
		.side-modal__content{
			padding-bottom: 0;
		}
		.side-modal__title{
			border-bottom: none;
			padding-bottom: 0;
			margin-bottom: 12px;
		}
		.address-list__item{
			flex-wrap: wrap;

		}
		.address-list__img{
			width: 88px;
			height: 88px;
		}
		.address-list__content{
			flex: 1 1 calc(100% - 88px - 14px);
		}
		.btn{
			margin-top: 20px;
			margin-left: auto;
			margin-right: auto;
		}
	}
	&.covered-modal{
		&:after{
			content: '';
			position: absolute;
			display: block;
			width: 100%;
			height: 79px;
			bottom: 0;
			left: 0;
			background-image: url(../img/address-list-gradient.svg);
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.btn-select{
			position: absolute;
			bottom: 16px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 1;
		}
	}

	.cards-more{
		margin-bottom: 25px;

		&__link{
			font-size: rem(10);
			line-height: rem(12);
		}
	}

	.product-card--mini {
		padding-bottom: 20px;
		margin-bottom: 10px;
		border-bottom: 1px solid $border;
	}
	.form{
		.btn-order{
			margin-top: 14px;
			// margin-bottom: 27px;
			margin-bottom: 8px;

			@include max-screen($md){
				margin-bottom: 22px;
			}
		}
		.form__note {
			font-size: rem(10);
			line-height: rem(12);
			color: #A9A9A9;

			a{

				color: #A9A9A9;
			}
		}
		.form__custom-policy{
			margin-top: 7px;
			margin-bottom: 55px;

			@include max-screen($md){
				margin-bottom: 40px;
			}	
		}
		.form__check[type="checkbox"]{
			& + .form__custom-chek{
					border-width: 2px;
					border-color:  #A9A9A9;
					border-radius: 2px;

					&:before{
						display: none;
					}

					.icon{
						@include absolute-center;
						display: none;
						color: #A9A9A9;
					}	
			}

		}
		.form__check[type="checkbox"]:checked{
			& + .form__custom-chek{
				border-width: 0;
				.icon{
					display: block;
				}	
			}
		}
		.form__policy{
			font-size: 12px;
			line-height: 15px;
			color: $text-l;
		}
		.form__area{
			border: 1px solid $border;
			background-color: transparent;
		}
	}
	.form__row {
		margin-bottom: 10px;
	}
	.form__row-content{
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 26px;
		background-color: transparent;
		.form__custom{
			&:not(:last-child){
				margin-bottom: 12px;
				
			}
			.form__policy{
				color: rgba(0, 0, 0, 0.4);
				font-size: initial;
			}
		}
		.form__check:checked ~ .form__policy {
		    color: $text;
		}
	} 
	.form__input {
		border-radius: 0;
	}
	.side-modal__close,
	.side-modal__back {
		z-index: 2;
		.icon{
			color: #A9A9A9;
		}
	}
	.form__error-message {

		font-size: 10px;
		line-height: 12px;
		color: $red;
	}
}
.for-order-modal{
	.side-modal__text {
		margin-bottom: 37px;
		color: #A9A9A9;
	}
}
.side-modal__close {
	position: absolute;
	top: 20px;
	right: 24px;

	@include min-screen($md){
		top: 40px;
		right: 40px;
	}
}
.side-modal__back {
	position: absolute;
	top: 24px;
	left: calc((100% - 282px)/2);

	@include min-screen($md){
		top: 35px;
	}
	@include min-screen( $scale){

		left: calc((100% - 320px)/2);
	}
}

.side-modal__inner {
	padding-left: 24px;
	padding-right: 24px;
	margin: 0 auto;
	width: 100%;	
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow-y: hidden;

	@include min-screen($xss){
		max-width: 272px;
		padding-left: 0;
		padding-right: 0;
	}
	@include min-screen($scale){
		max-width: 320px;
	}
}
.side-modal__content{
	flex: 1 1 auto;
	overflow-y: auto;
	padding-bottom: 79px;
}
.side-modal__title {
	padding-bottom: 5px;
	margin-bottom: 24px;
	font-weight: 700;
	font-family: $navm;
	font-size: 22px;
	line-height: 26px;
	border-bottom: 1px solid $border;

	@include max-screen($md){
		font-size: 16px;
		line-height: 19px;
	}	
	@include min-screen( $scale){
		font-size: 24px;
		line-height: 28px;
	}

	span{
		color: $accent;
		@include min-screen($md){
			display: block;
		}
	}
}
.side-modal__text {
	margin-bottom: 32px;
}


.confirm-side-modal {
	padding-top: 95px;

	// .side-modal__title{
	// 	margin-bottom: 39px;
	// }
	.side-modal__text{
		margin-bottom: 48px;
	}
	.form__row{
		margin-bottom: 18px;
	}
}
.confirm-side-modal__return{
	margin-bottom: 10px;
	.form__row-title{
		margin-bottom: 3px;
		font-size: 12px;
		line-height: 15px;
		letter-spacing: -0.02em;
	}
}
.address-side-modal{
	display: flex;
	flex-direction: column;
	max-height: 100%;

	&:not(.address-side-modal--single){
		.address-modal-visible &{
			transform: translateX(0);
		}

	}

	&:after{
		content: '';
		position: absolute;
		display: block;
		width: 100%;
		height: 79px;
		bottom: 0;
		left: 0;
		background-image: url(../img/address-list-gradient.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
	}
	
	.side-modal__close,
	.side-modal__back {
		.icon{
			color: #A9A9A9;
		}
	}
	// .side-modal__back {
	// 	left: 86px;
	// }
	.side-modal__title {
		margin-bottom: 20px;
		border-bottom: none;
		flex: 0 0 auto;
	}

	&--single{

		@include max-screen($md){
			z-index: 15;
		}

		&:after{
			@include max-screen($xss){
				display: none;
			}		
		}

		@include max-screen($xss){
			height: auto;
			top: auto;
			bottom: 0;
			padding-top: 20px;	
			padding-bottom: 0;	
		}
		.address-modal-single-visible &{
			transform: translateX(0);
		}
		.side-modal__content{
			@include max-screen($xss){
				padding-bottom: 0;
			}
		}
		.address-list__item {
			display: block;
		}
		.address-list__img {
			width: auto;
			height: 0;
			margin-right: 0;
			margin-bottom: 20px;
			padding-bottom: prc(170,273);


			@include max-screen($xss){
				padding-bottom: 0;
				// height: 172px;						
			}
		}
		.address-list__content {
			font-size: 14px;
			line-height: 17px;
		}
		.address-list__shedule {
			font-size: 12px;
			line-height: 15px;
		}
		.side-modal__title{
			@include max-screen($xss){
				display: none;	
			}
		}
		.side-modal__close,
		.side-modal__back {
			@include max-screen($xss){
					display: none;	
			}
		}
	}
}

.form {}
.address-side-modal__form {
	display: flex;
	position: relative;
	height: 40px;
	padding: 0 8px;
	align-items: center;
	margin-bottom: 20px;
	flex: 0 0 auto;
	background-color: $gray-l;
	z-index: 3;

	@include min-screen($md){
		margin-bottom: 40px;
	}

	.fstdropdown{
		background-color: transparent;
	}
	.fstdropdown,
	.fstdiv{
		position: static;
	}
	.fstdiv{
		min-height: 0;
	}
	.fstdiv.open{
		.fstdropdown{
			position: static;
		}
	}
	.fstdropdown > .fstlist{
		width: 100%;
		left: 0;
		top: 100%;
		z-index: 2;
	}
	.fstdropdown > .fstselected{
		padding-right: 36px;
		padding-top: 0;
		max-width: none;
		font-size: 16px;
		font-family: $inter;
		line-height: normal;

		&::after{
			right: 15px;
		}
	}

}
.address-side-modal__select {
	flex: 0 0 calc(100% - 100px);
	max-width: calc(100% - 100px);

}
.side-modal__to-map{

}
.to-map-side-modal{
	@include but-null;
	position: relative;
	flex: 0 0 92px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	// padding-right: 6px;
	color: $text;
	opacity: 0.3;
	cursor: pointer;

	.fullscreen-map-visible &{
		color: $accent;
		opacity: 1;
	}

	&:before{
		content: '';
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -14px;
		display: inline-block;
		width: 1px;
		height: 28px;
		background-color: #A9A9A9;

	}
	.icon{
		color: $text-l;
		font-size: 20px;
		padding-left: 4px;
		
		.fullscreen-map-visible &{
			color: $accent;
		}
	}
}
.to-map-side-modal__title{
	font-size: 12px;
	line-height: 15px;
	color: $text-l;
}
.address-list {
	flex: 1 1 auto;
	overflow-y: auto;
}
.address-list__item {
	display: flex;
	align-items: flex-start;
	margin-bottom: 23px;
}
.address-list__items{
	.address-list__img {
		@include max-screen($xss){
			width: auto;
			height: 0;
			flex: 0 0 50%;
			padding-bottom: 50%;
		}
	}

}
.address-list__img {
	height: 96px;
	width: 96px;
	padding-bottom: 0;
	margin-right: 14px;
	flex-shrink: 0;
	cursor: pointer;
	
	.billet {
		min-width: 64px;
		position: absolute;
		top: 8px;
		left: 0;
		font-weight: 700;
		z-index: 2;
	}
}

.address-list__content {
	font-size: 12px;
line-height: 15px;

	@include max-screen($xss){
		flex: 1 1 auto;
	}

}
.address-list__loc {
margin-bottom: 8px;
}
.address-list__phones {
	margin-bottom: 11px;
}
.address-list__phone {
	color: $text;
	text-decoration: none;
}
.address-list__shedule {
	margin-bottom: 8px;
	font-size: 10px;
line-height: 12px;

color: #767571;
}
.side-modal__enter-link{
	text-align: center;
}
/*--------------------END side-modals----------------------*/ 