/*--------------------widemodals----------------------*/
.widemodal{
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 11;
	transition: all .3s;

	&.modal-hide{
		opacity: 0;
		visibility: hidden;
	}
}
.widemodal__close {
	position: absolute;
	top: 16px;
	right: 12px;

	@include max-screen($md){
		right: 24px;
		top: 12px;
	}
	.icon {	
		color:  #A9A9A9;
	}
}
.widemodal__header {
	padding-top: 13px;
	flex: 0 0 auto;

}
.widemodal__header-wrapper{
		@include max-screen($md){
			display: none;
		}
}
.header__logo {}
.widemodal__top {

	@include min-screen($md){
		margin-top: 33px;
		
	}
}
.widemodal__title {
	padding-bottom: 19px;
	border-bottom: 1px solid $border;
	font-weight: 700;
	font-size: rem(22);
	line-height: rem(20);

	@include max-screen($md){
		padding-bottom: 12px;
		font-size: 16px;
		line-height: 19px;
	}
}
.wrapper-smart {}
.addreview {
	width: 100%;
	padding-top: 40px;
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;

	@include max-screen($md){
		margin-bottom: 56px;
		padding-top: 18px;
	}

	&__flex{
		align-items: flex-start;
	}
}
.addreview__flex{
	@include max-screen($sm){
		flex-direction: column;
	}
}
.form {}
.addreview__content {
	@include col();
	@include size(8);
	@include size-lg(9);
	@include size-md(8);
	@include size-sm(12);
	align-items: flex-start;

	@include max-screen($sm){
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}
	
	.form__row-title {
		@include col();
		@include size(4);
		@include size-md(12);

		&:not(:first-of-type){

			@include min-screen($md){
				margin-top: 15px;
				
			}
			
		}
		// outline: 1px solid;
	}
	.cards-more {
		@include col();
		@include size(8);
		@include size-md(12);
		@include shift-left(4);
		@include shift-md-left(0);
		margin-bottom: 10px;
	}
}
.form__row-title--required {}
.form__label {}
.addreview__field {
	@include col();
	@include size(8);
	@include size-md(12);
	// outline: 1px solid;

	&:not(:last-child){
		@include min-screen($md){
			
			margin-bottom: 20px;
		}
	}
	
	.big-rating {
		margin-top: 0;

		@include max-screen($xs){
			padding-bottom: 16px;
			border-bottom: 1px solid $border;
		}

		@include min-screen($xs){
			margin-top: 10px;
		}
		
			
		.simple-rating {
			@include max-screen($xs){
			    width: 160px;
			    margin-left: -18.5px;
			    font-size: 22px;
			}
		}
		.simple-rating label {
			@include max-screen($xs){
			    margin: 0 10.5px;
			    height: 28px;
			}
		}
		.simple-rating label:before {
			@include max-screen($xs){
			    line-height: 28px;
				
			}

		}
	}
	.product-reviews__photos{
		margin-bottom: 0;
	}
}
.form__area {}
.cards-more__link {}
.addreview__product {
	@include col();
	@include size(3);
	@include size-md(4);
	@include size-sm(12);
	@include shift-left(1);
	@include shift-lg-left(0);

	@include max-screen($sm){
		order: -1;
		margin-bottom: 12px;
		border-bottom: 1px solid $border;
	}
	
	.product-card {
		margin-bottom: 0;

		@include max-screen($sm){
			padding-bottom: 14px;

		}
		@include max-screen($xs){
			padding-left: 100px;
		}
		
		.product-card__buy,
		.product-card__info{
			display: none;
		}
		.product-card__img-wrap {

    		@include max-screen($xs){
				position: absolute;
	    		top: -15px;
	    		left: 0;
    			
    		}
		}
		.product-card__img {
			@include max-screen($xs){
				width: 88px;
	    		height: 88px;
	    	}
		}
		.product-card__actions{
			@include max-screen($xs){
				display: none;
			}
		}
	}
}
/*--------------------END widemodals----------------------*/ 