/*--------------------widemodals----------------------*/
.widemodal{
	position: fixed;
	display: flex;
	flex-direction: column;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	z-index: 11;
}
.widemodal__close {
	position: absolute;
	top: 16px;
	right: 12px;

	@include max-screen($md){
		right: 24px;
		top: 12px;
	}
	.icon {	
		color:  #A9A9A9;
	}
}
.widemodal__header {
	padding-top: 13px;
	flex: 0 0 auto;

}
.widemodal__header-wrapper{
		@include max-screen($md){
			display: none;
		}
}
.header__logo {}
.widemodal__top {

	@include min-screen($md){
		margin-top: 33px;
		
	}
}
.widemodal__title {
	padding-bottom: 19px;
	border-bottom: 1px solid $border;
	font-weight: 700;
	font-size: rem(22);
	line-height: rem(20);

	@include max-screen($md){
		padding-bottom: 12px;
		font-size: 16px;
		line-height: 19px;
	}
}
.wrapper-smart {}
.addreview {
	width: 100%;
	padding-top: 40px;
	flex: 1 1 auto;
	overflow-y: auto;
	overflow-x: hidden;

	@include max-screen($md){
		margin-bottom: 56px;
		padding-top: 18px;
	}

	&__flex{
		align-items: flex-start;
	}
}
.addreview__flex{
	@include max-screen($sm){
		flex-direction: column;
	}
}
.form {}
.addreview__content {
	@include col();
	@include size(8);
	@include size-lg(9);
	@include size-md(8);
	@include size-sm(12);
	align-items: flex-start;

	@include max-screen($sm){
		margin-left: 0;
		margin-right: 0;
	}
	
	.form__row-title {
		@include col();
		@include size(4);
		@include size-md(12);

		&:not(:first-of-type){

			@include min-screen($md){
				margin-top: 15px;
				
			}
			
		}
		// outline: 1px solid;
	}
	.cards-more {
		@include col();
		@include size(8);
		@include size-md(12);
		@include shift-left(4);
		@include shift-md-left(0);
		margin-bottom: 10px;
	}
}
.form__row-title--required {}
.form__label {}
.addreview__field {
	@include col();
	@include size(8);
	@include size-md(12);
	// outline: 1px solid;

	&:not(:last-child){
		@include min-screen($md){
			
			margin-bottom: 20px;
		}
	}
	
	.big-rating {
		@include min-screen($md){
			margin-top: 0;
			
		}
	}
}
.simple-rating {}
.form__area {}
.cards-more__link {}
.addreview__product {
	@include col();
	@include size(3);
	@include size-md(4);
	@include size-sm(12);
	@include shift-left(1);
	@include shift-lg-left(0);

	@include max-screen($sm){
		order: -1;
		margin-bottom: 12px;
		border-bottom: 1px solid $border;
	}
	
	.product-card {
		margin-bottom: 0;
		.product-card__buy,
		.product-card__info{
			display: none;
		}
	}
}
.product-card__img-wrap {}
.billet {}
.billet--action {}
.billet__value {}
.icon-percents {}
.product-card__border {}
.product-card__img {}
.product-card__price {}
.product-card__actions {}
.product-card__action {}
.icon-favourites {}
.icon-compare {}
.product-price {}
.product-price-sale {}
.product-bonus {}
.product-bonus__val {}
.icon-bonus {}
.product-card__name {}
.product-card__description {}
.product-card__description-row {}
.product-card__bottom {}
.product-card__rating-wrap {}
.product-card__rating {}
.crystal-rating {}
.crystal-rating__body {}
.crystal-rating__active {}
.crystal-rating__items {}
.crystal-rating__value {}
.btn {}
.btn-sm {}

.product-card__info {}
.info-product-card {}
.info-product-card__row {}
.info-product-card__aval {}
.info-product-card__avalkey {}
.info-product-card__avalvalue {}
.info-product-card__in {}
.info-product-card__oneclick {}
/*--------------------END widemodals----------------------*/ 