.noUi-base,
.noUi-horizontal{
	height: 2px;
}
.noUi-connect{
	background-color: $border;
	box-shadow: none;
	height: 4px;
	top: -1px;
	margin-right: 5px;
	margin-left: -5px;
}
.noUi-target{
	box-shadow: none;
	
}

.noUi-horizontal .noUi-handle{
	width:28px;
	height: 28px;
	background-color: #fff;
	border: none;
	box-shadow: none;
	border-radius: 50em;
	top: 50%;
	margin-top: -14px;
	border: 1px solid $border;

	&.noUi-handle-upper{
		
		margin-left: 5px;
	}

	&:before,
	&:after{
		display: none;
	}
}

.noUi-target {
    // padding: 0 17px;
    padding-left: 15px;
    padding-right: 14px;
    // border-color: transparent;
}
.range-top{
	display: flex;
	justify-content: space-between;
}
input.range__input{
	width: auto;
}