/*--------------------viewerjs-custom----------------------*/
.viewer-backdrop{
	background-color: #fff;
	&.viewer-in{
		display: flex;
		flex-direction: column;

	}
}
.viewer-footer{
	position: static;
	margin-top: auto;
}
.viewer-toolbar{
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.viewer-toolbar > ul{
	overflow: visible;
	// display: flex;
	// justify-content: space-between;

}
.viewer-toolbar > ul > li{

	background-color: transparent;
	&:focus,
	&:hover{
		background-color: transparent;

	 }

}
.viewer-prev,
.viewer-next{
	position: absolute;
}
.viewer-prev{
	left: prc(146, 1200);

	@include min-screen($scale){
		left: calc((100% - $scale) / 2);
	}
	&:before{
		content: '';
		background-image: url($img + "icons-svg/chev-left.svg");
		background-size: auto 16px;
		background-position: center center;
	}
}
.viewer-next{
	right: prc(146, 1200);

	@include min-screen($scale){
		right: calc((100% - $scale) / 2);
	}

	&:before{
		content: '';
		background-image: url($img + "icons-svg/chev-right.svg");
		background-size: auto 16px;
		background-position: center center;
	}

}
.viewer-navbar{
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
	background-color: transparent;
}
.viewer-list{
	height: auto;
	width: auto !important;
	transform: none !important;
	display: flex;
	margin: 0 -7.5px;

	[data-viewer-action]{
		width: 64px;
		height: 64px;
		position: relative;
		flex: 0 0 64px;
		margin: 0 7.5px;
		border: 4px solid transparent;

		&.viewer-active{
			border-color: #003D9E;
		}

		img{
			display: block;
			width: auto !important;
			height: auto !important;
			max-width: 100% !important;
			max-height: 100% !important;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%) !important;
		}
	}
}
.viewer-toolbar > ul > li:focus{
	position: absolute;
}
.viewer-button{
	background-color: transparent;
}
.viewer-close{
	width: 24px;
	height: 24px;
	top: 10px;
	right: prc(146, 1200);
	background-image: url(../img/icons-svg/ctlg-close-gray.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 12px 12px;

	@include min-screen($scale){
		
		right: calc((100% - $scale) / 2);
	}
}
/*--------------------END viewerjs-custom----------------------*/ 