/*--------------------shops----------------------*/
.shops {
	padding-bottom: 68px;
	.address-side-modal__form {
		@include min-screen($md){
			max-width: 224px;
			
		}

	}
	.address-side-modal__select {
		@include min-screen($md){
			max-width: 100%;
			flex: 1 1 auto;
			
		}
	}
	.side-modal__to-map {
		@include min-screen($md){
			display: none;
		}
	}

}
.wrapper {}
.form {}
.fstdropdown-select {}
.to-map-side-modal {}
.to-map-side-moda__title {}
.icon {}
.icon-loc {}
.shops__content {
}
.shops__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: rem(18);
	line-height: rem(20);
}
.wrapper-smart {}
.wrapper-flex {}
.shops__tiles {
	.address-list__item {
		@include col();
		@include size(3);
		@include size-md(4);
		@include size-sm(6);
		@include size-xss(12);
		flex-direction: column;

		@include min-screen($md){
			margin-bottom: 13px;
			
		}
	}

	.address-list__img {
		width: 100%;
		height: auto;
		padding-bottom: prc(139,223);
		margin-right: 0;
		margin-bottom: 9px;
	}
	.address-list__loc {
		margin-bottom: 19px;
	}
	.address-list__phones{
		margin-bottom: 6px;
	}
	.btn {
		@include min-screen($md){
			display: none;
		}
	}
}
.shops__map-wrap{
	height: 450px;
}
/*--------------------END shops----------------------*/ 