section.brands-nav
	- let arr_en = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z'];
	- let arr_ru = ['а', 'б', 'в', 'г', 'д', 'е', 'ё', 'ж', 'з', 'и', 'й', 'к', 'л', 'м', 'н', 'о', 'п', 'р', 'с', 'т', 'у', 'ф', 'х', 'ц', 'ч', 'ш', 'щ', 'э', 'ю', 'я'];
	.wrapper
		.brands-nav__block
			.brands-nav__title Навигация по брендам
			nav.brands-nav__navigo
				ul.brands-alpabet
					each item in arr_en
						li(class=item == 'd' ? "brands-alpabet__item active" :  "brands-alpabet__item")
							a(href="#").brands-alpabet__link= item
				
				ul.brands-alpabet
					each item in arr_ru
						li.brands-alpabet__item
							a(href="#").brands-alpabet__link= item