/*--------------------page-cart-order----------------------*/
.page-order{
	.page-cart__main-wrapper{
		border-bottom: none;
	}
	.cards-more__link {
		text-decoration: underline;
	}
}
.prods-in-cart{
	margin-bottom: 10px;
	margin-top: 25px;
	display: flex;
	flex-wrap: wrap;
	margin-left: -4px;
	margin-right: -4px;

	@include max-screen($md){
		padding-bottom: 7px;
		margin-bottom: 16px;
		border-bottom: 1px solid $border;
	}
}
.prods-in-cart__item{
	display: block;
	position: relative;
	padding-bottom: 21.5%;
	margin-left: 4px;
	margin-right: 4px;
	width: calc(100% / 4 - 8px);
	margin-bottom: 16px;
	transition: opacity .3s;

	&:hover, &:active{
		opacity: 0.8;
	}
	

	img{
		@include absolute-center;
		@include max-screen($md){
			height: 90%;
			
		}
	}
}
.cart-sidebar-block__link{
	font-size: rem(12);
	line-height: rem(15);
	text-decoration-line: underline;
	text-transform: uppercase;
	color: #767676;
	transition: opacity .3s;

	&:hover, &:active{
		opacity: 0.5;
	}
}
.cart-sidebar-annotation{
	margin-top: 20px;
	font-size: rem(10);
	line-height: rem(12);
	opacity: 0.3;
}
.cart-content__shop {
	display: flex;
	align-items: flex-start;
}
.shop-cart-content {
	margin-top: 7px;
}
.shop-cart-content__img {
	flex: 0 0 145px;
	height: 145px;
	position: relative;
	margin-right: 17px;

	@include max-screen($xs){
		flex: 0 0 88px;
		height: 88px;
	}

	img{
		@include absolute-center;
	}
}
.shop-cart-content__text {
	font-size: rem(16);
	line-height: rem(18);

	@include max-screen($xs){
		font-size: 12px;
		line-height: 15px;
	}
}
.shop-cart-content__title {
	margin-bottom: 15px;
	font-weight: 700;

	@include max-screen($xs){
		margin-bottom: 3px;
	}
}
.shop-cart-content__address {
	margin-bottom: 8px;
}
.shop-cart-content__shedule {
	font-size: rem(14);
	line-height: rem(16);
	color: #767571;

	@include max-screen($xs){
		font-size: 10px;
		line-height: 12px;
	}		
}
.shop-cart-content__term {
	margin-top: 18px;

	@include max-screen($xs){
		margin-top: 11px;
	}
}
.shop-cart-content__term-key {
	margin-bottom: 3px;
	color: #767571;
	font-size: rem(14);
	line-height: rem(16);

	@include max-screen($xs){
		font-size: 10px;
		line-height: 12px;
	}
}
.shop-cart-content__term-val {
	@include max-screen($xs){
		font-size: 10px;
		line-height: 12px;
	}
}
.cart-regard{

}
.cart-regard__title{
	margin-bottom: 12px;
	font-weight: 700;
	font-size: rem(14);
	line-height: rem(20);
}
.cart-regard__text{
	max-width: 270px;
	margin-bottom: 20px;
}
.cart-regard__buttons{
	.btn-sm{
		margin-bottom: 16px;
		&:first-child{
			margin-right: 14px;
			max-width: rem(145);
		}

	}
}
.page-order-total__main{
	justify-content: space-between;
	padding-bottom: 36px;

	@include min-screen($md){
		padding-bottom: 97px;
	}
}
.page-order-total__prods{
	@include col();
	margin-bottom: 16px;
	flex: 0 0 304px;
	max-width: 304px;
	padding: 16px 20px 20px 20px;
	background-color: $gray-l;
	
	.cart-sidebar-block{
		margin-bottom: 0;
		padding-bottom: 0;

		&:not(:last-child){
			margin-bottom: 0;
		}
	}
	.cart-total{
		margin-top: 0;
		.cart-prod-count__row:not(:last-child) {
		    margin-bottom: 4px;
		}
	}
	.prods-in-cart{
		margin-bottom: 0;
		@include max-screen($md){
			border-bottom: none;
		}
	}
	.prods-in-cart__item{
		margin-bottom: 11px;
	}
	.cart-prod-count__row--total .cart-prod-count__key{
		font-weight: 400;
	}
	.cart-prod-count__row--total .cart-prod-count__val{
		font-size: rem(16);
		line-height: rem(19);
	}
}
.page-order-total__qr{
	@include col();
	margin-bottom: 16px;
	flex: 0 0 180px;
	max-width: 180px;

	img{
		max-width: 100%;
	}
}
.page-order-total__slogan{
	@include col();
	margin-bottom: 16px;
	flex: 0 0 268px;
	max-width: 268px;
	font-size: rem(12);
	line-height: rem(16);
	opacity: 0.6;
}
.page-order-total__prods,
.page-order-total__qr,
.page-order-total__slogan{
	@include max-screen($xs){
		flex: 0 0 calc(100% - 16px);
		max-width: none;
	}
}
/*--------------------END page-cart-order----------------------*/ 