/*--------------------page-cart----------------------*/
.page-cart{
	.back-block-inner{
		@include max-screen($md){
			margin-bottom: 16px;
		}

	}
}
.page-cart__main{
	margin-bottom: 29px;
	@include min-screen($md){
	}
}
.page-cart__main-wrapper{
	padding-bottom: 32px;
	border-bottom: 1px solid $border;

	@include min-screen($md){
		padding-bottom: 11px;	
	}
}
.page-cart__prodcounter{
	font-size: 28px;
	line-height: calc(27/28);

	@include min-screen($scale){
		font-size: 30px;
	}
}
.page-cart__none{

}
.none-page-cart{
	margin-bottom: 60px;

	@include max-screen($md){
		margin-bottom: 30px;
	}
}
.none-page-cart__title{
	margin-bottom: 12px;
	font-weight: 700;
	font-size: 16px;
	line-height: calc(19/16);

	@include min-screen($scale){
		font-size: 18px;
	}
}
.none-page-cart__text{
	max-width: rem(260);
	margin-bottom: 25px;
	font-size: 16px;
	line-height: calc(19/12);
	color: $text;
	opacity: 0.6;

	@include min-screen($scale){
		font-size: 18px;
	}
}
.similar{
	padding-bottom: 18px;
}
.similar__title,
.cart-content__subtitle{
	font-weight: 700;
	font-size: rem(22);
	line-height: rem(22);

	@include max-screen($sm){
		font-size: 14px;
	}

	@include min-screen($scale){
		font-size: 24px;
	}
}
.similar__title{
	margin-bottom: 14px;
}
.cart-content__subtitle{
	margin-bottom: 24px;
}
.page-cart__main {}
.page-cart__content {
	@include col();
	flex: 1 1 calc(100% - 243px - 16px);

	@include min-screen($md){
		padding-right: 56px;
		
	}

	@include min-screen($scale){
		
		flex: 1 1 calc(100% - 243px - 56px - 16px);
	}
	@include max-screen($md){
		flex: 0 0 calc(100% - 16px);
		margin-bottom: 36px;
	}
	.cards-more{
		margin-top: 19px;
	}

}
.page-cart__sidebar{
	@include col();
	flex: 0 0 calc(243px - 16px);

	@include min-screen($scale){
		
		flex: 0 0 calc(243px + 56px - 16px);
	}
	@include max-screen($md){
		flex: 0 0 calc(100% - 16px);
	}
}
.page-cart__sticky{
	@include min-screen($md){
		position: sticky;
		top: 100px;			
	}
}
.cart-content {
}
.cart-content__header {
	margin-bottom: 16px;

	@include max-screen($md){
		padding-bottom: 16px;
		border-bottom: 1px solid $border;
	}

	@include min-screen($xss){
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 22px;
		
	}
}
.cart-content__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: rem(22);
	line-height: rem(calc(22/20));

	@include min-screen($md){
		margin-bottom: 25px;
	}

	&:not(.cart-content__title--mob) {
		@include max-screen($md){
			display: none;
		}
	}

	&--mob{
		font-size: rem(14);
		line-height: rem(20);

		@include min-screen($md){
			display: none;
		}
	}
}
.cart-content__actions {
	display: flex;
	align-items: center;

	@include max-screen($xss){
		justify-content: space-between;
	}
}
.light-label {
	&.cart-content__action {

		@include min-screen($xss){
			flex-direction: row-reverse;
			
		}

		#cart-abort{
			display: none;
		}
		.light-label__check{
			@include min-screen($xss){
				margin-right: 0;
				margin-left: 7px;
			}
				
		}

		.light-label__input:checked ~ #cart-abort {
			display: inline-block;
		}
		.light-label__input:checked ~ #cart-select {
			display: none;
		}
	}
}
.cart-content__action {
	display: flex;
	align-items: center;
	@include but-null;
	cursor: pointer;

	&:not(:last-child){
		@include min-screen($xss){
			margin-right: 36px;		
			
		}
	}
	.icon-remove {
	 	font-size: rem(20);	 	
	 	color: #A9A9A9;
	}
}
.cart-content__action-label {
	@extend .light-label__caption;
	margin-right: 12px;

	@include max-screen($xs){
		font-size: 12px;
	}
}
.cart-content__body {
	.product-cards--horisontal .product-card .product-card__img-wrap,
	.product-card--horisontal .product-card__img-wrap {
		@include max-screen($xs){
			 top: 37px;
				
			}
		}

	.product-cards--horisontal .product-card .product-card__actions, 
	.product-card--horisontal .product-card__actions{
		@include max-screen($xs){
			bottom: 17px;
		}
	}
	// .product-cards--horisontal .product-card .product-card__name,
	// .product-card--horisontal .product-card__name{
	// 	margin-bottom: 0;
	// 	@include min-screen($xs){
	// 		flex: 0 1 40%; 
	// 	}
	// }
	.product-cards--horisontal .product-card .product-card__info, 
	.product-card--horisontal .product-card__info{
		// flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-end;

		@include max-screen($sm){
			align-items: flex-start;
		}
	}
	.product-cards--horisontal .product-card .info-product-card__row:not(:last-child), 
	.product-card--horisontal .info-product-card__row:not(:last-child){
		margin-right: 24px;
	}
	.product-cards--horisontal .product-card .product-card__rating-wrap,
	.product-card--horisontal .product-card__rating-wrap{
		margin-bottom: 8px;

		@include max-screen($xs){
			margin-bottom: 0;
		}
	}

}
.cart-content__body {
	.product-card{
		// outline: 1px solid;
		padding-right: 8px;
		padding-bottom: 8px;
		@include max-screen($md){
			padding-top: 37px;
		}
		@include min-screen($md){
			padding-left: rem(38);
			
		}

		&--to-add{
			background-color: $gray-l;

			@include min-screen($md){
				padding-left: 0;	
				margin-left: rem(46);	
			}
			@include min-screen($xs){
				
				padding: 8px 0 8px 0;
			}
			
			.product-card__buy{
				position: absolute;
				padding-left: 0;
				padding-right: 0;
				max-width: none;
				border: none;
				color: $accent;
				width: auto;
				left: auto;
				overflow: visible;
				background-color: transparent;
				transition: color .3s;

				&:hover, &:active,{
					color: $accent-l;
				}
				
			}
			.product-card__actions{
				@include max-screen($xs){
					display: none;
				}
			}
		}

		&--horisontal{
			.product-card__img-wrap{
				@include max-screen($xss){
					top: 37px;
				}
			}
		}

		&--pullout{
			.product-card__actions {
				@include max-screen($xss){
			   		 display: none;
					
				}
			}
		}

		.product-card__buy{
			bottom: 30px;
			right: 16px;

			@include max-screen($xs){
				position: relative;
				font-size: 10px;
				bottom: auto;
				top: auto;
				right: auto;
			}
			@include min-screen($scale){
				bottom: 15px;
			}
		}

		&__name-box{
			@include min-screen($xs){
				flex: 0 1 40%; 
			}
		}

		&__name{
			height: auto;
			margin-bottom: 0;

		}
		&__name-value{
			margin-bottom: 11px;
			height: 53px;
			@include dots-family-multi(3);
			overflow: hidden;
		}


		&__delete{
			position: absolute;
			@include but-null;
			right: 0;
			top: 0;

			@include min-screen($md){
				display: none;
			}

			.icon{
				font-size: rem(20);
				color: #A9A9A9;
			}
		}

		.light-label{
			position: absolute;
			top: 0;
			left: 0;
		}
		.light-label__check{
			border-color: #E5E5E5;
		}
		.product-card__name{
			opacity: 0.8;
		}
		.product-card__description{
			display: none;
		}
		.product-card__info{
			@include max-screen($xs){
				display: none;
			}
		}
		.info-product-card__row{
			flex-shrink: 0;
			max-width: 150px;
		}

		&:last-of-type{
			margin-bottom: 0;
		}

	}
}
.product-card__adding{
	@include but-null;
	font-family: $navbl;
	color: $accent;
	font-size: rem(12);
	line-height: rem(17);
	text-transform: uppercase;
}
.product-announcement{
	width: 100%;
	margin-left: 8px;
	margin-right: 8px;
	margin-bottom: 23px;

	@include max-screen($mins){
		margin-left: 5.5px;
		margin-right: 5.5px;
		width: calc(100% - 16px);
	}

	@include min-screen($md){
		margin-left: rem(45);
	}

	&__wrap{
		padding: 14px 40px 11px 40px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		background-color: $gray-l;

		@include max-screen($sm){
			padding-left: 12px;
			padding-right: 9px;
		}
	}

	&--titled{
		margin-bottom: 0;
	}

	&:not(.product-announcement--titled){
		margin-top: -50px;
		padding-top: 10px;
		margin-bottom: 30px;
		background-image: url(../img/bg_card-announce.svg);
		background-position: left top;
		background-repeat: no-repeat;
		background-size: contain;	
		
		@include max-screen($xs){
			margin-top: -31px;
			font-size: 10px;
			line-height: 12px;
		}
		@include min-screen($scale){
			margin-top: -40px;
		}
	}
}
.product-announcement__name{
	opacity: 0.6;
}
.product-announcement__title{
	font-weight: 700;
}
.product-announcement__link{
	margin-left: 16px;
	color: $text;
	opacity: 0.6;
	text-decoration: underline;
	transition: opacity .3s;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				opacity: 1;
			}
		}
	

	@include max-screen($xs){
			font-size: 10px;
			line-height: 12px;
	}
}
.product-announcement__text{
	margin-top: 6px;
	flex: 0 0 100%;
	opacity: 0.6;

	@include max-screen($xs){
		font-size: 12px;
		line-height: 16px;
	}
}
.cart-sidebar-block {
	padding: 16px 11px 16px 16px;
	background-color: $gray-l;

	&--transp{
		padding: 0;
		background-color: transparent;
	}

	&:not(:last-child){
		margin-bottom: 8px;
	}
}
.cart-sidebar-block__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	
	.product-bonus {
		margin-bottom: 3px;
		.icon{
			font-size: rem(12);
		}
	.product-bonus__val {
		font-size: rem(16);
		line-height: rem(calc(19/16));
	}
	}
}
.cart-sidebar-block__title {
	font-weight: 700;
}
.cart-sidebar-block__text {
	margin-top: 11px;
	font-size: rem(12);
	line-height: rem(19);
	letter-spacing: -0.03em;
	opacity: 0.6;
}
.promo-form {
	position: relative;
	margin-top: 7px;
	.form__input {
		
	}
	.form__label {
		margin-bottom: 0;
	}
	&--applied{
		.promo-form__input{
			// @include placecolor($accent);
			color: $accent;
			font-size: rem(12);
		}
		.promo-form__submit {
			display: none;
		}
	}
	&--error{
		.promo-form__input{
			// @include placecolor($accent);
			color: $red;
			font-size: rem(12);
		}
		.promo-form__submit {
			display: none;
		}
	}
}
.promo-form__input {
	border-radius: 0;
	padding-right: 36px;
	font-size: rem(14);
}


.promo-form__submit {
	@include but-null;
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 40px;
	.icon{
		@include absolute-center-old;
		transform: rotate(180deg);
		font-size: rem(14);
	}
}

.cart-total{
	margin-top: 20px;
	.btn-order-check{
		margin-top: 11px;

		@include max-screen($xsss){
			max-width: none;
		}
	}

}
.cart-prod-count__row{
	display: flex;
	align-items: flex-start;
	font-size: rem(12);
	line-height: rem(16);
	opacity: 0.6;


	&:not(:last-child){
		margin-bottom: 8px;
	}

	&--total{
		opacity: 1;
		font-weight: 700;
		font-size: rem(16);
		line-height: rem(19);	
		.cart-prod-count__val{
			font-size: rem(22);
			line-height: rem(27);
		}
		.cart-prod-count__key{
			flex: 0 0 25%;	
		}
		.cart-prod-count__val{
			flex: 0 0 75%;
		}
	}
}
.cart-prod-count__key{
	flex: 0 0 50%;	
}
.cart-prod-count__val{
	flex: 0 0 50%;
	padding-left: 5px;
	text-align: right;
}
/*--------------------END page-cart----------------------*/ 