//- rating
div(itemprop='aggregateRating' itemscope='itemscope' itemtype='https://schema.org/AggregateRating' style='display:none;')
	meta(itemprop='ratingValue' content='4.8')
	meta(itemprop='ratingCount' content='288')
	meta(itemprop='reviewCount' content='288')
	meta(itemprop='worstRating' content='0')
	meta(itemprop='bestRating' content='5')

//- product img
itemprop="image"