/*--------------------finded----------------------*/
.finded{
	padding-top: 5px;
	margin-bottom: 25px;
}
.finded__title{
	margin-bottom: 17px;
	font-size: 28px;
	line-height: 20px;
	font-family: $navm;
} 
.finded__tags{

}
/*--------------------END finded----------------------*/ 