if pageIndex == 'product_029'
	- var table = [{title: 'Тип инструмента', cols: ['Дрель-шуруповерт', 'Ударная дрель-шуруповерт']}, {title: 'Класс товара', cols: ['Бытовой', 'Профессиональный']}, {title: 'Габариты', cols: ['18*10*10 см', '27*12*13 см']}, {title: 'Масса', cols: ['0,9 кг', '1,2 кг']}, {title: 'Тип питания', cols: ['от аккумулятора', 'от аккумулятора']}, {title: 'Напряжение аккамулятора', cols: ['12 в', '18 в']}, {title: 'Крутящий момент', cols: ['14 H*m', '14 H*m']}, {title: 'Число оборотов', cols: ['450 об/мин', '400 об/мин']}];

else if pageIndex == 'product_030'
	- var table = [{title: 'Тип инструмента', cols: ['Дрель-шуруповерт', 'Ударная дрель-шуруповерт', 'Дрель-шуруповерт','Дрель-шуруповерт']}, {title: 'Класс товара', cols: ['Бытовой', 'Профессиональный', 'Бытовой', 'Профессиональный']}, {title: 'Габариты', cols: ['18*10*10 см', '27*12*13 см', '18*10*10 см','27*12*13 см']}, {title: 'Масса', cols: ['0,9 кг', '1,2 кг', '0,9 кг', '1,2 кг']}, {title: 'Тип питания', cols: ['от аккумулятора', 'от аккумулятора', 'от аккумулятора', 'от аккумулятора']}, {title: 'Напряжение аккамулятора', cols: ['12 в', '18 в', '12 в', '18 в']}, {title: 'Крутящий момент', cols: ['14 H*m', '14 H*m', '14 H*m', '14 H*m']}, {title: 'Число оборотов', cols: ['450 об/мин', '400 об/мин','450 об/мин', '400 об/мин']}];

else
	- var table = [{title: 'Тип инструмента', cols: ['Дрель-шуруповерт', 'Ударная дрель-шуруповерт', 'Дрель-шуруповерт','Дрель-шуруповерт']}, {title: 'Класс товара', cols: ['Бытовой', 'Профессиональный', 'Бытовой', 'Профессиональный']}, {title: 'Габариты', cols: ['18*10*10 см', '27*12*13 см', '18*10*10 см','27*12*13 см']}, {title: 'Масса', cols: ['0,9 кг', '1,2 кг', '0,9 кг', '1,2 кг']}, {title: 'Тип питания', cols: ['от аккумулятора', 'от аккумулятора', 'от аккумулятора', 'от аккумулятора']}, {title: 'Напряжение аккамулятора', cols: ['12 в', '18 в', '12 в', '18 в']}, {title: 'Крутящий момент', cols: ['14 H*m', '14 H*m', '14 H*m', '14 H*m']}, {title: 'Число оборотов', cols: ['450 об/мин', '400 об/мин','450 об/мин', '400 об/мин']}];

+swiper('compare-table', false, false, false)
	if pageIndex == 'product_029'
		.swiper-slide
			.compare-table__row Дрель-шуруповерт
			.compare-table__row Бытовой
			.compare-table__row 18*10*10 см
			.compare-table__row 0,9 кг
			.compare-table__row от аккумулятора
			.compare-table__row 12 в
			.compare-table__row 14 H*m'
			.compare-table__row 450 об/мин

		.swiper-slide
			.compare-table__row Ударная дрель-шуруповерт
			.compare-table__row Профессиональный
			.compare-table__row 27*12*13 см
			.compare-table__row 1,2 к
			.compare-table__row от аккумулятора
			.compare-table__row 18 в
			.compare-table__row 18 H*m'
			.compare-table__row 400 об/мин'

	if pageIndex == 'product_030'
		- for (var i=0; i < 2; i++)
			.swiper-slide
				.compare-table__row Дрель-шуруповерт
				.compare-table__row Бытовой
				.compare-table__row 18*10*10 см
				.compare-table__row 0,9 кг
				.compare-table__row от аккумулятора
				.compare-table__row 12 в
				.compare-table__row 14 H*m'
				.compare-table__row 450 об/мин

			.swiper-slide
				.compare-table__row Ударная дрель-шуруповерт
				.compare-table__row Профессиональный
				.compare-table__row 27*12*13 см
				.compare-table__row 1,2 к
				.compare-table__row от аккумулятора
				.compare-table__row 18 в
				.compare-table__row 18 H*m'
				.compare-table__row 400 об/мин'

	if pageIndex == 'product_031'
		- for (var i=0; i < 4; i++)
			.swiper-slide
				.compare-table__row Дрель-шуруповерт
				.compare-table__row Бытовой
				.compare-table__row 18*10*10 см
				.compare-table__row 0,9 кг
				.compare-table__row от аккумулятора
				.compare-table__row 12 в
				.compare-table__row 14 H*m'
				.compare-table__row 450 об/мин

			.swiper-slide
				.compare-table__row Ударная дрель-шуруповерт
				.compare-table__row Профессиональный
				.compare-table__row 27*12*13 см
				.compare-table__row 1,2 к
				.compare-table__row от аккумулятора
				.compare-table__row 18 в
				.compare-table__row 18 H*m'
				.compare-table__row 400 об/мин'