.product-tooltip#one
	.product-tooltip__inner
		a(href="#").product-card__border
			span.product-card__img
				img(src="img/page-template/bottle.png" alt="alt")
		
		.product-tooltip__content
			a(href="#").product-card__price-block
				.product-price 14 729 ₽
				.product-price-sale 18 411₽
			a(href="#").product-card__name Акк. безударная дрель-шуруповерт Bosch GSR 120 Li кейс 2x2 Ач 649861

			a(href="#").btn.btn-sm.product-card__buy Купить