.loc-header__panel
	.loc-header__city Ваш город
		a(href="#").loc-header__city-value Краснодар
			+icon('chev-down')
	.loc-header__city-buttons
		button#city-list-opener.loc-header__no Нет
		button.loc-header__yes Да