.map-city-select
	button.map-fullscreen__back.button-close(data-modal=pageIndex == '020' ? "address-modal-single-visible" : pageIndex == 'cart_009-1' ? "delivery-point-modal-visible" : pageIndex == 'menu_010' ? "shop-modal-visible" : "")
		+icon('arrow-left')
	//- button.map-fullscreen__back.button-close(data-modal=pageIndex == 'cart_009-1' ? "delivery-point-modal-visible" : pageIndex == 'menu_010' ? "shop-modal-visible" : "address-modal-single-visible")
	//- 	+icon('arrow-left')
		
	form(action="#" class="form").address-side-modal__form
		.address-side-modal__select 
			select(name="locations" data-searchdisable="true" class="fstdropdown-select")
				- var opts = ['Краснодар','Армавир','Кропоткин','Тихорецк','Славянск-на-Кубани','Тимашевск','Белореченск'];
				each opt, i in opts
					option(value=i+1)= opt