.map-fullscreen
	button(type="button").map-fullscreen__close.button-close
		+icon('ctlg-close')
	.map-marker 11 шт
	.map-marker 48 шт
	.map-marker 103 шт
	.map-marker.map-marker--lg 18 шт
	.map-marker 4 шт
	#map.map-fullscreen__map