.wrapper
	.page-product__assessment.assessment-page-product
		.assessment-page-product__text
			.assessment-page-product__title Как вам товар?
			.assessment-page-product__descr Ваш опыт поможет другим покупателям
		form(action="#").assessment-page-product__rating
			.big-rating 
				+simpleRating(4)