/*--------------------page-product-reviews----------------------*/
.product-reviews {}
.product-reviews__top {
	display: flex;
	align-items: flex-end;
	margin-bottom: 42px;

	@include max-screen($sm){
		flex-wrap: wrap;
	}
}
.product-reviews__stats {}
.product-reviews__rating {
	display: flex;
	flex-shrink: 0;
	margin-right: 11px;
	font-size: rem(30);
	line-height: rem(35);
}
.rating-product-reviews {}
.rating-product-reviews__current {}
.rating-product-reviews__overal {
	color: #E4E4E4;
}
.product-reviews__marks {
	margin-top: 8px;
	font-size: rem(10);
	line-height: rem(12);
	opacity: 0.6;
}
.product-reviews__mark {}
.product-reviews__graphs {

}
.graphs-product-reviews {
	flex: 1 1 auto;
	padding-right: 49px;

	@include max-screen($xs){
		padding-right: 0;
	}
}
.graphs-product-reviews__row {
	display: flex;
	align-items: center;
	margin-bottom: 4px;
}
.graphs-product-reviews__stars {
	flex-shrink: 0;
	margin-right: 8px;
	display: flex;
	flex-direction: row-reverse;
	flex: 0 0 calc(11px * 5 + 2px * 7);
	width: calc(11px * 5 + 2px * 7);
	// outline: 1px solid;
}
.graphs-product-reviews__star {
	width: 8px;
	height: 11px;

	color: $yellow;


	&:not(:first-child){
		margin-right: 6px;
	}
    &:before{
	    content: "\e901";
	    font-family: "rating" !important;
	    speak: never;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
	    font-size: 12px;
    }
    &:after{
    	content: '';
    }
}
.graphs-product-reviews__bar {
	flex: 1 1 auto;
	height: 5px;
	margin-top: 9px;
	position: relative;
	background-color: rgba($text, .1);

}
.graphs-product-reviews__progress {
	position: absolute;
	height: 100%;
	background-color: $yellow;
}
.product-reviews__actions {
	flex: 0 0 267px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	@include max-screen($sm){
		flex: 0 0 100%;
		margin-top: 20px;
	}
	@include min-screen($scale){
		flex: 0 0 300px;
	}
}
.actions-product-reviews {
}
.actions-product-reviews__add{
	@include max-screen($xs){
		max-width: none;
	}
}
.btn {}
.btn-lg {}
.btn-order-check {}
.actions-product-reviews__bottom {
	margin-top: 14px;
	width: 100%;
	display: flex;
	justify-content: space-between;

	@include max-screen($xs){
		display: none;
	}
	
	.light-label__caption {
		color: $text-l;
		text-transform: none;
	}
	.std-link{
		font-size: rem(10);
		line-height: rem(20);

		.icon{
			margin-left: 5px;
			vertical-align: middle;
			font-size: rem(6.5);
			color: $text-l;
		}
	}

}
.actions-product-reviews__sort {
	display: flex;
	align-items: center;
	flex: 1 1 auto;
	margin-right: 16px;

	.fstdiv{
		flex: 1 1 auto;
		min-height: auto;
		margin-bottom: 3px;
	}

	.fstdropdown > .fstselected {
		font-family: $inter;
	    font-size: rem(10);
		line-height: rem(12);
		color: #000000;
		opacity: 0.6;
	}
	.fstdropdown > .fstselected::after{
		display: none;
	}
	.fstdropdown > .fstlist{
		padding: 0;
		top: 0;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
		border: none;
	}
	.fstlist > div {
		padding: 4px 9px;
	    font-size: rem(10);
		line-height: rem(12);
		color: #000000;
		opacity: 0.6;
	}
	.fstlist > div.selected{
		font-weight: 700;

		&:after{
			display: none;
		}
	}
}
.actions-product-reviews__sorting {
	margin-right: 8px;
	flex-shrink: 0;
	font-size: rem(10);
	color: #000000;
	opacity: 0.6;
	text-decoration: underline;
}
.product-reviews__photos{
	position: relative;
	max-width: 270px;
	margin-left: 32px;
	margin-right: 32px;
	margin-bottom: 27px;

	.slider-nav--prev{
		left: -32px;
		display: block;
	}
	.slider-nav--next{
		right: -32px;
		display: block;
	}
}
.review-photos-slider{

	&:after {
	    content: "";
	    display: block;
	    height: 100%;
	    width: 20%;
	    position: absolute;
	    top: 0;
	    right: -1px;
	    background-image: url(../img/gradient-line.svg);
	    background-position: 0 0;
	    background-repeat: repeat-y;
	    background-size: 100%;
	    z-index: 1;
	    pointer-events: none;
	}

	.review__photo {
		display: block;
		width: 100%;
		height: 132px;

		@include max-screen($xsss){
			height: 0;
			padding-bottom: 100%;
		}

	}
}
.review-photos-slider__slide{
	position: relative;
	.photo-remove{
		z-index: 2;
		right: 11px;
		top: 10px;
		position: absolute;
	}
}
.product-reviews__single{
	margin-bottom: 20px;
}
.product-reviews__articles{
	.cards-more{
		max-width: rem(704);
		margin-bottom: 20px;
		text-align: right;
	}	

}
.product-reviews__others{
	.review{
		&:not(:last-child){
			margin-bottom: 20px;
		}
	}
}
/*--------------------END page-product-reviews----------------------*/ 