/*--------------------page-product__top----------------------*/
.page-product {
	.back-block-wrapper{
		@include min-screen($md){
			display: none;
		}
	}
	.back-block{
		@include max-screen($md){
			border-bottom: none;
			margin-bottom: 8px;
		}
		@include max-screen($xs){
			margin-bottom: 8px;
		}
	}
}
.wrapper-smart {}
.page-product__top {
	&--sale{
		.product-sidebar__possibilities{
			@include min-screen($sm){
				min-height: 84px;
			}
		}
		.product-sidebar__status{
			background: rgba($yellow, .5);
		}
		.product-sidebar__delivery{
			@include min-screen($sm){
				margin-top: 17px;
				
			}
		}
	}
	&--analog{
		.product-sidebar__possibilities{
			@include min-screen($sm){
				min-height: 84px;
			}
		}
		.product-title,
		.product-price__std{
			color: #A9A9A9;
		}
		.product-price__sale,
		.product-bonus{
			display: none;
		}
		.product-sidebar__status{
			background: rgba( #E4E4E4, .5);
		}
		.product-sidebar__delivery{
			@include min-screen($sm){
				margin-top: 17px;
				
			}
		}
	}
	&--absent{
		.product-sidebar__possibilities{
			@include min-screen($sm){
				min-height: 84px;
			}
		}
		.product-price__std{
			color: #A9A9A9;
		}
		.product-price__sale,
		.product-bonus{
			display: none;
		}
		.product-sidebar__status{
			background: rgba( $blue, .3);
		}
		.product-sidebar__delivery{
			@include min-screen($sm){
				margin-top: 17px;
				
			}
		}
	}
	&--action{
		.product-sidebar__possibilities{
			@include min-screen($sm){
				min-height: 84px;
			}
		}
		.product-sidebar__status{
			background: rgba( $red, .5);
		}
		.product-sidebar__delivery{
			@include min-screen($sm){
				margin-top: 17px;
				
			}
		}
	}
}
.top-page-product {
	
}
.product-sidebar__status{
	padding: 11px 12px 22px 12px;
	color: #000000;
}
.status-product-sidebar{
	@include max-screen($sm){
		order: -1;
		margin-bottom: 17px;
	}
}
.status-product-sidebar__title{
	margin-bottom: 7px;
	font-weight: 700;
	font-size: rem(14);
	line-height: rem(17);
}
.status-product-sidebar__text{
	font-size: rem(12);
	line-height: rem(15);
	letter-spacing: -.01rem;
	opacity: 0.6;
}
.page-product__represent {
	@include col();
	flex: 0 0 calc(100% - 224px - 32px);
	max-width: calc(100% - 224px - 32px);

	@include max-screen($md){
		flex: 0 0 calc(70% - 32px);
		max-width: calc(70% - 32px);
	}
	@include max-screen($sm){
		flex: 0 0 calc(100% - 16px);	
		max-width: calc(100% - 16px);
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
	}
	@include max-screen($xs){
		margin-bottom: 12px;
	}
	@include min-screen($scale){
		flex: 0 0 calc(100% - 284px - 32px);
		max-width: calc(100% - 284px - 32px);
	}
}
.page-product__represent-container{
	margin-bottom: 58px;
	@include max-screen($sm){
		margin-bottom: 40px;
	}
	@include max-screen($xs){
		margin-bottom: 10px;
	}
}
.product-title {
	margin-bottom: 15px;
	font-size: rem(28);
	line-height: rem(30);
	font-family: $navm;

	@include min-screen($md){
		max-width: rem(580);
		
	}

	@include max-screen($xs){
		font-size: 16px;
		line-height: 19px;
		font-family: $inter;
		font-weight: 700;
	}
	@include max-screen($xs){
		order: 2;
	}
}
.product-view {
	@include col();
	flex: 0 0 calc(100% - 42.4581% - 32px);
	// max-width:  calc(100% - 224px - 32px);
	min-width: 0;
	@include max-screen($md){
		flex: 0 0 calc(100% - 16px);
	}
	@include max-screen($sm){
		position: relative;
	}
}
.product-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 33px;

	@include max-screen($xs){
		margin-left: -24px;
		margin-right: -24px;
		order: 2;
		padding: 12px 8px;
		justify-content: space-between;
		background-color: #E4E4E4;
		order: 4;
		margin-bottom: 0;

	}
	.link,
	.std-link{
		@include max-screen($xs){
			font-size: 10px;
			line-height: 12px;
			
		}
	}

	@include min-screen($md){
		padding-right: 28px;
		
	}
}
.product-info__col {
	display: flex;
	flex-direction: column;

	@include max-screen($xs){
		// width: calc(100% / 3);
		padding: 0 16px;
		flex-shrink: 0;
	}

	@include min-screen($xs){
		flex-direction: row;
		align-items: center;
	}
	&:first-child{
		@include max-screen($xs){
			display: none;
		}
		
	}
	&:last-child{
		@include min-screen($sm){
			display: none;
		}
	}
}
.product-info__rating {
	margin-right: 14px;
	word-wrap: normal;
	.crystal-rating {
		@include crystal-rating($gray-l, $yellow, 12, 4, '\e901');
		.crystal-rating__value {
			margin-left: 3px;
			font-size: 10px;
			line-height: 12px;
			color: #A9A9A9;
		}
		.crystal-rating__value {
			font-size: rem(12);
			line-height: rem(15);
		}
	}

}
.product-info__vailability {
	align-items: center;
	font-size: rem(12);
	line-height: rem(15);

	@include min-screen($sm){
		
		display: flex;
	}
	@include max-screen($xs){
		font-size: 10px;
		line-height: 12px;
	}
}
.product-info__aval-key {
	margin-right: 3px;

	@include min-screen($xs){
		opacity: 0.4;
		
	}
}
.product-info__aval-val {
	color: $accent;

	@include max-screen($xs){
		color: $text;
	}
}
.product-info__analog{

	@include max-screen($xs){
		color: $text;
	}

	br{
		@include min-screen($xs){
			display: none;
		}
	}
}
.product-view__screen {
	position: relative;

	.billet{
		position: absolute;
		top: 17px;
		left: 0;
		z-index: 2;
	}
}
.screen-product-view {
	min-width: 0;
}
.swiper-container {}
.swiper {}
.screen-product-slider {
	margin-bottom: 13px;
	position: relative;

	.swiper-pagination{
		@include max-screen($xs){
			position: static;
		}
		@include min-screen($xs){
			display: none;
		}
	}
}
.swiper-wrapper {}
.swiper-slide {}
.screen-product-view__slide {
	padding-bottom: 100%;

}
.swiper-pagination {}
.swiper-button-prev {}
.swiper-button-next {}
.product-view__nav {
	// position: relative;

}
.screen-product-nav {}
.screen-product-thumbs{
	@include max-screen($xs){
		display: none;
	}
	&:after{
		content: '';
		display: block;
		height: 100%;
		width: 20%;
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(../img/page-product-card/poduct-slider-thumbs-cover.svg);
		background-position: 0 0;
		background-repeat: no-repeat;
		background-size: 100%;
		z-index: 1;
	}
	.swiper-button-next:after, 
	.swiper-button-prev:after{
		font-size: 12px;
		color: $text;
		font-weight: bold;
	}
	.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
		opacity: 0;
	}

}
.screen-product-nav__slide{
	._fit{
		padding-bottom: 100%;

	}
}
.product-chars {
	@include col();
	width: prc(304, 716);

	@include max-screen($md){
		display: none;
	}
}
.std-link {}
.product-chars__trace {
	display: inline-block;
	font-size: rem(12);
	line-height: rem(15);

	@include max-screen($xs){
		width: calc(100% / 3);
		white-space: break-spaces;
		color: $text;
		font-size: 10px;
		line-height: 12px;
	}

	@include min-screen($md){
		margin-bottom: 33px;
	}

	br{
		@include min-screen($xs){
			display: none;
		}
	}
}
.product-chars__table {
	font-size: rem(12);
	line-height: rem(14);
}
.table-product-chars {
	margin-bottom: 15px;
}
.table-product-chars__row {
	display: flex;
	margin-bottom: 14px;
}
.table-product-chars__key {
	flex: 0 0 161px;
	margin-right: 18px;
	opacity: 0.6;
}
.table-product-chars__value {
	flex: 1 1 auto;
}
.page-product__sidebar {
	@include col();
	flex: 0 0 224px;
	font-size: rem(12);
	line-height: rem(15);

	@include max-screen($md){
		
		flex: 0 0 calc(30%);
	}
	@include max-screen($sm){
		
		// flex: 0 0 calc(100% - 16px);
		flex: 0 0 auto;
		margin-left: 0;
		margin-right: 0;
	}
	@include max-screen($xs){
		order: 3;
	}
	@include min-screen($scale){
		flex: 0 0 284px;
	}
}
.product-sidebar {
	font-size: rem(12);
	line-height: rem(15);

	@include max-screen($sm){
		display: flex;
		flex-direction: column;	
	}

	@include min-screen($md){
		position: sticky;
		top: 100px;
		
	}
	.product-price-block {
		@include max-screen($sm){
			order: -2;
		}
	}
}
.product-price-block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 9px;
	font-weight: 700;

	@include max-screen($sm){
		margin-bottom: 21px;
	}

	.product-bonus {
		margin-top: 8px;
		flex-shrink: 0;
		margin-left: 10px;
		@include max-screen($xs){
			margin-top: 6px;
		}
		.icon-bonus {
			font-size: rem(12.5);
		}
	}
	.product-bonus__val {
		font-size: rem(16);
	}
	.product-bonus__note{
		font-size: rem(16);
		line-height: rem(8);
		opacity: 0.4;
		font-weight: 700;
		margin-left: 7px;
		align-self: flex-end;
		@include min-screen($sm){
			display: none;
		}
	}
}
.product-sku {
	text-align: right;
	opacity: 0.4;
	margin-bottom: 37px;

	@include max-screen($sm){
		display: none;
	}
}
.product-actions {
	display: flex;
	justify-content: space-between;
	margin-bottom: 33px;

	@include max-screen($sm){
		position: absolute;
		top: 50px;
		right: 0;
		flex-direction: column-reverse;
		z-index: 2;
	}
	@include max-screen($xs){
		top: 0;
	}
}
.product-action {
	@include but-null;
	display: flex;
	align-items: flex-end;

	@include max-screen($sm){
		&:not(:first-child){
			margin-bottom: 16px;
		}
	}
	
	.icon {
		font-size: rem(22);
		color: #A9A9A9;
	}
}
.product-action__name {
	margin-left: 5px;
	opacity: .4;

	@include max-screen($sm){
		display: none;
	}
}

.product-price__vals {}
.product-price__std {
	margin-right: 8px;
	margin-bottom: 6px;
	font-size: rem(28);
	line-height: rem(30);

	@include max-screen($xs){
		font-size: 22px;
		line-height: 27px;
	}
}
.product-price__sale {
	font-size: rem(16);
	line-height: rem(19);
	text-decoration-line: line-through;
	color: #A9A9A9;

	@include max-screen($xs){
		font-size: 12px;
		line-height: 15px;
	}	
}
.product-sidebar__possibilities{

	@include max-screen($sm){
		display: flex;
		align-items: center;
	}
	.btn {
		@include max-screen($sm){
			flex: 0 0 50%;
		}
		&:not(:last-child){
			@include max-screen($sm){
				margin-right: 16px;
			}
			@include min-screen($sm){
				
				margin-bottom: 4px;
			}
		}
	}

}
.product-oneclick {
	border-color: $accent;
	background-color: transparent;
	color: $accent;
	text-decoration: underline;

	@include max-screen($xs){
		border-color: transparent;
		color: $text;
		opacity: 0.5;
		font-weight: 400;
		font-family: $inter;
	}
	@include min-screen($sm){
		margin-bottom: 8px;
		
	}
}
.product-sidebar__delivery {
	margin-top: 43px;
	margin-bottom: 11px;
	font-size: rem(12);
	line-height: rem(18);
	color: rgba(0, 0, 0, 0.8);
	opacity: 0.6;

	@include max-screen($sm){
		margin-top: 0;
		order: 4;
	}
}
.product-sidebar__offers {
	padding-top: 14px;
	border-top: 1px solid $border;

	@include max-screen($sm){
		padding-top: 16px;
		padding-bottom: 12px;
		margin-top: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid $border;
	}
}
.product-sidebar__offer {
	display: flex;
	align-items: flex-start;
	position: relative;
	text-decoration: none;
}
.offer-product-sidebar {
	padding-right: 40px;
	color: $text;

	&:not(:last-child){
		margin-bottom: 8px;
	}

	&__arrow{
		position: absolute;
		top: 50%;
		right: 20px;
		margin-top: -3.5px;

		@include min-screen($sm){
			display: none;
		}
		
		.icon{
			font-size: 9px;
			color: $text-l;
		}
	}


}
.offer-product-sidebar__logo {
	width: rem(65);
	height: rem(32);
	position: relative;
	box-shadow: (0px 1px 3px rgba(0, 0, 0, 0.25));
	flex-shrink: 0;
	margin-right: 16px;
	background: #FFFFFF;
	border-radius: 2px;

	img{
		@include absolute-center;
	}
}
.offer-product-sidebar__content {

}
.offer-product-sidebar__name {
}
.offer-product-sidebar__text {
	font-size: rem(10);
	line-height: rem(12);
	color: #767571;
}
/*--------------------END page-product__top----------------------*/ 