/*--------------------footer----------------------*/
.footer {
	padding-top: 38px;
	padding-bottom: 14px;
	background-color: $gray-l;

	@include max-screen($md){
		padding-bottom: 57px;
		
	}
	@include max-screen($xs){
		padding-top: 27px;
	}

}
.footer__top {
	padding-bottom: 44px;

	@include max-screen($xss){
		padding-bottom: 6px;
	}
}
.footer__subscribe {
	display: flex;
}
.subscribe-footer__slogan {
	@include col();
	@include size(3);
	@include size-sm(12);

	@include max-screen($sm){
		margin-bottom: 13px;
	}
}
.subscribe-footer__title {
	margin-bottom: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
}
.subscribe-footer__formblock {
	@include col();
	@include size(6);
	@include size-sm(8);
	@include size-xs(12);


	@include max-screen($xss){
		padding-bottom: 20px;
		border-bottom: 1px solid #C4C4C4;
	}

	@include min-screen($sm){
		padding-right: 19px;
			
	}	
	
	.form__input {
		margin-bottom: 8px;
	}

	.btn{
		@include max-screen($xs){
			width: 100%;
			max-width: none;
			min-width: 0;
			margin-bottom: 16px;
		}
	}
}
.subscribe-footer__caption {
	margin: 0;
	font-weight: 400;
	font-size: 10px;
	line-height: 14px;
	color: #767571;

	a{
		color: #767571;

	}
}
.subscribe-footer__submit{
	@include col();
	@include size(3);
	@include size-sm(4);

	@include max-screen($xs){
		display: none;
	}

	.btn{
		width: 144px;
		max-width: none;
		min-width: 0;
	}
}
.footer__col {
	@include col();
	@include size(3);
	@include size-sm(6);
	@include size-xss(12);
	margin-bottom: 40px;

	@include max-screen($xss){
		margin-bottom: 0;
	}
}
// .footer-rules{
// 	@include max-screen($xss){
// 		display: none;
// 	}
// }
.footer__accordion {
	&:not(.combine){
		.accordion__content.hidden{
			@include min-screen(480px){
				display: block;
			}
		}
	}
}
.accordion-footer__item {
	list-style-type: none;
	&.active{
		margin-bottom: 16px;
		.accordion-footer__arrow{
			transform: rotate(180deg);
		}
	}

}
.footer-rules{
	.accordion-footer__link {
		@include max-screen($xs){
			margin-bottom: 7px;	
		}
	}
	.accordion__item.active{
		.accordion-footer__link {
			@include max-screen($xs){
				margin-bottom: 16px;	
			}
		}
	}

}
.accordion__link {}
.accordion-footer__link {
	display: flex;
	justify-content: space-between;	
	position: relative;
	margin-bottom: 16px;
	text-transform: uppercase;
	color: rgba(#000, .4);
	font-size: 10px;
	line-height: 12px;

	@include max-screen($xss){
		width: 160px;	
	}

}
.accordion-footer__arrow{
	// position: absolute;
	// top: 50%;
	// transform: translateY(-50%);
	// right: 6.75px;
	display: inline-block;	
	transition: transform .3s;
	// transform-origin: center;

	@include min-screen($xss){
		display: none;
	}
}
.menu-footer__item {
	list-style-type: none;
	&:not(:last-child){
		margin-bottom: 17px;
	}
}
.menu-footer__link {
	font-size: 12px;
	line-height: 14px;
	color: #000;
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			text-decoration: underline;
		}
	}
}
.footer-contacts {
	@include max-screen($xss){
		padding-top: 14px;
		border-top: 1px solid $border;
		// border-bottom: 1px solid $border;
		// text-align: center;
	}

	@include max-screen($xss){
		display: flex;
		flex-direction: column;
	}
	.socials {
		margin-top: 22px;
		margin-bottom: 12px;
		
		@include max-screen($xss){
			padding-top: 16px;
			justify-content: center;
			margin-top: 14px;
			margin-bottom: 0;
			padding-bottom: 6px;
			border-top: 1px solid $border;
			border-bottom: 1px solid $border;
		}

		&__item{
			&:not(:last-child){
				@include max-screen($xss){
					margin-right: 16px;
				}
			}
		}
		&__link{
			@include max-screen($xss){
				width: 40px;
				height: 40px;
				
			}
		}
	}

}
.footer-contacts__block {

	&:not(:last-child){
		margin-bottom: 13px;
	}
}
.footer-contacts__row {
	margin-bottom: 4px;
}
.footer-contacts__phone {
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: $text;
}
.footer-contacts__caption {
	font-size: 10px;
	line-height: 12px;
	color: rgba(#000, .6);
}
.socials__item {}
.socials__link {}
.footer__ya {
	margin-bottom: 13px;
	@include max-screen($xss){
		order: 4;
		margin-bottom: 20px;
	}
	img{
		max-width: 100%;
	}
}
.footer__pays{
	display: flex;
	flex-wrap: wrap;
	@include max-screen($xss){
		order: 3;
		margin-bottom: 20px;
	}

}
.footer__pay{
	flex: 0 0 35px;
	text-align: center;
	&:not(:last-child){
		margin-right: 12px;
	}
	img{
		max-width: 100%;
	}
}
.footer-policy,
.footer-copyright {
	margin-bottom: 0;
	@include size(6);
	@include size-xss(12);
	font-size: 10px;
	line-height: 12px;
	color: #A9A9A9;

	@include max-screen($xss){
		text-align: center;
	}
}
.footer-policy{
	&__wrap{
		@include min-screen($xss){
			max-width: 310px;
		}
	}

	a{
		color: #A9A9A9;
	}
}
/*--------------------END footer----------------------*/ 