/*--------------------footer----------------------*/
.footer {
	padding-top: 38px;
	padding-bottom: 14px;
	background-color: $gray-l;
}
.footer__top {}
.wrapper {}
.footer__top-line {

}
.footer__subscribe {
	display: flex;
}
.subscribe-footer {}
.subscribe-footer__slogan {}
.subscribe-footer__title {}
.subscribe-footer__text {}
.form {}
.subscribe-footer__form {}
.subscribe-footer__formblock {}
.form__input {}
.subscribe-footer__caption {}
.btn {}
.footer__bottom {}
.wrapper-smart {}
.wrapper-flex {}
.footer__col {}
.accordion {}
.footer__accordion {}
.accordion-footer {}
.accordion__item {}
.accordion-footer__item {}
.accordion__link {}
.accordion-footer__link {}
.accordion__content {}
.footer__menu {}
.menu-footer {}
.menu-footer__item {}
.menu-footer__link {}
.footer-contacts {}
.footer-contacts__block {}
.footer-contacts__row {}
.footer-contacts__phone {}
.footer-contacts__caption {}
.socials {}
.socials__item {}
.socials__link {}
.footer__ya {}
.footer__cards {}
.footer-policy {}
.footer-copyright {}
/*--------------------END footer----------------------*/ 