/*--------------------header----------------------*/

.header {
	position: relative;	
	width: 100%;	
	top: 0;
	left: 0;	
	z-index: 11;
	transition: all 0.3s;	
	.covered &{
	}

	._scroll &{
		top: -68px;
	}

}
.header__top {
	background-color: #fff;
	.wrapper {
	}

}
.header__top-inner{
	position: relative;
	height: 68px;
	padding-top: 13px;
	padding-bottom: 25px;
	display: flex;
	align-items: flex-end;
	font-size: 12px;
	line-height: 15px;

	@include max-screen($md){
		height: auto;
		padding-top: 18px;
		padding-bottom: 14px;
		justify-content: space-between;
	}

}

.header__logo {
	max-width: 144px;
	flex: 0 0 144px;
	margin-right: 16px;
	position: relative;
	z-index: 3;

	@include max-screen($md){
		max-width: 67px;
		flex-basis: 67px;	
	}

	img{
		display: block;
		max-width: 100%;
	}
}
.header__contacts{
	display: flex;
	align-items: center;
}
.header__loc {
}
.loc-header {
	margin-right: 20px;

	@include max-screen($md){
		margin-right: 12px;
	}
}
.loc-header__selected {
	@include but-null;
	font-size: 12px;
	line-height: 15px;
	color: $text-l;
	font-family: $inter;
	cursor: pointer;

	.icon-loc{
		color: $accent-l;
		font-size: 20px;

		@include max-screen($md){
			margin-left: 25px;
			
		}

		@include min-screen($md){
			display: none;
		}
	}
	.icon-chev-down{
		color:#A6A6A6;
		font-size: 5px;
		vertical-align: middle;
	}
}
.loc-header__panel {
	position: absolute;
	left: 0;
	top: calc(100% - 14px);
	min-width: 304px;
	padding: 16px 24px 15px 24px;
	visibility: hidden;
	opacity: 0;
	transition: all .4s;

	display: flex;
	align-items: center;
	background: #FFFFFF;
	border: 1px solid #E4E4E4;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);

	z-index: 2;

	.loc-header.opened &{
		visibility: visible;
		opacity: 1;
	}
}
.loc-header__city {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 17px;
	color: rgba(#C4C4C4, .8);
}
.loc-header__city-value {
	margin-left: 10px;
	color: $text;
}
.loc-header__city-buttons {
	margin-left: 28px;
	display: flex;
	align-items: center;
}
.loc-header__yes,
.loc-header__no {
	cursor: pointer;
	text-transform: uppercase;
	@include but-null;
}
.loc-header__no {
	margin-right: 24px;
	color: #717171;
}
.loc-header__yes {
	font-weight: 700;
}
.header__phone {
	color: $text-l;
	text-decoration: none;
}
.phone-header {
	&__val{
		@include max-screen($md){
			display: none;
		}
	}
	.icon{
		color: $accent-l;
		font-size: 19.87px;

		@include min-screen($md){
			display: none;
		}
	}
}
.header__menu {}
.menu-header {
	margin-left: auto;

	@include max-screen($md){
		display: none;
	}
	.toggle-mnu {
		display: none;		
	}
}
.menu-header__body {}
.menu-header__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

}
.menu-header__item {
	list-style-type: none;

	&:not(:last-child){
		margin-right: 16px;
	}

	.single-dropdown{
		width: 204px;
		padding: 20px;
		left: auto;
		right: 0;
		background-color: #fff;
		border: 1px solid #E4E4E4;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
		z-index: 3;
	}
	&--for-buyer{
		.single-dropdown{
			right: auto;
			left: 0;
		}
	}
}
.menu-header__link {
	text-decoration: none;
	color: $text-l;
	font-weight: 700;
}
.menu-header__arrow{
	position: relative;
	display: inline-block;
	margin-left: 4px;	
	vertical-align: middle;
	@include but-null;
	.icon{
		vertical-align: middle;	
		font-size: 5px;
		color: #A6A6A6;
	}
}
.single-dropdown__item {

	&:not(:last-child){
		margin-bottom: 16px;
	}
}
.single-dropdown__link {
	color: $text;
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				text-decoration: underline;
			}
		}
}
.header__bottom {
	position: relative;
	padding-bottom: 16px;
	transition: all 0.3s;
	background-color: #fff;
	._scroll &{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		z-index: 10;
		border-bottom: 1px solid #E4E4E4;

		@include max-screen($md){
			padding-top: 10px;
			padding-bottom: 10px;
		}

		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			background-color: #E4E4E4;
		}

	}

}
.header__bottom-wrapper{
	display: flex;
	align-items: center;
}
.header__logo-fixed{
	position: relative;
	z-index: 2;
	display: block;
	opacity: 0;
	width: 0;
	height: 0;
	visibility: hidden;
	transition: all .3s;
	img{
		display: block;
		max-width: 100%;
	}

	._scroll &{
		margin-right: 40px;
		width: 40px;
		height: 40px;
		opacity: 1;
		visibility: visible;

		@include max-screen($md){
			margin-right: 16px;
		}
	}
	.search-results-opened &{
		@include max-screen($md){
			width: 0;
			height: 0
		}
	}
}
.header__catalog-toggle {
	@include but-null;
	display: flex;
	align-items: center;
	padding: 5px 13px;
	flex: 0 0 144px;
	height: 40px;
	max-width: 144px;
	border: 1px solid transparent;
	color: #fff;
	background-color: $accent;
	border-radius: 4px;
	transition: all .3s;
	cursor: pointer;

	.header-catalog-opened &{
		background-color: #fff;
		color: $accent;
		border-color: $accent;
		position: relative;
		z-index: 2;
	}

	@include max-screen($md){
		display: none;
	}
			
	// .toggle-mnu {
	// 	width: 17px;
	// 	height: 13px;
	// 	margin-right: 10px;
	// 	flex: 0 0 auto;
	// 	position: static;
	// 	margin-top: 0;

	// 	span, span:after, span:before{
	// 		height: 2.5px;
	// 		background-color: #fff;
	// 		border-radius: 3px;
  	// 	}

  	// 	span:before {
	// 	    top: 6px;
	// 	}
	// 	span:after {
	// 	    top: 12px;
	// 	}
	// }
}
.catalog-toggle-header {
	margin-right: 16px;

}
.catalog-toggle__burger{
		width: 20px;
		margin-right: 9px;
		text-align: center;

		.icon-ctlg-burger{
			color: #fff;
			font-size: 14px;

			.header-catalog-opened &{
				display: none;			
			}
		}
		.icon-ctlg-close	{
			display: none;
			color: $accent;
			font-size: 12px;

			.header-catalog-opened &{
				display: inline-block;
			}

		}	
	}
.catalog-toggle__name {
	padding-top: 1px;
	font-size: 16px;
	line-height:10px;
	font-family: $navm;
	text-transform: uppercase;
	transform: translateY(1px);
}
.search-header {
	flex: 1 1 auto;
	display: flex;
	align-items: center;

	@include min-screen(960.98px){
		
		margin-right: 45px;
	}
}
.form {}
.search-header__form {
	position: relative;
	flex: 1 1 auto;
	// max-width: 539px;

	.header-catalog-opened &{
		z-index: 3;
	}
	.search-results-opened &{
		@include max-screen($md){
			margin-left: 7px;		
		}
	}
}
.form__input {}
.search-header__input {
	padding-right: 50px;
	border-radius: 4px;

	 &:active, &:focus{
	 	@include min-screen($md){
			background-color: #fff;
			box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);	
	 	}

		& + .search-header__send{
			.icon{
				@include min-screen($md){
					color: $accent-l;
				}
			}
		}	
	}

	.search-results-opened &{
		@include max-screen($md){
			padding-left: 32px;
			font-weight: 700;
	 		background-color: transparent;
		}
	}

}
.search-header__send {
	position: absolute;
	right: 10px;
	top: 0;
	height: 100%;
	width: 40px;
	cursor: pointer;
	@include but-null;

	.search-results-opened &{
		@include max-screen($md){
			display: none;
		}
	}

	.icon{
		color: #A9A9A9;
		font-size: 20px;
	}
}

.search-header__back{
	display: none;	
	@include but-null;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -12px;
	height: 24px;
	width: 24px;
	cursor: pointer;

	.icon{
		@include absolute-center-old;
		font-size: 13.37px;
		color: #000;

	}
	.search-results-opened &{

		@include max-screen($md){
			display: block;
		}
	
	}
}
.header__actions {
	margin-left: auto;
	flex-shrink: 0;
	display: flex;
	align-items: flex-end;
	padding-right: 13px;

	.header-catalog-opened &{
		visibility: hidden;
	}

	@include max-screen($md){
		display: none;
	}
	.icon{
		color: $accent-l;
	}
}
.header__action {
	position: relative;
	display: flex;
	align-items: flex-end;
	height: 22px;

	.icon{
		font-size: 22px;;
	}
	&:not(:last-child){
		margin-right: 35px;
	}

	&.active{
		.icon{
			color: $red-l;
		}
	}
}
.header__action-count{
	display: none;
	position: absolute;
	top: -3px;
	left: calc(100% + 2px);
	font-size: 12px;
	color: #A9A9A9;

	.header__action.active &{
		display: block;
	}

}
.header__account {
	margin-left: 25px;
	flex-shrink: 0;

	.header-catalog-opened &{
		visibility: hidden;
	}

	@include max-screen($md){
		display: none;
	}

	.icon{
		font-size: 22px;
		color: $accent-l;
		vertical-align: bottom;
	}
}
.header__header__basket{
}
.header__favourites {
}
.header__compare {

}
.header__city-list {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding-bottom: 48px;
	background-color: #fff;
	visibility: hidden;
	opacity: 0;
	transition: all .4s;
	z-index: 10;

	.cities-opened &{
		opacity: 1;
		visibility: visible;
	}

	.toggle-mnu{
		margin-top: 0;
		top: 22px;
		right: 18px;
	}
}
.location-search {
	&__wrapper{
		position: relative;
		padding-top: 68px;
	}
}
.location-search__close{
	position: absolute;
	top: 16px;
	right: 12px;
	width: 24px;
	height: 24px;
	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
			}
		}
	.icon{
		font-size: 12px;	
		@include absolute-center-old;
	}
}
.location-search__header {
	display: flex;
	align-items: center;
	margin-bottom: 43px;
	color: #000;

	.search-header{
		@include min-screen($md){
			
		}
	}
}
.location-search__key {
	flex: 0 0 150px;
	margin-right: 5px;
	font-weight: 700;
	font-size: 22px;
	line-height: 20px;
}
.location-search__list {
	column-count: 3;

}
.location-search__item {
	list-style-type: none;

	&:not(:last-child){
		margin-bottom: 11px;
	}

	&.active{
		font-weight: 700;
	}
}
.location-search__link {
	font-size: 14px;
	line-height: 17px;
	text-decoration: none;
	color: #000;
}
/*--------------------END header----------------------*/ 