/*--------------------header-catalog----------------------*/
.header__catalog {
	transition: all .3s;
	visibility: hidden;
	opacity: 0;

	.header-catalog-opened  &{
		visibility: visible;
		opacity: 1;
	}
}

.catalog-header {
	// position: fixed;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	padding-top: 68px;
	background-color: #fff;
}
.wrapper {}
.catalog-header__wrap {
	max-height: calc(100vh - 68px);
	overflow-y: auto;
	overflow-x: hidden;
	// position: relative;
	display: flex;
	outline: 1px solid;
	// max-height: 100%;
}
.catalog-header__nav {
	flex: 0 0 276px;
	position: relative;
	z-index: 2;
}
.catalog-header__list {}
.catalog-header__item {
	@media (any-hover: hover) { //только для устройств с ховером
		&:hover{
			.mega-catalog-header {
				display: block;
			}
		}
	}
	&.touch-hover{
		.mega-catalog-header {
			display: block;
		}
	}
}
.catalog-header__link {}
.catalog-header__mega {}
.mega-catalog-header {
	display: none;
	background-color: #fff;
	position: absolute;
	top: 0;
	left: 100%;
	// width: calc(#{$maxWidthContainer  + 'px'} - 276px);
	// height: 100%;
	@include min-screen(#{$maxWidthContainer  + 'px'}){
		width: calc(#{$maxWidthContainer  + 'px'} - 276px );
			
	}

	&:before{
		// content: '';
		position: absolute;
		right: -100%;
		height: 100%;
			// width: calc(276px  + 47px);
		background-color: red;

		@include min-screen(#{$maxWidthContainer  + 'px'}){
				width: calc((100% - (#{$maxWidthContainer  + 'px'})/2 + 276px );
			
		}
	}
	
}
.mega-catalog-header__wrapper {
	
	padding-left: 47px;	
}
.catalog-header__content {
	// display: none;
}
.content-catalog-header {}
.content-catalog-header__title {}
.content-catalog-header__body {
	column-count: 2;
}
.content-catalog-header__list {}
.content-catalog-header__item {}
.content-catalog-header__link {}
.catalog-header__screen {
}
.screen-catalog-header {
	background-color: #fff;
	// position: absolute;
	position: fixed;
	top: 68px;
	left: 0;
	width: 100%;
	display: none;
}
.screen-catalog-header__wrapper{
	padding-left: 47px;	
}
.screen-catalog-header__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0 -8px;

	&:first-child{
		margin-top: -15px;
	}

}
.catalog-header__card {
	width: 100%;
	max-width: 244px;
	margin: 15px 8px;
}
.card-catalog-header {}
.card-catalog-header__title {}
.catalog-header__tags {}
.catalog-header__tag {}
.card-catalog-header__img {}
/*--------------------END header-catalog----------------------*/ 