/*--------------------main-slider----------------------*/
.main-slider {
	position: relative;
	.wrapper {
		position: relative;
	}
	.swiper {
		@include max-screen($max){
			margin-left: -24px;
			margin-right: -24px;
			
		}
	}
	.swiper-button-prev,
	.swiper-button-next{
		display: none;
	}
	.swiper-pagination{
		position: static;
		margin-top: 12px;
	}
	.swiper-pagination-bullet{
		width: 8px;
		height: 8px;
		// background-color: $gray-l;

		&-active{
			background-color: $accent;
		}
	}
}
.swiper-container {}
.main-slider__slider {}
.swiper-wrapper {}
.swiper-slide {}
.main-slider__slide {
	overflow: hidden;
	// padding-bottom: prc(288, 940);
	padding-bottom: prc(385, 940);
	border-radius: 4px;	

	@include max-screen($xss){
		padding-bottom: 0;
		height: 148px;
	}
}
._fit {}
._fit-img {}
.swiper-pagination {}
.swiper-button-prev,
.slider-nav {
	position: absolute;
	top: 50%;
	width: 24px;
	height: 24px;
	margin-top: -12px;
	cursor: pointer;
	z-index: 2;
	.icon{
		@include absolute-center-old;
		font-size: 6.5px;
		color: $text-l;
	}
}
.slider-nav--prev{
	display: none;
	@include min-screen($max){
		left: -32px;
		display: block;
		
	}
	.icon{
		transform: rotate(90deg);
	}
}
.slider-nav--next {
	display: none;
	@include min-screen($max){
		right: -32px;
		display: block;
		
	}
	.icon{
		transform: rotate(-90deg);
	}
}
/*--------------------END main-slider----------------------*/ 