/*--------------------page-compare----------------------*/
.page-compare{
	.back-block-inner{
		margin-bottom: 0;

		@include max-screen($md){
			margin-bottom: 16px;
			position: relative;
		}

		@include min-screen($md){
			border-bottom: none;
		}
	}
	.back-block{
		@include max-screen($md){
			padding-bottom: 12px;
			
		}
	}
	.back-title{
		@include max-screen($md){
			margin-top: 5px;
		}
	}
	.back-block-right{
		@include max-screen($md){
			position: absolute;
			right: 0;
			display: block;
		}

		.std-link{
			color: rgba(#000, 0.4);

			@include max-screen($md){
				padding: 3px 14px;
				border: 1px solid #C4C4C4;
				border-radius: 23px;
				text-decoration: none;
			}	
		}
	}
}
.page-compare__tags{
	margin-bottom: 28px;

	@include max-screen($xs){
		display: none;
	}
}
.page-compare__cards{
	&._scroll{

		@include min-screen($md){
			position: fixed;
			width: 100%;
			left: 0;
			top: 80px;
			background-color: #fff;
			z-index: 3;

		}

		// .cards-page-compare__check,
		.product-card__buy,
		.product-card__info,
		.compare-remove{
			display: none;
		}
	}
}
.cards-page-compare{

}
.cards-page-compare__check{
	margin-bottom: 23px;
}
.compare-cards{
	.swiper-button-prev,
	.swiper-button-next{
		display: none;
	}

	&:after{
		content: '';
		position: absolute;
		right: -5px;
		top: 0;
		height: 100%;
		width: 250px;
		background-image: url($img + "gradient-line.svg");
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: contain;
		z-index: 2;
		pointer-events: none;

		@include max-screen($xs){
			width: 150px;
		}
	}
}
.compare-remove{
	margin-top: 16px;
	max-width: 125px;
	transition: opacity .2s;

	&:hover, &:active, &:focus{
		opacity: 0.5;
	}
	
}
.page-compare__chars{
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		position: absolute;
		right: -5px;
		top: 0;
		height: 100%;
		width: 250px;
		background-image: url($img + "gradient-line.svg");
		background-position: 100% 0;
		background-repeat: repeat-y;
		background-size: contain;
		z-index: 2;
		pointer-events: none;

		@include max-screen($xs){
			width: 150px;
		}
	}
}
.compare-table{
	overflow-x: auto;
	margin-bottom: 30px;
}
.compare-table__fixed{
	position: absolute;
	top: 0;
	left: 24px;
	pointer-events: none;
	
	.compare-table__title{
		height: 49px;
		margin-bottom: 40px;

		@include max-screen($md){
			height: 45px;
			margin-bottom: 20px;
		}

		@include min-screen($scale){
			height: 54.7833px;
		}
	}
}
.compare-table__row{
	margin-bottom: 40px;

	@include max-screen($md){
		margin-bottom: 20px;
	}
	
	.compare-table__title{
		visibility: hidden;
	}
}
.compare-table__title{
	margin-bottom: 12px;
	font-weight: 700;
	font-size: rem(22);
	line-height: rem(20);
	position: sticky;

	@include max-screen($md){
		margin-bottom: 8px;
		font-size: 14px;
	}
}
.compare-table__cols{
	display: flex;

}
.compare-table__col{
	flex: 0 0 224px;
	max-width: 224px;
	margin-right: 16px;
	overflow: hidden;
	white-space: nowrap;

	@include max-screen($md){
		flex: 0 0 140px;
		max-width: 140px;
	}
}
/*--------------------END page-compare----------------------*/ 