/*--------------------page-profile----------------------*/
.page-profile {
	.back-title {
		padding-left: 0;	
		color: $accent;
		.icon{
			display: none;
		}
	}	
	.page-top-block__content{
		img{
			max-width: 29px;
			max-height: 22px;
		}
	}
}
.wrapper {}
.back-link {}
.wrapper-smart {}
.wrapper-flex {}
.page-profile__main {}
.page-profile__sidebar {
	@include col();
	flex: 0 0 224px; 

	@include max-screen($sm){
		flex: 0 0 calc(100% - 16px); 
		
	}

	@include min-screen($scale){
		flex: 0 0 300px; 
		
	}
 }
.page-profile__nav {

	@include min-screen($sm){
		position: sticky;
		top: 100px;
		padding-bottom: 20px;
		
	}
}
.profile-menu {}
.profile-menu__item {
	list-style-type: none;


	&:not(:last-child){
		margin-bottom: 11px;
	}
}
.profile-menu__link {
	font-size: rem(14);
	line-height: rem(17);
	color: $text;
	opacity: 0.6;
	text-decoration: none;

	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				opacity: 1;
			}
		}
	
	&.active {
		font-weight: 700;
		opacity: 1;
		text-decoration: none;
	}
}
.page-profile__content {
	@include col();
	flex: 1 1 calc(100% - 224px - 32px);
	padding-bottom: 52px;

	@include max-screen($sm){
		flex: 0 0 calc(100% - 16px);
		max-width: calc(100% - 16px);
	}

	@include min-screen($scale){
		flex: 1 1 calc(100% - 300px - 32px);
		
	}

	.form{
		@include min-screen($md){
			max-width: rem(544);
			
		}
	}
}
.profile-personal {
	&__address{
		overflow: hidden;

		.form__row-flex{
			display: flex;
			margin-bottom: 22px;
			margin-left: -3.5px;
			margin-right: -3.5px;

			.form__label{
				width: calc(100% / 3 - 7px);
				margin-left: 3.5px;
				margin-right: 3.5px;
			}
		}
		.light-label{
			margin-bottom: 30px;
			align-items: flex-start;
		}
	}
}
.profile-personal__loyalty {
	margin-bottom: 24px;
}
.profile-user {
	display: flex;
	margin-bottom: 21px;
}
.profile-user__img {
	width: 132px;
	height: 132px;
	flex-shrink: 0;
	margin-right: 21px;
	padding-bottom: 0;
	background-color: $gray-l;
	background-image: url($img + 'page-profile/shtrih.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size:100% 100%;
	border: 1px solid $border;
	
	.photo-remove {
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 2;

		.icon{
			color: #fff;
		}
	}
}

.icon-remove {}
._fit-img {}
.profile-user__info {
	display: flex;
	flex-direction: column;
}
.profile-user__miniature {
	display: flex;
	align-items: flex-start;
}
.miniature-profile-user {

}
.miniature-profile-user__img {
	position: relative;
	width: 32px;
	height: 32px;
	overflow: hidden;
	flex-shrink: 0;
	margin-right: 8px;
	border-radius: 50%;
	background-color: $gray-l;

	img{
		@include absolute-center;
	}
}
.miniature-profile-user__text {

}
.profile-user__name {
	font-weight: 700;
	font-size: rem(16);
	line-height: rem(19);
	color: $accent;
}
.profile-user__note {
	font-size: rem(12);
	line-height: rem(15);
	opacity: 0.3;
}
.profile-user__add-photo {
	margin-top: auto;
	font-size: rem(12);
	line-height: rem(15);
	color: $text;
	opacity: 0.6;

	&:hover, &:active, &:focus{
		opacity: 0.4;
	}
	
}
.form {}
.form__row {}
.form__row-title {
	.std-link {
		opacity: 0.3;
	}

}
.profile-personal__add-card{
	margin-bottom: 22px;
	display: inline-block;
	margin-left: 98px;
	 font-size: rem(10);
	line-height: rem(12);
	color: $text;
	opacity: 0.6;
}
.profile-personal__top{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.profile-personal__edit{
	margin-left: 16px;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	text-decoration: none;

	&:hover, &:active, &:focus{
		span{
			opacity: 1;

		}
	}
	
	span{
		font-size: rem(12);
		line-height: rem(14);
		text-transform: uppercase;
		color: #A9A9A9;
		opacity: 0.6;

	}
	.icon{
		margin-left: 12px;
		color: #A9A9A9;
		font-size: 20px;
		flex-shrink: 0;
	}
}
.profile-available {
	margin-bottom: 19px;
}
.profile-available__title {
	margin-bottom: 12px;
	font-weight: 700;
	font-size: rem(16);
	line-height: rem(19);
}
.profile-available__row {
	color: $text-l;

	&:not(:last-child){
		margin-bottom: 8px;
	}
	&.error{
		position: relative;

		&:before{
			content: '';
			display: block;
			width: 6px;
			height: 6px;
			border-radius: 50%;
			position: absolute;
			left: -14px;
			top: 7px;
			background-color: $red;
		}
	}
}
.profile-alert {
	display: flex;
	align-items: flex-start;
	padding: 20px 20px 18px 20px;
	margin-top: 27px;
	background-color: #F4F4F4;
}
.icon-attention {
	flex-shrink: 0;
	margin-right: 16px;
	font-size: 20px;
	color: $red;
}

.profile-alert__content {}
.profile-alert__title {
	margin-bottom: 10px;
	font-weight: 700;
	color: $red;
}
.profile-history{
	.none-page-cart__text{
		max-width: none;
	}

}
._tabs {}
.tabs__buttons {}
.tags {}
.profile-history__tabs-wrapper{
    margin-bottom: 25px;
    width: calc(100% + 12px);
    height: 25px;
    overflow: hidden;

    @include min-screen($scale){
	    height: 30px;
    }
}
.profile-history__tabs {
	flex-wrap: nowrap;
	overflow-x: auto;
    padding-bottom: 5px;
	.tag {
		background-color: transparent;
		&.active {
			color: #fff;
			background-color: $accent;
			border-color: $accent;
		}
	}

}
.tab {}
.profile-history__tabs-item{
	margin-right: 4px;
}
.tag-count {}
.tabs__container {}
.profile-history__tabs-contaner {}
.tab-content {}
.profile-order {
	padding: 12px 21px 17px 21px;
	background-color: $gray-l;


	&:not(:last-child){
		margin-bottom: 20px;
	}

	.cart-prod-count__row {
		font-size: rem(14);
		line-height: rem(16);

		&:not(:last-child) {
		    margin-bottom: 4px;
		}
	}
	.cart-prod-count__key {
		font-weight: 400;
	}
	.cart-prod-count__val {
		font-size: rem(16);
		line-height: rem(19);
	}
	.cart-prod-count__row--total {
		align-items: flex-end;
	}
}
.profile-order__header {
	display: flex;
	align-items: flex-end;
	margin-bottom: 12px;
	justify-content: space-between;
}
.profile-order__id {
	font-weight: 700;
	font-size: 14px;
	line-height: rem(20);
}
.profile-order__actions {
	flex-shrink: 0;
	margin-left: 16px;
	display: flex;
	align-items: flex-end;
}
.profile-order__action {
	font-size: rem(12);
	line-height: rem(15);
	text-transform: uppercase;
	color: #767676;
	transition: opacity .2s;

	&:not(:last-child){
		margin-right: 37px;
	}

	&:hover, &:active, &:focus{
		opacity: 0.5;
	}
	
}
.profile-order__prods {
	overflow: hidden;
	margin-bottom: 11px;
    width: calc(100% + 12px);
    height: 48px;
    overflow: hidden;
}
.profile-order__thumbs {
	display: flex;
	margin-left: -4px;
	margin-right: -4px;
	overflow-x: auto;
	padding-bottom: 10px;
}
.profile-order__thumb {
	width: 48px;
	height: 48px;
	display: block;
	position: relative;
	margin-right: 8px;
	img{
		@include absolute-center;
	}
}
.profile-favourites__tags{

}
.profile-favourites{
	.none-page-cart__text{
		max-width: none;
	}
	.product-cards--catalog{
		padding-top: 0;
	}
	.similar{
		margin-top: 20px;
	}
	.page-main__tagswrap{
		width: calc(100% + 24px);
		position: relative;

		&:after{
			content: "";
		    position: absolute;
		    right: -1px;
		    top: 0;
		    height: 100%;
		    width: 30px;
		    background-image: url(../img/gradient-line.svg);
		    background-position: 100% 0;
		    background-repeat: repeat-y;
		    background-size: contain;
		    z-index: 2;
		    pointer-events: none;

		}
	}
}
.page-profile__order-status{
	margin-bottom: 13px;
	@include col();
	@include size(12);
	font-size: rem(12);
	line-height: rem(15);
}
.page-profile__for-order{
	.catalog-sort{
		margin-bottom: 20px;
		padding-bottom: 5px;
	}
	.product-cards--catalog{
		padding-top: 0;
	}
}
/*--------------------END page-profile----------------------*/ 